.toolbar {
    @apply surface-level-1 elevation-1 rounded-2xl;
    height: 2lh;

    .tooltip-extend-btn {
        @apply hidden;

        svg {
            transition: rotate 150ms;
        }
    }
}

.toolbar-btn-wrapper {
    @apply flex gap-1 items-center w-full;
    height: calc(2lh + var(--spacing) * 4);
    margin-top: calc(var(--spacing) * -2);
    overflow: hidden;
}

.toolbar.has-overflow {
    .toolbar-btn-wrapper {
        flex-wrap: wrap-reverse;
        padding-right: 2lh;
        justify-content: flex-start;
    }

    .tooltip-extend-btn {
        @apply flex absolute bottom-1 right-1;
    }
}

.toolbar.has-overflow.is-extended {
    height: auto;
    .toolbar-btn-wrapper {
        height: auto;
        margin-top: 0;
        overflow: visible;
    }

    .tooltip-extend-btn svg {
        rotate: 180deg;
    }
}

.toolbar-btn-grp {
    @apply flex items-center gap-1 p-1 h-full;
}

.toolbar-separator {
    @apply bg-surface-border rounded-full;
    width: 0.1rem;
    flex-shrink: 0;
    height: calc(2lh * 0.85);
}

.toolbar-btn {
    @apply rounded-xl flex justify-center items-center relative gap-0.5;
    height: 1.5lh;
    width: 1.5lh;

    .icon {
        transition: scale 150ms cubic-bezier(0.175, 0.885, 0.32, 2.2);
    }

    &::before {
        @apply block absolute content-[""] inset-0 rounded-2xl! surface-level-1;
        transition-property: border-radius, inset, opacity;
        transition-duration: 150ms;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 2.2);
        pointer-events: none;
        z-index: -1;
        opacity: 0;
    }

    &:hover {
        &::before {
            @apply -left-0.5 -right-0.5 -top-0.5 -bottom-0.5;
            opacity: 1;
        }

        .icon {
            scale: 1.15;
        }
    }

    &:focus-visible {
        @apply rounded-xl;
        outline-style: solid;
        outline-color: var(--btn-primary-bg-active);
        outline-width: 2px;
        outline-offset: 2px;
        &::before {
            @apply -inset-0.5 rounded-2xl;
            opacity: 1;
        }
        .icon {
            scale: 1.15;
        }
    }

    &:active {
        --glass-hightlight-intensity: 2;
        --glass-shadow-intensity: 2;
        &::before {
            background-color: color-mix(
                in srgb,
                var(--btn-bg-active, var(--btn-bg)) 20%,
                transparent
            );
            @apply -left-1 -right-1 -top-1 -bottom-1;
        }
    }
}

.toolbar-btn-tooltip {
    top: unset;
    bottom: 16px;
    position-area: top center;

    &:popover-open {
        opacity: 1;
        transform: scale(1) translateY(0%);
    }

    @starting-style {
        &:popover-open {
            opacity: 0.95;
            transform: scale(0.95) translateY(10%);
        }
    }
}
