@import "./TagTreeFilter.css";
@import "./TagTree.css";
@import "./DatePicker.css";

.memo-list-filter {
    @apply xs:z-20 overscroll-none flex flex-col border border-surface-border rounded-2xl tablet:pt-2 tablet:space-y-2 shadow-xs bg-surface-level-2;

    .date-picker {
        @apply px-2 w-full text-sm;
        /* @apply px-2 pt-1 text-sm mx-1; */
        /* @apply rounded-2xl border border-surface-border; */
        /* @apply inset-shadow-xs; */
        /* @apply shadow-sm; */

        /* width: calc(100% - var(--spacing) * 2); */

        .date-picker-header {
            @apply flex items-center justify-between mb-1;

            .btn {
                @apply px-0.5 md:px-1!;
            }
        }

        .date-picker-dropdowns {
            @apply flex gap-2;

            select {
                @apply hover:bg-surface-level-1 hover:shadow-sm cursor-pointer p-0.5;
            }
        }

        .calendar-grid {
            @apply w-full text-center;
        }

        .calendar-grid-header .calendar-grid-cell {
            @apply text-center p-0 font-semibold text-xs text-neutral pointer-events-none;
        }

        .calendar-grid-body .calendar-grid-cell {
            @apply flex items-center justify-center p-0 w-full h-full;

            span {
                @apply size-9 flex items-center justify-center cursor-pointer;
            }

            &[data-outside-month] {
                @apply text-neutral-light;
            }

            &.today span {
                @apply text-primary dark:text-primary-light;
            }

            &[data-disabled] {
                span {
                    @apply text-neutral-extra-light! cursor-default dark:text-neutral!;
                }

                &:hover span {
                    @apply bg-transparent text-neutral;
                }
            }
        }
    }

    .tag-tree-filter:not(.is-offcanvas) {
        @apply pt-0;
    }

    .short-day-picker {
        @apply w-full flex px-2;

        @media (max-width: 1024px) {
            @apply pt-1;
        }

        .calendar-grid {
            @apply w-full flex flex-col;
        }

        .calendar-grid-header {
            @apply w-full flex pointer-events-none;

            tr {
                @apply w-full grid grid-cols-7;
            }

            th {
                @apply font-light;
            }
        }

        .calendar-grid-header .calendar-grid-cell {
            @apply text-xs py-1 h-min;
        }

        .calendar-grid-body {
            @apply w-full flex flex-row flex-nowrap justify-start items-center w-full overflow-x-auto overscroll-none;
            scroll-snap-type: x mandatory;
            scrollbar-width: thin;

            tr {
                @apply grid grid-cols-7;
                flex-basis: 100%;
                flex-shrink: 0;
                scroll-snap-align: center;
            }

            .calendar-grid-cell {
                @apply border border-neutral-extra-light;
                @apply dark:border-neutral-extra-dark;
            }
        }

        /* biome-ignore lint/style/noDescendingSpecificity: false positive due to nesting */
        .calendar-grid-cell {
            @apply flex items-center justify-center py-2 text-sm cursor-pointer size-10 p-0;

            /* biome-ignore lint/style/noDescendingSpecificity: false positive due to nesting */
            &[data-outside-month] {
                @apply text-neutral border-neutral-extra-light/20;
                @apply dark:bg-neutral-extra-dark/20 dark:text-neutral-dark;
            }

            /* biome-ignore lint/style/noDescendingSpecificity: false positive due to nesting */
            &[data-disabled] {
                @apply text-neutral-extra-light cursor-default bg-neutral-extra-light/10 border-neutral-extra-light/10;
                @apply dark:text-neutral dark:bg-neutral-extra-dark/10 dark:border-neutral-extra-dark/10;
            }

            &.today {
                @apply text-primary-dark dark:text-primary-light font-semibold;
            }
        }
    }

    .collapsibile-date-picker {
        @apply flex flex-col tablet:hidden;

        .state-filter {
            @apply hidden mt-2;
        }

        /* biome-ignore lint/style/noDescendingSpecificity: false positive due to nesting */
        & > .btn {
            @apply py-2!;

            /* biome-ignore lint/complexity/noImportantStyles: must be overriden */
            min-height: auto !important;

            &:active {
                @apply bg-transparent text-primary;
            }

            &:focus,
            &:focus-visible {
                @apply -outline-offset-1 bg-transparent text-primary;
            }

            svg {
                @apply size-5;
            }
        }

        .date-picker {
            @apply pt-2;
            display: none;

            .nav-btn {
                @apply px-2!;
            }

            .nav {
                @apply top-1;
            }
        }

        &.expanded {
            @apply flex-col;

            & > .btn {
                @apply mt-1 p-0 rounded-t-none;
            }

            .short-day-picker {
                display: none;
            }

            .date-picker {
                display: block;
            }

            .state-filter {
                @apply block;
            }
        }
    }
}

.state-filter-items {
    @apply grid grid-cols-2 gap-1 items-center justify-stretch w-full mb-2;

    .state-filter-item {
        @apply flex gap-2 items-center justify-center p-1 text-sm cursor-pointer text-neutral-extra-dark;
        @apply dark:text-neutral-light;

        &:hover {
            @apply text-text;
        }

        &[data-pressed] {
            @apply text-primary font-semibold;
            @apply dark:text-primary-light dark:border-neutral;
        }
    }
}

.filter-offcanvas-trigger {
    --btn-border-color: var(--color-neutral-dark);
    --btn-bg: var(--color-text);
    --btn-bg-active: var(--color-neutral-light);
    @apply tablet:hidden -ms-1 size-10 ps-0! pe-0! focus:outline-0 focus-visible:outline-2 focus-visible:outline-neutral-dark;

    .icon {
        @apply border-0! bg-transparent! items-center! p-0! justify-center;
    }

    /* biome-ignore lint/style/noDescendingSpecificity: i dunno */
    &:hover {
        --btn-bg: var(--color-neutral-extra-light);
        --btn-border-color: var(--color-neutral-light);
    }

    /* biome-ignore lint/style/noDescendingSpecificity: i dunno */
    &:hover .icon svg {
        /* biome-ignore lint/complexity/noImportantStyles: must be overriden */
        animation: none !important;
        /* biome-ignore lint/complexity/noImportantStyles: must be overriden */
        color: var(--color-text) !important;
    }
}

.filter-offcanvas {
    padding-top: max(
        env(safe-area-inset-top),
        calc(var(--spacing) * 4)
        /* biome-ignore lint/complexity/noImportantStyles: must be overriden */
    ) !important;
    padding-bottom: calc(
        env(safe-area-inset-bottom, 0) +
        var(--spacing) *
        4
        /* biome-ignore lint/complexity/noImportantStyles: must be overriden */
    ) !important;

    & > nav {
        @apply w-full flex justify-center;
    }

    .offcanvas-title {
        @apply text-xl mb-2;
    }

    /* biome-ignore lint/style/noDescendingSpecificity: i dunno */
    .state-filter {
        @apply grid-cols-1 grid-cols-1 grid!;
    }

    .tag-tree {
        @apply block;
    }
}

.appheader:has(input:focus) {
    .filter-offcanvas-trigger {
        display: none;
    }
}

.memo-list-filter-search-desktop {
    @apply hidden tablet:block bg-surface-level-1 border-b border-surface-border w-full p-2 rounded-t-2xl;
}

.memo-list-filter-search {
    /* @apply flex-1; */
    /* @apply tablet:w-sm tablet:focus-within:w-lg tablet:transition-[width] tablet:duration-150; */

    @media (max-width: 1024px) {
        input {
            @apply py-1.5 pe-1 ps-7;
            font-size: 1rem;
        }
    }

    &.collapsible {
        @apply tablet:hidden;

        input,
        input::placeholder {
            @apply text-surface-level-2;
        }

        .icon {
            @apply pointer-events-none size-10 justify-center p-0!;

            svg {
                @apply size-4;
            }
        }

        .input-field {
            @apply flex justify-end flex-1;
        }

        .input-field .input {
            @apply size-10;
            /* biome-ignore lint/complexity/noImportantStyles: must be overriden */
            padding: 0 !important;
            /* biome-ignore lint/complexity/noImportantStyles: must be overriden */
            padding-inline: 0 !important;
            /* biome-ignore lint/complexity/noImportantStyles: must be overriden */
            padding-block: 0 !important;
        }

        &:has(*:focus) {
            .input-field {
                & > div {
                    @apply flex-1;
                }
            }

            .input-field .input {
                @apply pl-8! py-1! px-1! text-text;
                width: 100%;
            }

            .icon {
                @apply p-0.5 pl-2;
            }

            input::placeholder {
                @apply text-surface-level-1;
            }
        }
    }
}

.appheader:has(.memo-list-filter-search.collapsible input:focus) {
    .memo-list-header {
        display: none;
    }
}
