@import "./TagTreeFilter.css";
@import "./TagTree.css";

.memo-list-filter {
    @apply overscroll-none flex flex-col;

    .date-picker {
        @apply px-2 w-full;

        .date-picker-header {
            @apply flex items-center justify-between mb-1;

            .btn {
                @apply px-0.5 md:px-1!;
            }
        }

        .date-picker-dropdowns {
            @apply flex gap-2;

            select {
                @apply hover:bg-surface-level-1 hover:shadow-sm cursor-pointer p-0.5;
            }
        }

        .calendar-grid {
            @apply w-full text-center;
        }

        .calendar-grid-header .calendar-grid-cell {
            @apply text-center p-0 font-semibold text-sm text-subtle pointer-events-none;
        }

        .calendar-grid-body .calendar-grid-cell {
            @apply flex items-center justify-center text-base p-0 w-full h-full;

            span {
                @apply size-10 rounded-full flex items-center justify-center cursor-pointer;
            }

            &[data-outside-month] {
                @apply text-subtle-light;
            }

            &.today span {
                @apply text-primary dark:text-primary-light;
            }

            &[data-selected] {
                &:hover span,
                /* biome-ignore lint/style/noDescendingSpecificity: false positive due to nesting */
                span {
                    @apply text-primary-dark bg-primary-extra-light border border-primary rounded-full font-semibold;
                    @apply dark:bg-primary-dark dark:text-primary-light;
                }
            }

            &:hover span {
                @apply bg-subtle-extra-light dark:bg-surface-level-2;
            }

            &[data-disabled] {
                /* biome-ignore lint/style/noDescendingSpecificity: false positive due to nesting */
                span {
                    @apply text-subtle-extra-light! cursor-default dark:text-subtle!;
                }

                &:hover span {
                    @apply bg-transparent text-subtle;
                }
            }
        }
    }

    .short-day-picker {
        @apply w-full flex;

        @media (max-width: 1024px) {
            @apply pt-1;
        }

        .calendar-grid {
            @apply w-full flex flex-col;
        }

        .calendar-grid-header {
            @apply w-full flex pointer-events-none;

            tr {
                @apply w-full grid grid-cols-7;
            }

            th {
                @apply font-light;
            }
        }

        .calendar-grid-body {
            @apply w-full flex flex-row flex-nowrap justify-start items-center w-full overflow-x-auto overscroll-none;
            scroll-snap-type: x mandatory;
            scrollbar-width: thin;

            tr {
                @apply grid grid-cols-7;
                flex-basis: 100%;
                flex-shrink: 0;
                scroll-snap-align: center;
            }

            /* biome-ignore lint/style/noDescendingSpecificity: false positive due to nesting */
            .calendar-grid-cell {
                @apply border border-subtle-extra-light rounded-full;
                @apply dark:border-subtle-extra-dark;
            }
        }

        /* biome-ignore lint/style/noDescendingSpecificity: false positive due to nesting */
        .calendar-grid-cell {
            @apply flex items-center justify-center py-2 text-sm cursor-pointer size-10 p-0;

            /* biome-ignore lint/style/noDescendingSpecificity: false positive due to nesting */
            &[data-outside-month] {
                @apply text-subtle border-subtle-extra-light/20;
                @apply dark:bg-subtle-extra-dark/20 dark:text-subtle-dark;
            }

            /* biome-ignore lint/style/noDescendingSpecificity: false positive due to nesting */
            &[data-disabled] {
                @apply text-subtle-extra-light cursor-default bg-subtle-extra-light/10 border-subtle-extra-light/10;
                @apply dark:text-subtle dark:bg-subtle-extra-dark/10 dark:border-subtle-extra-dark/10;
            }

            &.today {
                @apply text-primary-dark dark:text-primary-light font-semibold;
            }

            /* biome-ignore lint/style/noDescendingSpecificity: false positive due to nesting */
            &[data-selected] {
                @apply text-primary-extra-dark bg-primary-extra-light border border-primary-extra-dark;
                @apply dark:bg-primary-dark dark:text-primary-light;
            }
        }
    }

    .collapsibile-date-picker {
        @apply flex flex-col tablet:hidden;

        .state-filter {
            @apply hidden mt-2;
        }

        & > .btn {
            @apply py-2!;

            min-height: auto !important;

            &:active {
                @apply bg-transparent text-primary;
            }

            &:focus,
            &:focus-visible {
                @apply -outline-offset-1 bg-transparent text-primary;
            }

            svg {
                @apply size-5;
            }
        }

        .date-picker {
            @apply pt-2;
            display: none;

            .nav-btn {
                @apply px-2!;
            }

            .nav {
                @apply top-1;
            }
        }

        &.expanded {
            @apply flex-col;

            & > .btn {
                @apply mt-1 p-0 rounded-t-none;
            }

            .short-day-picker {
                display: none;
            }

            .date-picker {
                display: block;
            }

            .state-filter {
                @apply grid;
            }
        }
    }
}

/* biome-ignore lint/style/noDescendingSpecificity: false positive due to nesting */
.state-filter {
    @apply grid grid-cols-2 gap-1 items-center justify-stretch w-full mb-2;

    .state-filter-item {
        @apply flex gap-2 items-center justify-center p-1 text-sm cursor-pointer text-subtle-extra-dark;
        @apply dark:text-subtle-light;

        &:hover {
            @apply text-text;
        }

        &[data-pressed] {
            @apply text-primary font-semibold;
            @apply dark:text-primary-light dark:border-subtle;
        }
    }
}

.filter-offcanvas-trigger {
    --btn-border-color: var(--color-subtle-dark);
    --btn-bg: var(--color-text);
    --btn-bg-active: var(--color-subtle-light);
    @apply tablet:hidden -ms-1 size-10 ps-0! pe-0! focus:outline-0 focus-visible:outline-2 focus-visible:outline-subtle-dark;

    .icon {
        @apply border-0! bg-transparent! items-center! p-0! justify-center -ml-1;
    }

    &:hover {
        --btn-bg: var(--color-subtle-extra-light);
        --btn-border-color: var(--color-subtle-light);
    }

    &:hover .icon svg {
        animation: none !important;
        color: var(--color-text) !important;
    }
}

.filter-offcanvas {
    padding-top: max(env(safe-area-inset-top), calc(var(--spacing) * 4)) !important;
    padding-bottom: calc(env(safe-area-inset-bottom, 0) + var(--spacing) * 4) !important;

    & > nav {
        @apply w-full flex justify-center;
    }

    .offcanvas-title {
        @apply text-xl mb-2;
    }

    .state-filter {
        @apply grid-cols-1 grid-cols-1 grid!;
    }

    .tag-tree {
        @apply block;
    }
}

.appheader:has(input:focus) {
    .filter-offcanvas-trigger {
        display: none;
    }
}

.memo-list-filter-search {
    @apply flex-1;
    @media (max-width: 1024px) {
        input {
            @apply py-1.5 pe-1 ps-7;
            font-size: 1rem;
        }
    }

    &.collapsible {
        @apply tablet:hidden;

        .icon {
            @apply pointer-events-none size-10 justify-center p-0!;
        }

        .input-field {
            @apply flex justify-end flex-1;
        }

        .input-field .input {
            @apply size-10;
            padding: 0 !important;
            padding-inline: 0 !important;
            padding-block: 0 !important;
        }

        &:has(*:focus) {
            .input-field {
                & > div {
                    @apply flex-1;
                }
            }

            .input-field .input {
                @apply pl-8! py-1! px-1! text-text;
                width: 100%;
            }

            .icon {
                @apply p-0.5 pl-2;
            }
        }
    }
}

.appheader:has(.memo-list-filter-search.collapsible input:focus) {
    .memo-list-header {
        display: none;
    }
}

.memo-list-filter .overflow-blur {
    @apply relative hidden tablet:block;
    pointer-events: none;

    &::after {
        @apply hidden absolute h-15 -top-13 tablet:block;
        content: "";
        width: calc(100% - var(--spacing) * 2);
        backdrop-filter: blur(2px);
        mask-image: linear-gradient(to bottom, transparent 10%, black 50%);
    }
}
