.tag-tree-filter {
    @apply overflow-auto flex-1 py-2 overscroll-contain pb-6;
    scrollbar-width: thin;
}

.tag-tree-filter.is-offcanvas {
    @apply bg-surface-level-1 shadow-md rounded-l-lg px-2;
    padding-top: env(safe-area-inset-top, calc(2 * var(--spacing)));
    padding-bottom: calc(env(safe-area-inset-bottom, 0) + 2 * var(--spacing));
    display: block;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 80svw;
    z-index: 10000;
    transition: right 250ms;

    &[data-is-closing="true"] {
        right: -80svw;
    }

    .tag-tree {
        @apply px-0;
    }

    @starting-style {
        right: -80svw;
    }
}

.tag-tree-filter-sidebar-overlay {
    @apply fixed left-0 top-0 bottom-0 right-0 flex items-center justify-center;
    @apply animate-in fade-in duration-250;
    background-color: color-mix(
        in srgb,
        var(--color-modal-overlay-bg) 80%,
        transparent
    );
    z-index: 9999;
    backdrop-filter: blur(2px);
    opacity: var(--backdrop-opacity, 1);

    &[data-is-closing="true"] {
        transition: opacity 250ms;
        opacity: 0;
    }
}

.tag-tree-filter-sidebar-drag-handle {
    position: fixed;
    left: 15svw;
    top: 0;
    width: 15svw;
    height: 100%;
    z-index: 10000;
    touch-action: none;
}

:root:has(.tag-tree-filter.is-offcanvas[data-is-open="true"]) {
    /* biome-ignore lint/complexity/noImportantStyles: must be overriden */
    overflow: hidden !important;
    /* biome-ignore lint/complexity/noImportantStyles: must be overriden */
    overscroll-behavior: contain !important;
}
