.memo-list-tag-filter {
    @apply overflow-auto flex-1 overscroll-contain relative px-1.5 pb-6;
    scrollbar-width: thin;

    .overflow-blur {
        @apply sticky -bottom-10 -mb-20;
    }

    --tag-tree-overflow-colour: rgba(255, 255, 255, 1);

    .tag-tree {
        &::after {
            @apply sticky -bottom-6 h-16 left-0 right-0 -mb-6;
            display: block;
            pointer-events: none;
            content: "";
            width: 100%;
            z-index: 100;

            backdrop-filter: blur(2px);
            mask-image: linear-gradient(to bottom, transparent 10%, black 50%);
            background-image: linear-gradient(
                to bottom,
                transparent,
                var(--tag-tree-overflow-colour) 90%
            );
        }

        & > .tag-tree-item:last-child {
            @apply -mb-2;
        }
    }
}
