.tag-tree-item {
    @apply w-full text-sm my-0.5;

    span {
        @apply flex-1;
    }

    .icon {
        @apply text-subtle-dark dark:text-subtle;
    }

    &[aria-expanded="true"]
        > .tag-tree-item-content
        > .tag-tree-item-expand-toggle-btn
        svg {
        @apply rotate-90 mt-0.5;
    }

    &[aria-selected="true"] > .tag-tree-item-content {
        @apply bg-surface-level-2 shadow text-primary;
        .tag-tree-item-count {
            @apply text-primary;
        }
    }

    .tag-tree-item-children {
        @apply w-full ps-4;
    }

    &:focus-visible {
        @apply outline-none;
        & > .tag-tree-item-content {
            @apply outline outline-2 outline-primary-dark -outline-offset-3 text-primary;
        }
    }
}

/* biome-ignore lint/style/noDescendingSpecificity: false positive due to nesting */
.tag-tree-item-content {
    @apply w-full flex items-center cursor-pointer rounded-lg xs:hover:bg-surface-level-2 hover:shadow active:bg-subtle ps-2 pe-3 py-1;
    @apply dark:xs:hover:bg-subtle-extra-dark;

    /* biome-ignore lint/style/noDescendingSpecificity: false positive due to nesting */
    .tag-tree-item-count {
        @apply text-subtle-dark dark:text-subtle;
    }
}

.tag-tree-item-expand-toggle-btn {
    @apply w-6 flex items-center justify-center hover:bg-inherit rounded-lg cursor-pointer py-0.5;
    /* biome-ignore lint/style/noDescendingSpecificity: false positive due to nesting */
    svg {
        transition: rotate 0.25s;
    }
}
