.main:has(.init-setup-screen) {
    position: relative;
    width: 100svw;
    height: 100svh;
    overflow: hidden;
    padding-bottom: env(safe-area-inset-bottom, 0);
    padding-top: env(safe-area-inset-top, 0);
}

.init-setup-screen {
    @apply flex flex-1 xs:items-center xs:justify-center w-full h-full;
    @apply px-4 xs:px-0;
}

.setup-window {
    @apply pt-10 tablet:pt-0 w-full xs:max-w-[500px] tablet:min-w-[500px];
}

.setup-window-content {
    @apply flex flex-col w-full gap-18 xs:gap-0;
    @apply animate-in fade-in-50 duration-500 slide-in-from-bottom-32;

    h1 {
        @apply text-7xl mb-10 font-semibold;
    }

    .btn.primary {
        --btn-border-color: var(--color-body-bg-contrast);
        @apply border-2;
    }
}

.init-setup-screen-footer {
    @apply fixed bottom-0 p-2 flex justify-end w-full;
}
