.theme-mode-transition {
    view-transition-name: theme-mode-transition;
}

:root::view-transition-old(theme-mode-transition) {
    display: block !important;
    pointer-events: none;
}

:root::view-transition-new(theme-mode-transition) {
    animation: theme-mode-transition 250ms linear !important;
    animation-delay: 10ms;
    pointer-events: none;
}



@keyframes theme-mode-transition {
    0% {
        clip-path: circle(0%);
    }

    100% {
        clip-path: circle(100%);
    }
}
