.dropdown-menu-btn.is-open {
    position: relative;
    &::before {
        background-color: color-mix(
            in srgb,
            var(--btn-bg-active, var(--btn-bg)) 20%,
            transparent
        );
    }
}

.dropdown-menu-popover {
    @apply absolute p-1 overflow-visible rounded-2xl surface-level-2 elevation-2;
    inset: auto;
    margin: 0;
    top: anchor(top);
    justify-self: anchor-center;
    min-width: anchor-size(width);
    position-area: bottom center;
    position-try-fallbacks:
        --dropdown-menu-list,
        bottom span-left,
        top;

    transition:
        opacity 150ms cubic-bezier(0, 0.72, 0.74, 1),
        transform 150ms cubic-bezier(0, 0.72, 0.74, 1);

    &:popover-open {
        opacity: 1;
        transform: scale(1);
        translate: 0 0;
    }

    @starting-style {
        &:popover-open {
            opacity: 0.95;
            transform: scale(0.45);
            translate: 0 -50%;
        }
    }
}

.dropdown-menu-list {
    @apply rounded-xl space-y-1;

    &:focus-visible {
        @apply outline-2 outline-primary outline-offset-4;
    }
}

.dropdown-menu-item {
    @apply w-full rounded-xl px-3 py-2 box-border outline-hidden text-sm select-none;

    min-width: max-content;
    transition: scale 150ms cubic-bezier(0.175, 0.885, 0.32, 2.2);

    .icon {
        transition: scale 150ms cubic-bezier(0.175, 0.885, 0.32, 2.2);
    }

    &:active {
        @apply bg-primary text-primary-contrast;
    }

    &[aria-disabled="true"] {
        @apply opacity-40 cursor-default;

        &:hover {
            @apply border-transparent text-text;
        }

        &:active {
            @apply text-text bg-transparent;
        }
    }

    .description {
        @apply opacity-80 text-xs;
    }
}

.dropdown-menu-list:focus-visible .dropdown-menu-item.has-focus {
    @apply surface-level-1;
    --color-surface-level-1: var(--btn-bg);
    scale: 1.01;
    .icon {
        scale: 1.15;
    }
}

@media not (hover: none) {
    .dropdown-menu-item:not([aria-disabled="true"]):hover {
        @apply surface-level-1;
        --color-surface-level-1: var(--btn-bg);
        scale: 1.01;
        .icon {
            scale: 1.15;
        }
    }
}

.dropdown-menu-item.destructive {
    @apply text-danger;

    &:focus-visible,
    &.has-focus,
    &:not([aria-disabled="true"]):hover {
        @apply text-danger-extra-dark;
        --color-surface-level-1: var(--color-danger-light);
    }

    &[aria-disabled="true"] {
        @apply opacity-50 bg-danger-extra-light text-danger-extra-dark;
    }
}

.dropdown-menu-list.sm .dropdown-menu-item {
    @apply px-2 py-1;
}

.dropdown-menu-item-label {
    @apply flex items-center gap-2 min-w-25;
}

@position-try --dropdown-menu-list {
    inset: unset;
    margin: unset;
    bottom: calc(anchor(top) + 3px);
    justify-self: anchor-start;
    position-area: none;
}
