.DS_Store

.bin
test/manual

.vscode
.idea

build
*.junit.xml
server/internal/ingress/app/assets/

node_modules
app/.storybook/public
.cache

# Playwright
test-results
playwright-report
blob-report
playwright

# Cargo
app/src-tauri/target
app/src-tauri/gen/schemas
