.memo-screen {
    @apply hidden flex-1 relative;
    --overflow-mask-z: 100;

    min-height: calc(100svh - var(--pt) - var(--pb));
    padding-top: calc(var(--spacing) * 1.5);

    @media (min-width: 768px) {
        margin-left: calc(var(--sidebar-width) + var(--spacing) * 1);
    }
}

.memo-screen-oveflow-mask {
    --overflow-mask-height: calc(env(safe-area-inset-top, 0px) + 4lh);
    @media (min-width: 768px) {
        --overflow-mask-height: calc(env(safe-area-inset-top, 0px) + 1lh);
    }
}

.memo-screen-drag-handle {
    @apply fixed;
    width: 15vw;
    left: -5vw;
    z-index: 200;
    touch-action: none;
    top: calc(env(safe-area-inset-top, 0px) + var(--spacing) * 10);
    bottom: calc(env(safe-area-inset-bottom, 0px) + var(--spacing) * 10);

    @media (min-width: 768px) {
        @apply hidden;
    }
}

.memo-screen:has(.memo.is-editing) .memo-screen-drag-handle {
    display: none;
}

.memo-screen:has([aria-hidden="false"]) {
    @apply block;
}

.open-memo-tab-panels {
    display: contents;
}

.memo-tab-panel {
    @apply flex flex-col relative;
    width: 100%;
    min-height: calc(100vh - env(safe-area-inset-bottom, 0px));
    container: memo-tab-panel / size;

    &:focus {
        @apply outline-none;
    }

    &:focus-visible {
        @apply outline-3 outline-offset-0 outline-primary rounded-2xl;
    }

    animation: memo-open-from-right 120ms
        linear(
            0,
            0.012 0.9%,
            0.05 2%,
            0.411 9.2%,
            0.517 11.8%,
            0.611 14.6%,
            0.694 17.7%,
            0.765 21.1%,
            0.824 24.8%,
            0.872 28.9%,
            0.91 33.4%,
            0.939 38.4%,
            0.977 50.9%,
            0.994 68.4%,
            1
        );

    @media (min-width: 768px) {
        animation: unset;
        translate: unset;
        padding-top: var(--pt);
        padding-bottom: var(--pb);
        padding-right: var(--pl);
    }
}

.dragging-memo-tab .memo-tab-panel {
    @apply shadow-xl;
    translate: var(--memo-tab-back-progress, 0%) 0;
    touch-action: none;
}

:root:has(.dragging-memo-tab) {
    touch-action: none;
}

.memo-tab-panel-memo {
    @apply bg-body py-0 border border-surface-border shadow-xs flex-1;
    @apply flex justify-center;
    padding-top: env(safe-area-inset-top, 0px);

    @media (min-width: 768px) {
        @apply rounded-2xl pt-0;
    }

    @container (width >= 1024px) {
        @apply px-4 pt-0;
    }
}

.memo-tab-panel-memo .memo {
    width: 100%;
    height: auto;
    min-height: calc(100cqh - var(--spacing) * 8);
    --max-content-width: 1024px;

    .memo-content {
        @apply px-2;
    }

    .memo-tab-panel-close-btn {
        @apply fixed;
        top: max(env(safe-area-inset-top, 0px), calc(var(--spacing) * 2));
        order: 1;
        .btn {
            @apply aspect-square h-11 w-11 elevation-2;
        }

        @container (width >= 1224px) {
            top: max(env(safe-area-inset-top, 0px), calc(var(--spacing) * 4));
            left: calc(var(--sidebar-width) + var(--spacing) * 3);

            .btn {
                @apply h-11 w-11;
                aspect-ratio: unset;
            }
        }
    }

    .memo-actions .btn .icon,
    .memo-tab-panel-close-btn .icon {
        transition: filter 200ms linear;
        transition-delay: 100ms;
        filter: blur(0px);
        @starting-style {
            filter: blur(10px);
        }

        @container (width >= 1224px) {
            @starting-style {
                filter: blur(0px);
            }
        }
    }

    .memo-title-mobile-float {
        @apply ml-14;
        position: fixed;
        top: calc(env(safe-area-inset-top, 0px) + 1lh + var(--spacing) * 1.5);
        left: max(env(safe-area-inset-left, 0px), calc(2 * var(--spacing)));
        right: max(env(safe-area-inset-right, 0px), calc(2 * var(--spacing)));
        z-index: calc(var(--overflow-mask-z) + 1);
        pointer-events: none;

        & > span {
            @apply mr-28;
            display: block;
            font-size: var(--base-font-size);
            font-weight: bold;
            filter: blur(10px);
            opacity: 0;
            animation: mobile-memo-title-float linear;
            animation-timeline: scroll(root);
            animation-range-end: 200px;
            animation-fill-mode: both;
            height: 2lh;
        }

        .memo-date {
            font-size: var(--xs-font-size);
            width: 100%;
            filter: blur(10px);
            opacity: 0;
            animation: mobile-memo-title-float linear;
            animation-timeline: scroll(root);
            animation-range-end: 200px;
            animation-fill-mode: both;
        }

        @container (width >= 768px) {
            @apply hidden;
        }
    }
}

.memo-tab-panel .memo-header .memo-date {
    @apply pb-3 ml-14;

    @container (width >= 768px) {
        @apply ml-0 pb-0;
    }
}

@keyframes mobile-memo-title-float {
    0% {
        opacity: 0;
        translate: 0 2lh;
        filter: blur(10px);
    }

    50% {
        opacity: 0;
        translate: 0 2lh;
        filter: blur(10px);
    }

    to {
        opacity: 1;
        translate: 0 calc(-1 * env(safe-area-inset-top, 2lh) / 2);
        filter: blur(0px);
    }
}

.memo-tab-panel-memo .editor {
    @apply flex items-center;
    min-height: calc(100% - (var(--spacing)));

    .text-editor {
        @apply flex-1 p-2 tablet:p-4;
    }

    .cm-editor {
        height: 100%;
    }
}

.memo-screen .memo-actions {
    @apply elevation-2 fixed right-2;
    top: max(env(safe-area-inset-top, 0px), calc(var(--spacing) * 2));
    z-index: calc(var(--overflow-mask-z) + 1);

    @container (width >= 320px) {
        .memo-actions-sm {
            @apply hidden;
        }

        .memo-actions-md {
            @apply flex;
        }
    }

    @container (width >= 700px) {
        top: max(env(safe-area-inset-top, 0px), calc(var(--spacing) * 4));

        .memo-actions-lg {
            @apply flex;
        }

        .memo-actions-md {
            @apply hidden;
        }

        .memo-actions-sm {
            @apply hidden;
        }
    }
}

.memo-screen .memo-header .memo-tab-panel-close-btn,
.memo-screen .memo-header .memo-actions,
.memo-screen .memo-header .memo-date,
.memo-screen .editor-buttons {
    z-index: calc(var(--overflow-mask-z) + 1);
}

.memo-tab-transition {
    view-transition-name: memo-tab-reveal;

    .memo-tab-panel[aria-hidden="false"] {
        view-transition-name: memo-tab;
    }

    @media (min-width: 768px) {
        view-transition-name: unset;
        .memo-tab-panel[aria-hidden="false"] {
            view-transition-name: unset;
        }
    }
}

:root::view-transition-old(memo-tab-reveal) {
    display: block;
    animation: memo-open-to-left 150ms
        linear(
            0,
            0.012 0.9%,
            0.05 2%,
            0.411 9.2%,
            0.517 11.8%,
            0.611 14.6%,
            0.694 17.7%,
            0.765 21.1%,
            0.824 24.8%,
            0.872 28.9%,
            0.91 33.4%,
            0.939 38.4%,
            0.977 50.9%,
            0.994 68.4%,
            1
        )
        both;
    @media (min-width: 768px) {
        display: none;
    }
}

:root::view-transition-new(memo-tab-reveal) {
    display: none;
}

:root::view-transition-new(memo-tab) {
    animation: memo-open-from-right 150ms
        linear(
            0,
            0.012 0.9%,
            0.05 2%,
            0.411 9.2%,
            0.517 11.8%,
            0.611 14.6%,
            0.694 17.7%,
            0.765 21.1%,
            0.824 24.8%,
            0.872 28.9%,
            0.91 33.4%,
            0.939 38.4%,
            0.977 50.9%,
            0.994 68.4%,
            1
        );
    @media (min-width: 768px) {
        display: none;
    }
}

@keyframes memo-open-from-right {
    from {
        translate: 100% 0;
    }

    to {
        translate: 0 0;
    }
}

@keyframes memo-open-to-left {
    from {
        translate: 0 0;
    }

    to {
        translate: -50% 0;
    }
}

.close-memo-tab-transition {
    view-transition-name: close-memo-tab-list-screen;

    .memo-tab-panel[aria-hidden="false"] {
        view-transition-name: close-memo-tab-closed;
    }

    @media (min-width: 768px) {
        view-transition-name: unset;
        .memo-tab-panel[aria-hidden="false"] {
            view-transition-name: unset;
        }
    }
}

:root::view-transition-group(close-memo-tab-list-screen) {
    animation: none;
}

:root::view-transition-old(close-memo-tab-list-screen) {
    display: none;
    animation: none;
    /* mix-blend-mode: unset; */
}

:root::view-transition-new(close-memo-tab-list-screen) {
    animation: close-memo-tab-list-screen 120ms
        linear(
            0,
            0.012 0.9%,
            0.05 2%,
            0.411 9.2%,
            0.517 11.8%,
            0.611 14.6%,
            0.694 17.7%,
            0.765 21.1%,
            0.824 24.8%,
            0.872 28.9%,
            0.91 33.4%,
            0.939 38.4%,
            0.977 50.9%,
            0.994 68.4%,
            1
        )
        both;

    @media (min-width: 768px) {
        display: none;
    }
}

:root::view-transition-old(close-memo-tab-closed) {
    animation: close-memo-tab-closed 150ms
        linear(
            0,
            0.012 0.9%,
            0.05 2%,
            0.411 9.2%,
            0.517 11.8%,
            0.611 14.6%,
            0.694 17.7%,
            0.765 21.1%,
            0.824 24.8%,
            0.872 28.9%,
            0.91 33.4%,
            0.939 38.4%,
            0.977 50.9%,
            0.994 68.4%,
            1
        )
        both;

    @media (min-width: 768px) {
        display: none;
    }
}

:root::view-transition-new(close-memo-tab-closed) {
    display: none;
    animation: none;
}

@keyframes close-memo-tab-list-screen {
    0% {
        translate: -50% 0;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes close-memo-tab-closed {
    from {
        translate: 0 0;
    }

    to {
        translate: 100% 0;
    }
}
