.memo-screen {
    @apply hidden flex-1 relative;
    --overflow-mask-z: 100;

    min-height: 100dvh;

    @media (min-width: 768px) {
        margin-left: calc(var(--sidebar-width) + var(--spacing) * 1);
    }
}

.memo-screen-oveflow-mask {
    --overflow-mask-height: calc(env(safe-area-inset-top, 0px) + 4lh);
    @media (min-width: 768px) {
        --overflow-mask-height: calc(env(safe-area-inset-top, 0px) + 1lh);
    }
}

.memo-screen-drag-handle {
    @apply fixed;
    width: 15vw;
    left: -5vw;
    z-index: 200;
    touch-action: none;
    top: calc(env(safe-area-inset-top, 0px) + var(--spacing) * 10);
    bottom: calc(env(safe-area-inset-bottom, 0px) + var(--spacing) * 10);

    @media (min-width: 768px) {
        @apply hidden;
    }
}

.memo-screen:has(.memo.is-editing) .memo-screen-drag-handle {
    display: none;
}

.memo-screen:has([aria-hidden="false"]) {
    @apply block;
}

.open-memo-tab-panels {
    display: contents;
}

.memo-tab-panel {
    @apply flex flex-col relative;
    width: 100%;
    /* This weird calc is required, otherwise the swipe back animation doesn't seem to work... */
    min-height: calc(
        100dvh -
        env(safe-area-inset-bottom, 0px) +
        env(safe-area-inset-bottom, 0px)
    );
    container: memo-tab-panel / size;

    &:focus {
        @apply outline-none;
    }

    &:focus-visible {
        @apply outline-3 outline-offset-0 outline-primary rounded-2xl;
    }

    @media (min-width: 768px) {
        animation: unset;
        translate: unset;
        padding-top: var(--pt);
        padding-bottom: var(--pb);
        padding-right: var(--pl);
    }
}

.dragging-memo-tab .memo-tab-panel {
    @apply shadow-xl;
    translate: calc(var(--memo-tab-back-progress, 0) * 100%) 0;
    touch-action: none;
}

:root:has(.dragging-memo-tab) {
    touch-action: none;
}

.memo-tab-panel-memo {
    @apply bg-body rounded-2xl shadow-xs flex-1 rounded-2xl;
    @apply flex justify-center;

    @media (min-width: 768px) {
        @apply pt-0 border border-surface-border;
    }

    @container (width >= 1024px) {
        @apply px-4 pt-0;
    }
}

.memo-tab-panel-memo .memo {
    width: 100%;
    height: auto;
    min-height: calc(100cqh - var(--spacing) * 8);
    --max-content-width: 1024px;
    padding-top: max(env(safe-area-inset-top, 0px), calc(var(--spacing) * 3));
    padding-bottom: max(
        env(safe-area-inset-bottom, 0px),
        calc(var(--spacing) * 3)
    );

    .memo-content {
        @apply px-2;
    }

    .memo-tab-panel-close-btn {
        @apply fixed;
        top: max(env(safe-area-inset-top, 0px), calc(var(--spacing) * 2));
        order: 1;
        .btn {
            @apply aspect-square h-11 w-11 elevation-2;
        }

        @container (width >= 1224px) {
            top: max(env(safe-area-inset-top, 0px), calc(var(--spacing) * 4));
            left: calc(var(--sidebar-width) + var(--spacing) * 3);

            .btn {
                @apply h-11 w-11;
                aspect-ratio: unset;
            }
        }
    }

    .memo-title-mobile-float {
        @apply ml-14;
        position: fixed;
        top: calc(env(safe-area-inset-top, 0px) + 1lh + var(--spacing) * 1.5);
        left: max(env(safe-area-inset-left, 0px), calc(2 * var(--spacing)));
        right: max(env(safe-area-inset-right, 0px), calc(2 * var(--spacing)));
        z-index: calc(var(--overflow-mask-z) + 1);
        pointer-events: none;

        & > span {
            @apply mr-28;
            display: block;
            font-size: var(--base-font-size);
            font-weight: bold;
            filter: blur(10px);
            opacity: 0;
            animation: mobile-memo-title-float linear;
            animation-timeline: scroll(root);
            animation-range-end: 200px;
            animation-fill-mode: both;
            height: 2lh;
        }

        .memo-date {
            font-size: var(--xs-font-size);
            width: 100%;
            filter: blur(10px);
            opacity: 0;
            animation: mobile-memo-title-float linear;
            animation-timeline: scroll(root);
            animation-range-end: 200px;
            animation-fill-mode: both;
        }

        @container (width >= 768px) {
            @apply hidden;
        }
    }
}

.memo-tab-panel .memo-header .memo-date {
    @apply pb-3 ml-14;

    @container (width >= 768px) {
        @apply ml-0 pb-0;
    }
}

.memo h2:has(.memo-heading-collapse-button),
.memo h3:has(.memo-heading-collapse-button),
.memo h4:has(.memo-heading-collapse-button),
.memo h5:has(.memo-heading-collapse-button),
.memo h6:has(.memo-heading-collapse-button) {
    @apply flex items-center;

    &:hover {
        .memo-heading-collapse-button {
            opacity: 1;
            transition-delay: 0ms;
        }
    }

    &.is-hiding .icon {
        @apply -rotate-90;
    }
}

.memo-heading-collapse-button {
    @apply rounded-full flex items-center justify-center p-1 size-8 -ml-10 mr-2 select-none;
    opacity: 0;
    transition: opacity 100ms 200ms linear;

    .icon {
        @apply size-5;
        transition: rotate 100ms;
    }

    &:hover {
        @apply text-primary;
        opacity: 1;
        transition-delay: 0ms;
    }
}

@keyframes mobile-memo-title-float {
    0% {
        opacity: 0;
        translate: 0 2lh;
        filter: blur(10px);
    }

    50% {
        opacity: 0;
        translate: 0 2lh;
        filter: blur(10px);
    }

    to {
        opacity: 1;
        translate: 0 calc(-1 * env(safe-area-inset-top, 2lh) / 2);
        filter: blur(0px);
    }
}

.memo .toc {
    @apply fixed;

    margin: unset;
    inset: unset;
    overflow: clip;
    z-index: 10000;
    transition-property: height, width, opacity, border-radius;
    transition-duration: 400ms, 300ms, 150ms, 200ms;
    transition-delay: 0ms, 0ms, 0ms, 100ms;
    transition-timing-function: linear(
        0,
        0.012 0.9%,
        0.05 2%,
        0.411 9.2%,
        0.517 11.8%,
        0.611 14.6%,
        0.694 17.7%,
        0.765 21.1%,
        0.824 24.8%,
        0.872 28.9%,
        0.91 33.4%,
        0.939 38.4%,
        0.977 50.9%,
        0.994 68.4%,
        1
    );

    top: anchor(bottom);
    right: anchor(right);
    translate: 0 -100%;
    interpolate-size: allow-keywords;

    &:popover-open {
        @apply p-2 rounded-2xl surface-level-2 elevation-1;
        min-height: 20svh;
        height: min-content;
        width: 95svw;
        opacity: 1;

        .toc-item .toc-items {
            padding-inline-start: calc(
                var(--spacing) *
                (var(--toc-indent-level, 0) + 2)
            );
        }

        .toc-item a {
            @apply h-8 px-2 flex items-center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &.active {
                @apply rounded-xl;
                background-color: var(--color-primary);
                color: var(--color-primary-contrast);
            }
        }
    }

    @starting-style {
        &:popover-open {
            @apply pt-0;
            border-radius: 100%;
            width: anchor-size(width);
            height: anchor-size(height);
            top: anchor(bottom);
            left: anchor(left);
            opacity: 0;
        }
    }

    &::backdrop {
        pointer-events: all;
        background-color: color-mix(
            in srgb,
            var(--color-modal-overlay-bg) 80%,
            transparent
        );
        opacity: 0.2;
        transition: opacity 250ms;

        @starting-style {
            opacity: 0;
        }
    }

    @container (width >= 1200px) {
        @apply block;
        top: calc(
            max(env(safe-area-inset-top, 0px), var(--spacing) * 4) +
            10dvh
        );
        right: calc(max(env(safe-area-inset-right, 0px), var(--spacing) * 4));
        max-width: 100px;
        left: unset;
        translate: unset;
        transition: unset;

        .toc-item {
            width: 100%;
            a {
                @apply mb-1 block rounded-2xl;
                background-color: var(--color-neutral-extra-light);
                color: var(--color-neutral-extra-light);
                height: var(--spacing);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: calc(100% / (var(--toc-indent-level, 1) + 1));
                justify-self: end;
                transition:
                    height 100ms 50ms,
                    width 100ms;

                &.active {
                    background-color: var(--color-primary-light);
                    color: var(--color-primary-light);
                }
            }
        }

        &:hover {
            @apply surface-level-2 elevation-2 px-3 py-2 rounded-2xl;
            animation: memo-toc-desktop-hover-show 150ms linear;
            animation-fill-mode: forwards;

            .toc-item .toc-items {
                padding-inline-start: calc(
                    var(--spacing) *
                    (var(--toc-indent-level, 0) + 2)
                );
            }

            .toc-item a {
                background-color: unset;
                color: unset;
                height: 1lh;
                width: 100%;

                &:hover {
                    color: var(--color-primary-light);
                }

                &.active {
                    color: var(--color-primary-dark);
                }
            }
        }
    }
}

.memo-screen .toc-mobile-trigger {
    @apply fixed flex items-center justify-center surface-level-2 elevation-2;
    @apply rounded-full size-10 p-2.5;

    bottom: calc(max(env(safe-area-inset-bottom, 0px), var(--spacing) * 4));
    right: calc(max(env(safe-area-inset-right, 0px), var(--spacing) * 2));
    z-index: var(--mobile-tabbar-z-index);

    & > svg {
        @apply size-5;
        filter: drop-shadow(1px 1px 3px var(--color-body-bg-contrast));
    }
}

@keyframes memo-toc-desktop-hover-show {
    from {
        opacity: 0;
        max-width: 100px;
    }

    to {
        opacity: 1;
        max-width: 300px;
    }
}

.memo-tab-panel-memo .editor {
    @apply flex items-center;
    min-height: calc(100% - (var(--spacing)));

    .text-editor {
        @apply flex-1 p-2 tablet:p-4;
    }

    .cm-editor {
        height: 100%;
    }
}

.memo-screen .memo-actions {
    @apply elevation-2 fixed right-2;
    top: max(env(safe-area-inset-top, 0px), calc(var(--spacing) * 2));
    z-index: calc(var(--overflow-mask-z) + 1);

    @container (width >= 320px) {
        .memo-actions-sm {
            @apply hidden;
        }

        .memo-actions-md {
            @apply flex;
        }
    }

    @container (width >= 700px) {
        top: max(env(safe-area-inset-top, 0px), calc(var(--spacing) * 4));

        .memo-actions-lg {
            @apply flex;
        }

        .memo-actions-md {
            @apply hidden;
        }

        .memo-actions-sm {
            @apply hidden;
        }
    }
}

:root {
    --mobile-open-memo-transition-duration: 350ms;
    --mobile-open-memo-transition-easing: linear(
        0,
        0.012 0.9%,
        0.05 2%,
        0.411 9.2%,
        0.517 11.8%,
        0.611 14.6%,
        0.694 17.7%,
        0.765 21.1%,
        0.824 24.8%,
        0.872 28.9%,
        0.91 33.4%,
        0.939 38.4%,
        0.977 50.9%,
        0.994 68.4%,
        1
    );

    --mobile-close-memo-transition-duration: 200ms;
    --mobile-close-memo-transition-easing: linear(
        0,
        0.012 0.9%,
        0.05 2%,
        0.411 9.2%,
        0.517 11.8%,
        0.611 14.6%,
        0.694 17.7%,
        0.765 21.1%,
        0.824 24.8%,
        0.872 28.9%,
        0.91 33.4%,
        0.939 38.4%,
        0.977 50.9%,
        0.994 68.4%,
        1
    );
}

.memo-screen .memo-header .memo-tab-panel-close-btn,
.memo-screen .memo-header .memo-actions,
.memo-screen .memo-header .memo-date,
.memo-screen .editor-buttons {
    z-index: calc(var(--overflow-mask-z) + 1);
}

.mobile-open-memo-transition {
    .list-screen {
        view-transition-name: mobile-open-memo-transition-list;
    }

    .memo-tab-panel[aria-hidden="false"] {
        view-transition-name: mobile-open-memo-transition-memo;
    }

    @media (min-width: 768px) {
        .list-screen {
            view-transition-name: unset;
        }

        .memo-tab-panel[aria-hidden="false"] {
            view-transition-name: unset;
        }
    }
}

:root::view-transition-old(mobile-open-memo-transition-list) {
    display: block;

    animation-name: mobile-open-memo-transition-list;
    animation-duration: calc(var(--mobile-open-memo-transition-duration) * 1.5);
    animation-timing-function: var(--mobile-open-memo-transition-easing);
    animation-fill-mode: both;

    @media (min-width: 768px) {
        display: none;
    }
}

:root::view-transition-new(mobile-open-memo-transition-list) {
    display: none;
}

:root::view-transition-new(mobile-open-memo-transition-memo) {
    @apply shadow-xl;
    animation-name: mobile-open-memo-transition-memo;
    animation-duration: var(--mobile-open-memo-transition-duration);
    animation-timing-function: var(--mobile-open-memo-transition-easing);
    animation-fill-mode: forwards;

    @media (min-width: 768px) {
        display: none;
    }
}

@keyframes mobile-open-memo-transition-memo {
    from {
        translate: 100vw 0;
    }

    to {
        translate: 0 0;
    }
}

@keyframes mobile-open-memo-transition-list {
    from {
        translate: 0 0;
    }

    to {
        translate: -50vw 0;
    }
}

.mobile-close-memo-transition {
    .list-screen {
        view-transition-name: mobile-close-memo-transition-list;
    }

    .memo-tab-panel[aria-hidden="false"] {
        view-transition-name: mobile-close-memo-transition-memo;
    }

    @media (min-width: 768px) {
        .list-screen {
            view-transition-name: unset;
        }

        .memo-tab-panel[aria-hidden="false"] {
            view-transition-name: unset;
        }
    }
}

:root::view-transition-group(mobile-close-memo-transition-list) {
    animation: none;
}

:root::view-transition-old(mobile-close-memo-transition-list) {
    display: none;
    animation: none;
}

:root::view-transition-new(mobile-close-memo-transition-list) {
    animation-name: mobile-close-memo-transition-list;
    animation-duration: calc(
        var(--mobile-close-memo-transition-duration) *
        1.5
    );
    animation-timing-function: var(--mobile-close-memo-transition-easing);
    animation-fill-mode: both;

    @media (min-width: 768px) {
        display: none;
    }
}

:root::view-transition-old(mobile-close-memo-transition-memo) {
    animation-name: mobile-close-memo-transition-memo;
    animation-duration: calc(
        var(--mobile-close-memo-transition-duration) *
        1.5
    );
    animation-timing-function: var(--mobile-close-memo-transition-easing);

    @media (min-width: 768px) {
        display: none;
    }
}

:root::view-transition-new(mobile-close-memo-transition-memo) {
    display: none;
    animation: none;
}

@keyframes mobile-close-memo-transition-list {
    0% {
        translate: -50% 0;
    }

    100% {
        translate: 0 0;
    }
}

@keyframes mobile-close-memo-transition-memo {
    from {
        translate: 0 0;
    }

    to {
        translate: 100% 0;
    }
}
