.memo-list-screen {
    @apply flex flex-row gap-4 justify-center w-full;

    .memo-list-container {
        @apply flex-1;
    }
}

.memo-list-header {
    @apply text-lg tablet:text-lg lg:text-xl text-subtle-extra-dark tablet:py-2;
    @apply flex items-center;
    pointer-events: none;

    em {
        @apply text-primary font-serif italic text-balance font-semibold;
    }
}

.new-memo-editor {
    @apply hidden tablet:block mb-6 relative py-0;

    .editor {
        min-height: 100px;
    }

    .editor-toolbar {
        @apply right-2 top-2 absolute;
        left: initial;
        transform: none;
        opacity: 0;
        transition: opacity 200ms;
    }

    .text-editor {
        height: 100%;
    }

    &:focus-within,
    &:has(.editor.is-changed) {
        .editor-buttons {
            @apply opacity-100;
        }

        .editor-toolbar {
            opacity: 1;
        }
    }

    .editor-toolbar {
        order: 1;
        z-index: 100;
    }

    .editor-buttons {
        @apply opacity-0 p-0;
        position: absolute;
        bottom: 0;
        right: 0;
        transition: opacity 150ms;
        order: 3;
        z-index: 10;
    }

    .text-editor {
        order: 2;
    }
}

.new-memo-editor-fab {
    @apply fixed right-4 rounded-full! border-0 size-14 z-20 shadow-lg p-0 tablet:hidden;
    top: calc(100dvh - 4.5rem);

    & > svg {
        @apply size-6;
    }
}
