.memo-list-screen {
    @apply flex flex-row gap-4 justify-center w-full;

    .memo-list-container {
        @apply flex-1;
    }
}

.memo-list-header {
    @apply text-subtle-extra-dark tablet:py-2 tablet:px-2;
    @apply flex items-center;
    @apply dark:text-subtle;
    pointer-events: none;

    em {
        @apply text-primary italic text-balance font-semibold;
    }
}

.new-memo-editor {
    @apply hidden tablet:block mb-6 relative py-0;

    .editor {
        min-height: 100px;
    }

    .editor-toolbar {
        @apply right-2 top-2 absolute;
        left: initial;
        transform: none;
        opacity: 1;
        transition: opacity 200ms;
    }

    .text-editor {
        height: 100%;
    }

    &:focus-within,
    &:has(.editor.is-changed) {
        .editor-buttons {
            @apply opacity-100;
        }

        .editor-toolbar {
            opacity: 1;
        }
    }

    .editor-toolbar {
        order: 1;
        z-index: 100;
    }

    /* biome-ignore lint/style/noDescendingSpecificity: false positive due to  nesting */
    .editor-buttons {
        @apply opacity-0 p-0;
        position: absolute;
        bottom: 0;
        right: 0;
        transition: opacity 150ms;
        order: 3;
        z-index: 10;
    }

    .text-editor {
        order: 2;
    }
}

.new-memo-link-area {
    @apply hidden tablet:flex flex-1 flex-col items-end justify-center h-full;
}

.new-memo-link {
    @apply gap-1.5! text-sm h-8.5;

    svg {
        @apply size-4;
    }
}

:root:has(.devtools-open-btn) .new-memo-link {
    @apply me-10;
}

.new-memo-editor-fab {
    @apply fixed right-6 rounded-full! border-0 size-14 z-40 shadow-xl p-0 tablet:hidden p-2.5!;
    top: calc(100dvh - var(--spacing) * 18 - env(safe-area-inset-bottom, 0));

    & > svg {
        @apply size-6;
    }
}

.memo-list-screen > .overflow-blur {
    @apply fixed h-20 bottom-0 hidden;
    width: 100%;
    pointer-events: none;
    backdrop-filter: blur(2px);
    mask-image: linear-gradient(to bottom, transparent 10%, black 50%);
}
