.new-memo-screen {
    @apply w-full p-2 lg:p-4 flex justify-center relative;
    margin-top: calc(var(--appheader-height) * -1 - var(--spacing));

    &.is-subscreen {
        @apply p-0;
    }

    @media (min-width: 768px) {
        margin-top: 0;
    }

    .memo.is-editing {
        /* biome-ignore lint/complexity/noImportantStyles: must be overriden */
        padding: 0 !important;
        width: 100%;

        min-height: calc(
            100dvh -
            (env(safe-area-inset-bottom, 0) + var(--spacing) * 4)
        );
    }

    --editor-width: 120rem;

    .editor {
        @apply flex items-center;
        min-height: calc(100% - (var(--spacing)));

        .text-editor {
            @apply flex-1 p-2 tablet:p-4;
        }

        .cm-editor {
            height: 100%;
        }
    }
}
