.main-screen {
    --sidebar-width: auto;
    --sidebar-height: auto;

    @apply w-full h-full flex flex-col gap-2;

    min-height: 100svh;

    padding: 0 0 env(safe-area-inset-bottom, 0) 0;

    @media (min-width: 1024px) {
        --sidebar-width: 300px;
        --sidebar-height: calc(
            100dvh -
            var(--spacing) *
            2 -
            var(--appheader-height)
        );
        @apply flex-row;

        padding: env(safe-area-inset-top, 0) calc(var(--spacing) * 4)
            env(safe-area-inset-bottom, 0) calc(var(--spacing) * 4);
    }

    @media (min-width: 1680px) {
        --sidebar-width: 320px;
    }

    @media (min-width: 2100px) {
        --sidebar-width: 350px;
    }

    .subscreen {
        @apply flex-1;
        order: 1;
        position: relative;

        @media (min-width: 1024px) {
            @apply pt-2;
            order: 2;
            margin-left: calc(var(--sidebar-width) + var(--spacing) * 6);
        }

        @media (min-width: 1680px) {
            @apply pt-2;
            order: 2;
            margin-left: calc(var(--sidebar-width) * 2 + var(--spacing) * 6);
            margin-top: var(--appheader-height);
        }
    }
}

.main-screen .memo-list-screen {
    @apply flex-1;
    display: contents;

    .memo-list-container {
        @apply flex-1 mx-2 xs:mx-0 max-w-full;

        order: 2;

        @media (min-width: 1024px) {
            order: 1;
            padding-left: calc(var(--sidebar-width) + var(--spacing) * 4);
        }

        @media (min-width: 1440px) {
            margin-left: calc(var(--sidebar-width) * -1 - var(--spacing) * 2);
        }

        @media (min-width: 1680px) {
            @apply pt-2;
            order: 1;
            margin-right: 0;
            margin-left: 0;
        }
    }
}

.main-screen .memo-list-filter {
    @apply mx-2 xs:mx-0;
    max-width: var(--sidebar-width);
    width: var(--sidebar-width);
    height: var(--sidebar-height);

    @media (min-width: 1680px) {
        position: fixed;
        margin-top: var(--appheader-height);
    }
}

.main-screen.has-subscreen {
    .memo-list-screen {
        display: contents;

        .memo-list-filter {
            display: none;
            @media (min-width: 1024px) {
                display: none;
            }

            @media (min-width: 1440px) {
                display: flex;
                position: relative;
            }

            @media (min-width: 1680px) {
                display: flex;
                position: fixed;
                top: 0;
            }
        }

        .new-memo-editor-fab {
            display: none;
        }

        /* biome-ignore lint/style/noDescendingSpecificity: false positive due to  nesting */
        .memo-list-container {
            @apply flex-1;
            position: relative;
            z-index: 10;
            animation: mobile-parallax-memo-list-scroll 1.01s linear;
            animation-play-state: paused;
            animation-delay: calc(var(--memo-scroll-progress, 1) * -1.01s);
            animation-fill-mode: forwards;

            @media (min-width: 1024px) {
                @apply p-0.5;
                width: var(--sidebar-width);
                padding-top: 0;
                z-index: revert;
                animation: none;
                position: fixed;
                max-width: var(--sidebar-width);
                overflow: auto;
                height: calc(
                    var(--sidebar-height) -
                    (var(--appheader-height) * -1 + var(--spacing) * 2)
                );
            }

            @media (min-width: 1440px) {
                margin-top: calc(var(--sidebar-height) + var(--spacing) * 4);
                height: auto;
                position: relative;
                padding-left: 0;
                margin-right: calc(
                    var(--sidebar-width) *
                    -1 -
                    var(--spacing) *
                    2
                );
                margin-left: calc(
                    var(--sidebar-width) *
                    -1 -
                    var(--spacing) *
                    2
                );
                overflow: visible;
            }

            @media (min-width: 1680px) {
                @apply top-2;
                margin-top: 0;
                padding-top: 0;
                padding-left: 0;
                position: fixed;
                height: calc(
                    var(--sidebar-height) -
                    (var(--appheader-height) * -1 + var(--spacing) * 2)
                );
                margin-left: calc(var(--sidebar-width) + var(--spacing) * 4);
                overflow: auto;
            }
        }

        & > .overflow-blur {
            @media (min-width: 1680px) {
                display: block;
                top: revert;
                left: calc(var(--sidebar-width) + var(--spacing) * 8);
                width: calc(100% - var(--sidebar-width) + var(--spacing) * 8);
            }
        }

        .memo-list-header {
            display: none;
        }

        .new-memo-editor {
            display: none;
        }

        .memo-list {
            @media (min-width: 1024px) {
                .memo-list-day-group:nth-of-type(2) {
                    .memo-list-day {
                        @apply mt-1;
                    }
                }

                .memo-list-day-group {
                    @apply pt-4;
                }

                .memo-list-day-divider {
                    @apply mb-6;
                }
            }

            .memo-list-layout-select-positioner {
                display: none;
            }

            /* biome-ignore lint/style/noDescendingSpecificity: false positive due to  nesting */
            .memo-list-day {
                @apply text-base text-sm;
            }

            .memo-list-memos {
                display: flex;
                flex-flow: row wrap;
                gap: 0.5rem;
                align-content: space-between;
            }

            .memo {
                @apply overflow-hidden h-fit p-2!;
                width: 100%;
            }

            .memo h1,
            .memo h1 time {
                @apply text-lg;
            }

            .memo p {
                @apply m-0;
            }

            .memo:has(.memo-header h1) .markdown * {
                display: none;
            }

            .memo:has(.memo-header h1) .markdown p:has(.tag-link) {
                display: block;

                a {
                    display: inline;
                    @apply text-sm;
                }
            }

            .link-preview {
                float: none;
                max-width: 100%;
            }
        }
    }
}

.main-screen.has-subscreen {
    .single-memo-screen {
        @media (min-width: 1024px) {
            margin-top: calc(-1 * var(--appheader-height));
        }
    }
}

@keyframes mobile-parallax-memo-list-scroll {
    0% {
        transform: translateY(-30dvh);
    }

    100% {
        transform: translateY(4dvh);
    }
}
