.figure {
    @apply relative my-0;

    img {
        @apply rounded-lg my-0;
        transition: opacity 100ms;
        transition-delay: 20ms;
    }
}

.figure .zoom-btn {
    @apply cursor-zoom-in rounded-lg;

    &:focus {
        @apply outline-none;
    }

    &:focus-visible {
        @apply outline-solid outline-2 -outline-offset-4 outline-primary;
    }
}

.figure.is-zoomed img {
    opacity: 0;
}
