@import "./list-masonry.css";
@import "./ultra-compact.css";

.memos-list-page {
    @apply flex flex-col tablet:flex-row gap-4 justify-center w-full;
    @apply tablet:max-w-6xl tablet:container tablet:mx-auto tablet:pt-0;
    @apply lg:max-w-[2000px] xl:max-w-[2300px];
}

.list-header {
    @apply text-xl tablet:text-2xl lg:text-3xl text-subtle-extra-dark;
    @apply relative bg-body w-full tablet:pt-16 pb-4 px-2 rounded-b-lg left-0 top-0;
    @apply xs:pt-4 lg:px-1;

    pointer-events: none;

    em {
        @apply block text-primary font-serif -mt-1 not-italic text-balance font-semibold;
        @apply text-5xl lg:text-6xl;
    }
}

.grouped-memos-list {
    @media (min-width: 1024px) {
        /* tablet */
        order: 1;
    }
}

.list-layout-select {
    @apply relative flex justify-end h-8 -mb-8 top-5 mx-3 lg:mx-1;
    z-index: 30;

    & > button {
        @apply max-w-fit rounded-lg text-body bg-body-contrast;

        .option-label {
            @apply sr-only;
        }
    }
}

.memos-list-day {
    @apply sticky -mb-1 py-1 px-2 w-fit rounded-lg top-2;
    @apply text-subtle-dark;
    @apply bg-body/80 xs:top-2 xs:text-xl;
    @apply lg:top-14 lg:-ml-2;
    @apply xxl:-translate-x-full xxl:-ml-4;

    z-index: 200;

    backdrop-filter: blur(4px);

    .named-day-date {
        @apply text-subtle-dark ms-1 text-xs sm:text-sm;
    }
}

.memos-list-day-divider {
    @apply bg-subtle;
    width: 100%;
    height: 1px;
    margin-top: calc(-1lh + 6px);

    @media (min-width: 768px) {
        margin-top: calc(-1lh + 3px);
    }

    @media (min-width: 2100px) {
        /* lg */
        margin-top: calc(-1lh - 3px);
    }
}

.grouped-memos-list {
    width: 100%;
}

.memos-list-page .memo.is-editing {
    @apply fixed inset-0 z-[800];
    @apply bg-surface/90 backdrop-blur-sm;
    @apply sm:static sm:backdrop-blur-none;
    height: 100svh;

    @media (max-width: 768px) {
        width: auto !important;
    }

    @apply xs:relative xs:h-auto;

    @media (min-width: 768px) {
        width: revert;
    }

    .editor {
        @apply animate-in fade-in-50 slide-in-from-bottom-48 h-full;
        @apply xs:animate-none;
    }
}

.memos-list {
    @apply flex-1 w-full max-w-3xl mx-auto px-2 tablet:px-4;
    @apply tablet:max-w-6xl;
}

.memos-list-page.list-layout-single .memos-list {
    @apply flex flex-col gap-2 md:gap-4;
    @apply lg:max-w-none lg:px-1;

    .memo:nth-of-type(1) {
        @apply mt-4 md:mt-6;
    }
}

.memos-list-page .memos-list {
    .memo {
        /* @apply border-b-2 border-body-contrast/50 pb-2; */
        @apply bg-surface rounded p-2 lg:p-4;
    }
}

.list-filter {
    @apply tablet:pe-4 overscroll-none flex flex-col;

    @media (min-width: 1024px) {
        /* tablet */
        order: 2;
        @apply relative right-0 mt-24 top-1;
        max-width: 300px;
        height: auto;
    }

    @apply md:pe-4;

    @media (min-width: 1650px) {
        @apply top-4 mt-0;
        position: fixed;
        width: 350px;
        height: calc(100vh - 1rem);
    }

    @media (min-width: 2100px) {
        /* lg */
        @apply mt-28 pt-1 top-2 pe-4;
        position: sticky;
        left: 0;
        right: 0;
        width: 400px;
        max-width: none;
        height: calc(100vh - 1.5rem);
    }
}

.list-filter-search {
    @apply flex-1;
    @media (max-width: 1024px) {
        input {
            @apply py-1.5 pe-1 ps-7;
            font-size: 1rem;
        }
    }
}

.date-picker {
    @apply px-2 w-full relative;

    .nav {
        @apply flex items-center absolute top-0 right-0 h-12;
    }

    .nav-btn {
        @apply px-0.5 md:!px-1;
    }

    .dropdowns {
        @apply flex md:gap-2 relative h-12 items-center w-fit;
    }

    .dropdown {
        @apply flex items-center relative rounded px-1 -left-1 text-sm lg:text-base;
        @apply hover:bg-surface hover:shadow-md cursor-pointer;

        .months-dropdown,
        .years-dropdown {
            @apply appearance-none border-0 absolute inset-0 opacity-0 w-full z-20 -left-1;
        }

        .caption-label {
            @apply flex items-center cursor-pointer;
        }
    }

    .month-grid {
        @apply w-full;
    }

    .weekday {
        @apply text-center p-0 font-semibold text-sm text-subtle-extra-dark;
    }

    .day {
        padding: 0;

        &.outside {
            @apply text-subtle;
        }

        &.today {
            @apply text-primary-dark dark:text-primary-light;
        }

        &.selected {
            .day-btn {
                @apply bg-primary text-primary-contrast;
            }
        }
    }

    .day-btn {
        @apply flex items-center justify-center py-2 text-base rounded-lg;
        width: 100%;

        &:hover {
            @apply bg-subtle text-subtle-contrast;
        }
    }
}

.short-day-picker {
    @apply w-full;

    @media (max-width: 1024px) {
        @apply pt-1;
    }

    .caption {
        display: none;
    }

    .months,
    .month {
        @apply w-full;
    }

    .month-grid {
        @apply w-full flex flex-col;
    }

    .weekday {
        @apply text-center p-0 font-semibold text-xs text-primary-dark;
    }

    .weekdays {
        @apply w-full grid grid-cols-7;
    }

    .weeks {
        @apply flex flex-row flex-nowrap justify-start items-center w-full overflow-x-auto overscroll-none;
        scroll-snap-type: x mandatory;
    }

    .week {
        @apply grid grid-cols-7;
        flex-basis: 100%;
        flex-shrink: 0;
        scroll-snap-align: center;

        &:has(.hidden):not(:has(.today)) {
            display: none;
        }
    }

    .day {
        @apply flex p-0;

        &.outside {
            @apply text-subtle;
        }

        &.today {
            @apply text-primary-dark dark:text-primary-light;
        }

        &.selected {
            @apply bg-primary-extra-light border-t border-t-primary;
            @apply items-center justify-center p-2;
            .day-btn {
                @apply bg-primary text-primary-contrast rounded-full p-1 -mt-1 -mb-1 size-6;
            }
        }
    }

    .day-btn {
        @apply flex items-center justify-center py-2 text-sm;
        width: 100%;
    }
}

.collapsibile-date-picker {
    @apply flex mb-3 tablet:hidden;

    & > .btn {
        min-height: auto !important;

        &:active {
            @apply bg-transparent text-primary;
        }

        &:focus,
        &:focus-visible {
            @apply -outline-offset-1 bg-transparent text-primary;
        }

        svg {
            @apply size-5;
        }
    }

    .date-picker {
        @apply pt-2;
        display: none;

        .nav-btn {
            @apply !px-2;
        }

        .nav {
            @apply top-1;
        }
    }

    &.expanded {
        @apply flex-col;

        & > .btn {
            @apply mt-1 p-0 rounded-t-none;
        }

        .short-day-picker {
            display: none;
        }

        .date-picker {
            display: block;
        }
    }
}

.tags-filter {
    @apply sm:overflow-auto flex-1 py-2 overscroll-contain;
}

.new-memo-editor {
    @apply rounded border border-subtle;
    @apply tablet:mx-3 lg:mx-1;
    min-height: 1ch;

    &:focus-within {
        @apply shadow;
    }

    &.editor {
        @apply bg-surface;
    }
}

.new-memo-editor-fab {
    @apply fixed right-2 bottom-28 rounded-full border-0 size-14 z-20 shadow-lg p-0 tablet:hidden;

    & > svg {
        @apply size-6;
    }
}
