@import "./Sidebar.css";
@import "./TabBar.css";

:root {
    --sidebar-width: auto;
    --sidebar-height: auto;

    @media (min-width: 1024px) {
        --sidebar-width: 300px;
        --sidebar-height: 100svh;
    }

    @media (min-width: 1680px) {
        --sidebar-width: 320px;
    }

    @media (min-width: 2100px) {
        --sidebar-width: 350px;
    }
}

.list-screen {
    @apply flex flex-col relative;
    transition: top 1ms;
    --overflow-mask-z: 100;
    --overflow-mask-height: 130px;

    .memo-list-sidebar {
        z-index: calc(var(--overflow-mask-z) + 1);
    }

    @media (min-width: 1024px) {
        --overflow-mask-height: 50px;
    }

    &:has(.memo-list-tab-panel[aria-hidden="true"]) {
        top: calc(
            calc(
                env(safe-area-inset-top, calc(var(--spacing) * 2)) -
                var(--spacing) *
                2
            ) +
            var(--offset-top, 0px)
        );
        width: 100svw;
        translate: min(calc(var(--memo-tab-back-progress, 0%) * 0.5 - 50%), 0%);
        z-index: -1;
        position: fixed;
        opacity: 0;
        pointer-events: none;

        .memo-list-sidebar {
            margin-top: 0;
        }

        @media (min-width: 1024px) {
            pointer-events: unset;
            top: unset;
            width: unset;
            translate: unset;
            z-index: unset;
            position: unset;
            opacity: unset;
        }
    }
}

.screens[data-active-stack="memos"] .list-screen-overflow-mask {
    @apply hidden;
}

.dragging-memo-tab .list-screen:has(.memo-list-tab-panel[aria-hidden="true"]) {
    opacity: 1;
}

.list-screen-content {
    @apply hidden flex-1;

    min-height: calc(100svh - var(--pt) - var(--pb));

    @media (min-width: 768px) {
        margin-left: calc(var(--sidebar-width) + var(--spacing) * 1);
    }
}

.list-screen-content:has([aria-hidden="false"]) {
    @apply block;
}

.dragging-memo-tab .screens[data-active-stack="memos"] .list-screen-content {
    @apply block;
}

.dragging-memo-tab .all-memos-tab-panel {
    opacity: 1;
}

.memo-list-container {
    @apply py-1;
    container: memo-list-container / inline-size;
}

.memo-list-tab-panel {
    .memo-list {
        @media (min-width: 1024px) {
            --pt: max(env(safe-area-inset-top, 0px), calc(var(--spacing)));
        }
    }
}
