@import "./Sidebar.css";
@import "./TabBar.css";

:root {
    --sidebar-width: auto;
    --sidebar-height: auto;

    @media (min-width: 1024px) {
        --sidebar-width: 300px;
        --sidebar-height: 100svh;
    }

    @media (min-width: 1680px) {
        --sidebar-width: 320px;
    }

    @media (min-width: 2100px) {
        --sidebar-width: 350px;
    }
}

.list-screen {
    @apply flex flex-col relative;
    --overflow-mask-z: 100;
    --overflow-mask-height: 130px;

    .memo-list-sidebar {
        z-index: calc(var(--overflow-mask-z) + 1);
    }

    @media (min-width: 1024px) {
        --overflow-mask-height: 50px;
    }

    &:has(.memo-list-tab-panel[aria-hidden="true"]) {
        top: calc(var(--offset-top, 0px));
        width: 100svw;
        z-index: -1;
        position: fixed;
        pointer-events: none;

        @media (min-width: 1024px) {
            pointer-events: unset;
            top: unset;
            width: unset;
            translate: unset;
            z-index: unset;
            position: unset;
            opacity: unset;
        }
    }
}

.screens[data-active-stack="memos"] .list-screen-overflow-mask {
    animation: none;
    top: calc(
        (-1 * var(--offset-top, 0px)) +
        (var(--overflow-mask-height, 100px) / 2) -
        env(safe-area-inset-top, 0px) -
        5px
    );
    height: var(--overflow-mask-height, 100px);
}

.dragging-memo-tab .list-screen:has(.memo-list-tab-panel[aria-hidden="true"]) {
    translate: min(
        calc((var(--memo-tab-back-progress, 0) * 100%) * 0.5 - 50%),
        0%
    );

    .list-screen-overflow-mask {
        visibility: visible;
    }
}

.list-screen-content {
    @apply hidden flex-1;

    min-height: calc(100svh - var(--pt) - var(--pb));

    @media (min-width: 768px) {
        margin-left: calc(var(--sidebar-width) + var(--spacing) * 1);
    }
}

.list-screen-content:has([aria-hidden="false"]) {
    @apply block;
}

.dragging-memo-tab .screens[data-active-stack="memos"] .list-screen-content {
    @apply block;
    min-height: 100vh;
}

.memo-list-container {
    @apply py-1;
    container: memo-list-container / inline-size;
}

.memo-list-tab-panel {
    .memo-list {
        @media (min-width: 1024px) {
            --pt: max(env(safe-area-inset-top, 0px), calc(var(--spacing)));
        }
    }
}
