:root {
    --mobile-tabbar-z-index: 500;
}

.mobile-tabbar-new-memo-btn,
.mobile-tabbar-tag-filter-overflow-trigger {
    @apply flex items-center justify-center surface-level-2 elevation-2;
    @apply rounded-full size-12 p-2.5;
    transition:
        opacity 100ms linear,
        transform 400ms
        linear(
            0,
            0.618 4.6%,
            1.072 9.7%,
            1.358 15.3%,
            1.446 18.4%,
            1.497 21.7%,
            1.512 23.9%,
            1.514 26.2%,
            1.481 31.5%,
            1.421 36.4%,
            1.174 53.4%,
            1.108 59.5%,
            1.059 65.7%,
            1.028 71.9%,
            1.009 78.9%,
            1
        ),
        margin-left 400ms
        linear(
            0,
            -0.004 4.9%,
            -0.02 9.4%,
            -0.124 26.4%,
            -0.126 30.5%,
            -0.104 34.1%,
            -0.027 38.8%,
            0.108 43.1%,
            0.299 47%,
            0.817 55.2%,
            0.97 59.1%,
            1.071 63.4%,
            1.118 67.7%,
            1.127 72.6%,
            1.108 77.2%,
            1.019 90.7%,
            1.004 95.2%,
            1
        ),
        margin-right 400ms
        linear(
            0,
            -0.004 4.9%,
            -0.02 9.4%,
            -0.124 26.4%,
            -0.126 30.5%,
            -0.104 34.1%,
            -0.027 38.8%,
            0.108 43.1%,
            0.299 47%,
            0.817 55.2%,
            0.97 59.1%,
            1.071 63.4%,
            1.118 67.7%,
            1.127 72.6%,
            1.108 77.2%,
            1.019 90.7%,
            1.004 95.2%,
            1
        );

    & > svg {
        @apply size-5;
        filter: drop-shadow(1px 1px 3px var(--color-body-bg-contrast));
    }
}

.mobile-tabbar-search-bar {
    @apply flex-1;

    .input-field .input {
        @apply h-12 rounded-full bg-transparent border-none shadow-none;

        &::placeholder {
            text-shadow: 0px 0px 5px
                color-mix(
                    in srgb,
                    var(--color-body-bg-contrast) 80%,
                    transparent
                );
        }
    }

    .input-field .relative {
        @apply rounded-full surface-level-2 elevation-2;
    }

    .input-field .icon {
        @apply text-text z-10;
        filter: drop-shadow(1px 1px 3px var(--color-body-bg-contrast));
    }
}

.mobile-tabbar-overflow-mask {
    --overflow-mask-z: calc(var(--memo-list-day-z-index) + 1);
    --overflow-mask-height: calc(80px + env(safe-area-inset-bottom, 0px));

    @media (min-width: 768px) {
        @apply hidden;
    }
}

.mobile-tabbar {
    @apply fixed flex gap-2 justify-between items-center;

    left: max(env(safe-area-inset-left, 0px), calc(2 * var(--spacing)));
    right: max(env(safe-area-inset-right, 0px), calc(2 * var(--spacing)));
    bottom: max(env(safe-area-inset-bottom, 0px), calc(2 * var(--spacing)));
    z-index: var(--mobile-tabbar-z-index);

    @media (min-width: 768px) {
        @apply hidden;
    }

    &:has(input:focus) {
        bottom: 0;
        .mobile-tabbar-tag-filter-overflow-trigger {
            transform: scale(0);
            margin-left: calc(var(--spacing) * -12);
        }

        .mobile-tabbar-new-memo-btn {
            transform: scale(0);
            margin-right: calc(var(--spacing) * -12);
        }

        .mobile-tabbar-search-bar .input-field .input {
            @apply bg-surface-level-2/95;
        }
    }
}

.screens[data-active-stack="memos"] {
    .mobile-tabbar-overflow-mask {
        visibility: hidden;
        animation: none;
        top: calc(
            -1 *
            var(--offset-top, 0px) +
            (100svh - var(--overflow-mask-height, 100px))
        );
        height: var(--overflow-mask-height, 100px);
    }

    .mobile-tabbar {
        visibility: hidden;
        position: absolute;
        pointer-events: none;
        height: min-content;
        bottom: 0;
        top: calc(
            -1 *
            var(--offset-top, 0px) +
            (85vh + var(--spacing) * 12) -
            2px
        );
    }
}

:root:has(.memo-tab-panel[aria-hidden="false"]) .dragging-memo-tab {
    .mobile-tabbar-overflow-mask,
    .mobile-tabbar {
        visibility: visible;
    }
}

.tag-tree-offcanvas-wrapper {
    &:has(:popover-open)::before {
        position: fixed;
        content: "";
        inset: 0;
        z-index: 9999;
    }

    @media (min-width: 1024px) {
        @apply hidden;
    }
}

.mobile-tabbar-tag-filter-overflow-trigger {
    @apply aspect-square;
    height: 100%;
    opacity: 1;

    /* biome-ignore lint/style/noDescendingSpecificity: false positive */
    .icon {
        filter: blur(0px);
        transition: filter 200ms 300ms;
    }

    &.has-active-tag-filter {
        @apply surface-level-1;
        --color-surface-level-1: var(--btn-primary-bg);
        --surface-color: var(--btn-primary-color);
    }
}

:root:has(.tag-tree-offcanvas:popover-open)
    .mobile-tabbar-tag-filter-overflow-trigger {
    opacity: 0;

    .icon {
        filter: blur(10px);
    }
}

:root:has(.tag-tree-offcanvas[data-is-closing="true"])
    .mobile-tabbar-tag-filter-overflow-trigger {
    opacity: 1;
    .icon {
        filter: blur(10px);
    }
}

.tag-tree-offcanvas {
    @apply rounded-2xl pt-2 surface-level-2 elevation-1 flex-col;
    --surface-level-2-bg-strength: 50%;
    margin: unset;
    inset: unset;
    overflow: clip;
    position: fixed;
    z-index: 10000;
    transition-property: height, width, opacity, border-radius;
    transition-duration: 400ms, 300ms, 150ms, 200ms;
    transition-delay: 0ms, 0ms, 0ms, 100ms;
    transition-timing-function: linear(
        0,
        0.012 0.9%,
        0.05 2%,
        0.411 9.2%,
        0.517 11.8%,
        0.611 14.6%,
        0.694 17.7%,
        0.765 21.1%,
        0.824 24.8%,
        0.872 28.9%,
        0.91 33.4%,
        0.939 38.4%,
        0.977 50.9%,
        0.994 68.4%,
        1
    );

    .memo-list-tag-filter {
        @apply px-0 flex-1 rounded-2xl;
        height: unset;
        overscroll-behavior: none;
        --tag-tree-overflow-colour: color-mix(
            in srgb,
            var(--color-surface-level-1) 20%,
            transparent
        );

        .tag-tree-item {
            @apply px-2 text-base;
        }
    }

    top: anchor(bottom);
    left: anchor(left);
    translate: 0 -100%;

    .tag-tree-offcanvas-close-btn {
        opacity: 1;
        transition: opacity 200ms 100ms;
    }

    &:popover-open {
        @apply flex pt-2 rounded-2xl;
        height: 80svh;
        width: 95svw;
        opacity: 1;

        .tag-tree-offcanvas-close-btn {
            opacity: 1;
        }
    }

    @starting-style {
        &:popover-open {
            @apply pt-0;
            border-radius: 100%;
            width: anchor-size(width);
            height: anchor-size(height);
            top: anchor(bottom);
            left: anchor(left);
            opacity: 0;

            .tag-tree-offcanvas-close-btn {
                opacity: 0;
            }
        }
    }

    &::backdrop {
        pointer-events: all;
        background-color: color-mix(
            in srgb,
            var(--color-modal-overlay-bg) 80%,
            transparent
        );
        opacity: 0.2;
        transition: opacity 250ms;

        @starting-style {
            opacity: 0;
        }
    }

    &[data-is-closing="true"] {
        @apply pt-2;
        border-radius: 100%;
        width: anchor-size(width);
        height: anchor-size(height);
        transition-delay: 0ms, 0ms, 350ms, 200ms;
        opacity: 0;

        .tag-tree-offcanvas-close-btn {
            opacity: 0;
        }

        &::backdrop {
            opacity: 0;
        }
    }
}

.tag-tree-offcanvas-header {
    @apply flex items-center justify-end px-1 mb-2 relative;
    z-index: 10000;
}

:root:has(.tag-tree-offcanvas:popover-open) {
    /* biome-ignore lint/complexity/noImportantStyles: must be overriden */
    overflow: hidden !important;
    /* biome-ignore lint/complexity/noImportantStyles: must be overriden */
    overscroll-behavior: contain !important;
}
