.conveyor-belt-text {
    --conveyor-belt-text-lowercase-line-height: 0.57em;
    --conveyor-belt-text-uppercase-line-height: 0.74em;
    --conveyor-belt-text-line-height: var(
        --conveyor-belt-text-lowercase-line-height
    );
    --conveyor-belt-text-font-size: 5.5rem;
    --conveyor-belt-middle-width: var(--conveyor-belt-text-font-size);

    @apply fixed inset-0 flex flex-col items-center justify-center text-center font-semibold;
    @apply pointer-events-none select-none;
    color: rgb(var(--body-bg));
    text-shadow:
        3px 3px 0 rgb(var(--body-bg-contrast)),
        -1px -1px 0 rgb(var(--body-bg-contrast)),
        1px -1px 0 rgb(var(--body-bg-contrast)),
        -1px 1px 0 rgb(var(--body-bg-contrast)),
        1px 1px 0 rgb(var(--body-bg-contrast));

    animation: conveyor-belt-text-in 0.5s;
    animation-timing-function: ease-out;
    transform: skew(20deg, -10deg);
    opacity: 1;

    font-size: var(--conveyor-belt-text-font-size, 15rem);
    @media (min-width: 768px) {
        --conveyor-belt-text-font-size: 10rem;
    }

    @media (min-width: 1024px) {
        --conveyor-belt-text-font-size: 15rem;
    }

    @media (min-width: 1440px) {
        --conveyor-belt-text-font-size: 19rem;
    }

    @media (min-width: 1680px) {
        --conveyor-belt-text-font-size: 20rem;
    }

    @media (min-width: 2100px) {
        --conveyor-belt-text-font-size: 30rem;
    }

    em {
        visibility: hidden;
        font-style: normal;
        color: red;
    }

    .conveyor-belt-text-middle {
        --conveyor-belt-text-middle-top-start: calc(
            var(--conveyor-belt-text-line-height) *
            -1
        );
        --conveyor-belt-text-middle-top-end: calc(
            var(--conveyor-belt-text-line-height) *
            -2
        );

        display: block;
        position: absolute;
        width: var(--conveyor-belt-middle-width);
        word-wrap: break-word;
        line-height: var(--conveyor-belt-text-line-height);

        left: calc(var(--conveyor-belt-text-middle-offset, 50%));

        top: var(--conveyor-belt-text-middle-top-start);
        animation: conveyor-belt-text-middle infinite 30s linear;
        animation-delay: 0.2s;
    }
}

@keyframes conveyor-belt-text-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes conveyor-belt-text-middle {
    from {
        top: var(--conveyor-belt-text-middle-top-start);
    }

    to {
        top: var(--conveyor-belt-text-middle-top-end);
    }
}
