.conveyor-belt-text-wrapper {
    @apply absolute left-0 right-0 bottom-0;
    --conveyor-belt-text-animation-duration: 30s;
}

.conveyor-belt-text {
    @apply font-semibold pointer-events-none select-none w-fit;
    color: var(--color-body-bg);
    text-shadow:
        3px 3px 0 var(--color-body-bg-contrast),
        -1px -1px 0 var(--color-body-bg-contrast),
        1px -1px 0 var(--color-body-bg-contrast),
        -1px 1px 0 var(--color-body-bg-contrast),
        1px 1px 0 var(--color-body-bg-contrast);

    font-size: var(--conveyor-belt-text-font-size, 15rem);
    height: var(--conveyor-belt-text-font-size);

    @media (min-width: 1440px) {
        --conveyor-belt-text-font-size: 19rem;
    }

    @media (min-width: 1680px) {
        --conveyor-belt-text-font-size: 20rem;
    }

    @media (min-width: 2100px) {
        --conveyor-belt-text-font-size: 30rem;
    }

    animation: conveyor-belt-text infinite
        var(--conveyor-belt-text-animation-duration) linear;
}

@keyframes conveyor-belt-text {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-50%);
    }
}
