.error-page {
    @apply relative h-[100dvh] px-2 sm:px-4;

    .message {
        @apply absolute left-1/2 top-full -translate-y-full -translate-x-1/2 w-full px-2 pb-8;

        @media (min-width: 1440px) {
            @apply absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 w-fit;
        }

        h1 {
            @apply text-5xl md:text-7xl mb-2 font-semibold;

            color: rgb(var(--body-bg));
            text-shadow:
                2px 2px 0 rgb(var(--body-bg-contrast)),
                -1px -1px 0 rgb(var(--body-bg-contrast)),
                1px -1px 0 rgb(var(--body-bg-contrast)),
                -1px 1px 0 rgb(var(--body-bg-contrast)),
                1px 1px 0 rgb(var(--body-bg-contrast)),
                4px 4px 0px rgb(var(--body-bg));
        }

        p {
            @apply text-subtle-dark text-xl dark:text-text;
        }
    }
}

.error-code {
    @apply fixed pointer-events-none inset-0 flex flex-col items-center justify-center text-center font-semibold select-none;
    color: rgb(var(--body-bg));
    text-shadow:
        3px 3px 0 rgb(var(--body-bg-contrast)),
        -1px -1px 0 rgb(var(--body-bg-contrast)),
        1px -1px 0 rgb(var(--body-bg-contrast)),
        -1px 1px 0 rgb(var(--body-bg-contrast)),
        1px 1px 0 rgb(var(--body-bg-contrast));

    animation: error-code-in 0.5s;
    animation-timing-function: ease-out;
    transform: skew(20deg, -10deg);
    opacity: 1;

    top: -50vh;
    left: -20vw;
    font-size: 15rem;
    @media (min-width: 768px) {
        top: -10vh;
        left: -50vw;
        font-size: 19rem;
    }

    em {
        visibility: hidden;
        font-style: normal;
        color: red;
    }

    .error-code-middle {
        --error-code-middle-top-start: 0rem;
        --error-code-middle-top-end: calc(0.74em * -4);

        display: block;
        position: absolute;
        width: 10rem;
        word-wrap: break-word;
        line-height: 0.74em;

        left: calc(50% - 5.15rem);
        @media (min-width: 768px) {
            left: calc(50% - 5.5rem);
        }

        top: 0rem;
        animation: error-code-middle infinite 90s linear;
        animation-delay: 0.4s;
    }
}

@keyframes error-code-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes error-code-middle {
    from {
        top: var(--error-code-middle-top-start);
    }

    to {
        top: var(--error-code-middle-top-end);
    }
}
