@layer properties;
@layer theme, base, components, utilities, designs;

@import "tailwindcss";

@import "./tailwind.css";

@import "@fontsource-variable/noto-serif-hk";
@import "@fontsource-variable/inter";
@import "@fontsource/ibm-plex-mono";

@import "./colourschemes/default.css" layer(base);
@import "./colourschemes/warm.css" layer(base);
@import "./colourschemes/rosepine.css" layer(base);

@import "./designs/default.css" layer(designs);

@import "../components/Alert/Alert.css" layer(components);
@import "../components/AlertDialog/AlertDialog.css" layer(components);
@import "../components/AppHeader/AppHeader.css" layer(components);
@import "../components/AuthForm/AuthForm.css" layer(components);
@import "../components/Button/Button.css" layer(components);
@import "../components/ConveyorBeltText/ConveyorBeltText.css" layer(components);
@import "../components/Dialog/Dialog.css" layer(components);
@import "../components/DropdownMenu/DropdownMenu.css" layer(components);
@import "../components/Editor/Editor.css" layer(components);
@import "../components/Figure/Figure.css" layer(components);
@import "../components/Form/Form.css" layer(components);
@import "../components/InfoPopover/InfoPopover.css" layer(components);
@import "../components/Input/Input.css" layer(components);
@import "../components/LinkPreview/LinkPreview.css" layer(components);
@import "../components/Loader/Loader.css" layer(components);
@import "../components/Markdown/Code.css" layer(components);
@import "../components/Markdown/Markdown.css" layer(components);
@import "../components/Memo/Memo.css" layer(components);
@import "../components/MemoList/MemoList.css" layer(components);
@import "../components/MemoListFilter/MemoListFilter.css" layer(components);
@import "../components/Notifications/Notifications.css" layer(components);
@import "../components/OffCanvas/OffCanvas.css" layer(components);
@import "../components/Select/Select.css" layer(components);
@import "../components/Tooltip/Tooltip.css" layer(components);
@import "../components/ThemeSwitcher/ThemeSwitcher.css" layer(components);
@import "../App/App.css" layer(components);
@import "../screens/EditMemoScreen/EditMemoScreen.css" layer(components);
@import "../screens/ErrorScreen/ErrorScreen.css" layer(components);
@import "../screens/InitSetupScreen/InitSetupScreen.css" layer(components);
@import "../screens/MainScreen/MainScreen.css" layer(components);
@import "../screens/MemoListScreen/MemoListScreen.css" layer(components);
@import "../screens/NewMemoScreen/NewMemoScreen.css" layer(components);
@import "../screens/SettingsScreen/SettingsScreen.css" layer(components);
@import "../screens/SingleMemoScreen/SingleMemoScreen.css" layer(components);
@import "../screens/UnlockScreen/UnlockScreen.css" layer(components);

@layer base {
    body {
        color: var(--color-text);
        background-color: var(--color-body-bg);
    }
}

:root::view-transition-old(*) {
    display: none;
}

:root::view-transition-old(*),
:root::view-transition-new(*) {
    animation: none;
}
