@import "tailwindcss";

@import "./tailwind.css";

@import "@fontsource-variable/noto-serif-hk";
@import "@fontsource-variable/inter";
@import "@fontsource/ibm-plex-mono";

@import "./themes/default.css" layer(base);
@import "./themes/warm.css" layer(base);
@import "./themes/rosepine.css" layer(base);

@import "../components/Alert/Alert.css";
@import "../components/AlertDialog/AlertDialog.css";
@import "../components/AuthForm/AuthForm.css";
@import "../components/Button/Button.css";
@import "../components/ConveyorBeltText/ConveyorBeltText.css";
@import "../components/Dialog/Dialog.css";
@import "../components/DropdownMenu/DropdownMenu.css";
@import "../components/Editor/Editor.css";
@import "../components/Figure/Figure.css";
@import "../components/Form/Form.css";
@import "../components/Input/Input.css";
@import "../components/LinkPreview/LinkPreview.css";
@import "../components/Loader/Loader.css";
@import "../components/Markdown/Code.css";
@import "../components/Markdown/Markdown.css";
@import "../components/Memo/Memo.css";
@import "../components/MemoList/MemoList.css";
@import "../components/MemoListFilter/MemoListFilter.css";
@import "../components/Navigation/Navigation.css";
@import "../components/Notifications/Notifications.css";
@import "../components/OffCanvas/OffCanvas.css";
@import "../components/Select/Select.css";
@import "../components/Tooltip/Tooltip.css";
@import "../App/App.css";
@import "../screens/EditMemoScreen/EditMemoScreen.css";
@import "../screens/ErrorScreen/ErrorScreen.css";
@import "../screens/InitSetupScreen/InitSetupScreen.css";
@import "../screens/MainScreen/MainScreen.css";
@import "../screens/NewMemoScreen/NewMemoScreen.css";
@import "../screens/SettingsScreen/SettingsScreen.css";
@import "../screens/SingleMemoScreen/SingleMemoScreen.css";
@import "../screens/UnlockScreen/UnlockScreen.css";

@layer base {
    body {
        color: rgb(var(--text-color));
        background-color: rgb(var(--body-bg));
    }
}

.tree-node-group--expanded {
    position: relative;

    .tree-node {
        @apply animate-in fade-in-10;
    }
}

.tree-node-group--expanded .tree-node {
    &::before {
        @apply bg-subtle top-0 bottom-0;
        margin-left: -9px;
        content: "";
        width: 1px;
        display: block;
        position: absolute;
    }

    &:hover {
        &::before {
            @apply bg-subtle-dark z-20;
        }
    }
}

.tree-leaf-list-item:only-of-type .tree-node::before {
    display: none;
}

:root {
    view-transition-name: none;
}
