@layer properties;
@layer theme, base, components, utilities, designs;

@import "tailwindcss";

@import "./tailwind.css";

@import "@fontsource-variable/noto-serif-hk";
@import "@fontsource-variable/inter";
@import "@fontsource/ibm-plex-mono";

@import "./colourschemes/default.css" layer(base);
@import "./colourschemes/warm.css" layer(base);
@import "./colourschemes/rosepine.css" layer(base);

@import "./designs/default.css" layer(designs);

@import "../components/Alert/Alert.css" layer(components);
@import "../components/AlertDialog/AlertDialog.css" layer(components);
@import "../components/AuthForm/AuthForm.css" layer(components);
@import "../components/Button/Button.css" layer(components);
@import "../components/ConveyorBeltText/ConveyorBeltText.css" layer(components);
@import "../components/Dialog/Dialog.css" layer(components);
@import "../components/DropdownMenu/DropdownMenu.css" layer(components);
@import "../components/Editor/Editor.css" layer(components);
@import "../components/Figure/Figure.css" layer(components);
@import "../components/Form/Form.css" layer(components);
@import "../components/Image/ZoomableImage.css" layer(components);
@import "../components/InfoPopover/InfoPopover.css" layer(components);
@import "../components/Input/Input.css" layer(components);
@import "../components/LinkPreview/LinkPreview.css" layer(components);
@import "../components/Loader/Loader.css" layer(components);
@import "../components/Markdown/Code.css" layer(components);
@import "../components/Memo/Memo.css" layer(components);
@import "../components/MemoList/MemoList.css" layer(components);
@import "../components/MemoListFilter/index.css" layer(components);
@import "../components/Notifications/Notifications.css" layer(components);
@import "../components/OverflowMask/OverflowMask.css" layer(components);
@import "../components/Select/Select.css" layer(components);
@import "../components/Toolbar/Toolbar.css" layer(components);
@import "../components/Topbar/Topbar.css" layer(components);
@import "../App/App.css" layer(components);
@import "../screens/ErrorScreen/ErrorScreen.css" layer(components);
@import "../screens/InitSetupScreen/InitSetupScreen.css" layer(components);
@import "../screens/ListScreen/ListScreen.css" layer(components);
@import "../screens/MemoScreen/MemoScreen.css" layer(components);
@import "../screens/SettingsScreen/SettingsScreen.css" layer(components);
@import "../screens/UnlockScreen/UnlockScreen.css" layer(components);

:root {
    overscroll-behavior-x: none;
}

@media (min-width: 768px) {
    :root {
        --text-base: 1rem;
    }
}

@layer base {
    body {
        color: var(--color-text);
        background-color: var(--color-body-bg);
        font-size: var(--text-base, 16px);
    }
}

@keyframes --scroll {
    0%,
    to {
        --scroll: 1;
    }
}
