@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --breakpoint-xs: 768px;
    --breakpoint-tablet: 1024px;
    --breakpoint-sm: 1440px;
    --breakpoint-md: 1680px;
    --breakpoint-lg: 2100px;

    --font-sans:
        "Inter Variable", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-serif:
        "Noto Serif HK Variable", ui-serif, Georgia, Cambria, "Times New Roman",
        Times, serif;
    --font-mono:
        "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;

    --color-primary-extra-light: var(--color-primary-extra-light);
    --color-primary-light: var(--color-primary-light);
    --color-primary: var(--color-primary);
    --color-primary-dark: var(--color-primary-dark);
    --color-primary-extra-dark: var(--color-primary-extra-dark);
    --color-primary-contrast: var(--color-primary-contrast);

    --color-danger-extra-light: var(--color-danger-extra-light);
    --color-danger-light: var(--color-danger-light);
    --color-danger: var(--color-danger);
    --color-danger-dark: var(--color-danger-dark);
    --color-danger-extra-dark: var(--color-danger-extra-dark);
    --color-danger-contrast: var(--color-danger-contrast);

    --color-neutral-extra-light: var(--color-neutral-extra-light);
    --color-neutral-light: var(--color-neutral-light);
    --color-neutral: var(--color-neutral);
    --color-neutral-dark: var(--color-neutral-dark);
    --color-neutral-extra-dark: var(--color-neutral-extra-dark);
    --color-neutral-contrast: var(--color-neutral-contrast);

    --color-text: var(--color-text);

    --color-body: var(--color-body-bg);
    --color-body-contrast: var(--color-body-bg-contrast);

    --color-surface-level-1: var(--color-surface-level-1);
    --color-surface-level-2: var(--color-surface-level-2);
    --color-surface-level-3: var(--color-surface-level-3);
    --color-surface-border: var(--color-surface-border);

    --text-base: 16px;
}

@utility elevation {
    box-shadow: var(--shadow-elevation, 0 0 #0000);
}

@utility elevation-1 {
    --shadow-elevation:
        0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

@utility elevation-2 {
    --shadow-elevation:
        0 20px 25px -5px rgba(0 0 0 / 0.1), 0 8px 10px -6px rgba(0 0 0 / 0.1);
}

@utility elevation-3 {
    --shadow-elevation:
        2px 5px 20px 5px rgba(0 0 0 / 0.1), -2px -2px 5px rgba(0 0 0 / 0.1);
    * {
        --shadow-elevation: 0 0 #0000;
    }
}

@utility surface-level-1 {
    color: var(--surface-color, var(--color-text));
    background-color: color-mix(
        in srgb,
        var(--color-surface-level-1) 70%,
        transparent
    );
    backdrop-filter: blur(18px) saturate(1.5);
    box-shadow:
        var(--shadow-elevation, 0 0 #0000),
        inset 0 0 0 1px
        color-mix(
            in oklch,
            var(--glass-highlight) calc(var(--glass-hightlight-intensity) * 10%),
            transparent
        ),
        inset 2px 2px 0px -2px
        color-mix(
            in oklch,
            var(--glass-highlight) calc(var(--glass-hightlight-intensity) * 80%),
            transparent
        ),
        inset -2px -2px 0px -2px
        color-mix(
            in oklch,
            var(--glass-highlight) calc(var(--glass-hightlight-intensity) * 80%),
            transparent
        ),
        inset -3px -8px 2px -8px
        color-mix(
            in oklch,
            var(--glass-highlight) calc(var(--glass-hightlight-intensity) * 60%),
            transparent
        );
}

@utility surface-level-2 {
    color: var(--surface-color, var(--color-text));

    box-shadow:
        var(--shadow-elevation, 0 0 #0000),
        inset 0 0 0 1px
        color-mix(
            in oklch,
            var(--glass-highlight) calc(var(--glass-hightlight-intensity) * 10%),
            transparent
        ),
        inset 2px 3px 0px -2px
        color-mix(
            in oklch,
            var(--glass-highlight) calc(var(--glass-hightlight-intensity) * 80%),
            transparent
        ),
        inset -2px -2px 0px -2px
        color-mix(
            in oklch,
            var(--glass-highlight) calc(var(--glass-hightlight-intensity) * 80%),
            transparent
        ),
        inset -3px -8px 1px -7px
        color-mix(
            in oklch,
            var(--glass-highlight) calc(var(--glass-hightlight-intensity) * 60%),
            transparent
        ),
        inset -0.3px -1px 4px 0px
        color-mix(
            in oklch,
            var(--glass-shadow) calc(var(--glass-shadow-intensity) * 12%),
            transparent
        ),
        inset -1.5px 2.5px 0px -2px
        color-mix(
            in oklch,
            var(--glass-shadow) calc(var(--glass-shadow-intensity) * 20%),
            transparent
        ),
        inset 0px 3px 4px -2px
        color-mix(
            in oklch,
            var(--glass-shadow) calc(var(--glass-shadow-intensity) * 20%),
            transparent
        ),
        inset 2px -6.5px 1px -4px
        color-mix(
            in oklch,
            var(--glass-shadow) calc(var(--glass-shadow-intensity) * 10%),
            transparent
        );

    backdrop-filter: blur(8px) saturate(1.8) brightness(1.2);
    background-color: color-mix(
        in srgb,
        var(--color-surface-level-2) 50%,
        transparent
    );
}

@utility surface-level-3 {
    --glass-highlight: var(--color-surface-level-3);
    --glass-shadow: var(--color-surface-border);
    color: var(--surface-color, var(--color-text));

    box-shadow:
        var(--shadow-elevation, 0 0 #0000),
        inset 0 0 0 1px
        color-mix(
            in oklch,
            var(--glass-highlight) calc(var(--glass-hightlight-intensity) * 10%),
            transparent
        ),
        inset 2px 3px 0px -1px
        color-mix(
            in oklch,
            var(--glass-highlight) calc(var(--glass-hightlight-intensity) * 80%),
            transparent
        ),
        inset -2px -2px 0px -2px
        color-mix(
            in oklch,
            var(--glass-highlight) calc(var(--glass-hightlight-intensity) * 80%),
            transparent
        ),
        inset -3px -8px 1px -6px
        color-mix(
            in oklch,
            var(--glass-highlight) calc(var(--glass-hightlight-intensity) * 60%),
            transparent
        ),
        inset -0.3px -1px 4px 0px
        color-mix(
            in oklch,
            var(--glass-shadow) calc(var(--glass-shadow-intensity) * 12%),
            transparent
        ),
        inset -1.5px 2.5px 0px -2px
        color-mix(
            in oklch,
            var(--glass-shadow) calc(var(--glass-shadow-intensity) * 20%),
            transparent
        ),
        inset 0px 3px 4px -2px
        color-mix(
            in oklch,
            var(--glass-shadow) calc(var(--glass-shadow-intensity) * 20%),
            transparent
        ),
        inset 2px -6.5px 1px -4px
        color-mix(
            in oklch,
            var(--glass-shadow) calc(var(--glass-shadow-intensity) * 10%),
            transparent
        ),
        0px 1px 5px 0px
        color-mix(
            in oklch,
            var(--glass-shadow) calc(var(--glass-shadow-intensity) * 10%),
            transparent
        ),
        0px 6px 16px 0px
        color-mix(
            in oklch,
            var(--glass-shadow) calc(var(--glass-shadow-intensity) * 8%),
            transparent
        );

    background-color: var(--color-surface-level-3);
}
