@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --breakpoint-xs: 768px;
    --breakpoint-tablet: 1024px;
    --breakpoint-sm: 1440px;
    --breakpoint-md: 1680px;
    --breakpoint-lg: 2100px;

    --font-sans:
        "Inter Variable", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-serif:
        "Noto Serif HK Variable", ui-serif, Georgia, Cambria, "Times New Roman",
        Times, serif;
    --font-mono:
        "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;

    --color-primary-extra-light: var(--color-primary-extra-light);
    --color-primary-light: var(--color-primary-light);
    --color-primary: var(--color-primary);
    --color-primary-dark: var(--color-primary-dark);
    --color-primary-extra-dark: var(--color-primary-extra-dark);
    --color-primary-contrast: var(--color-primary-contrast);

    --color-danger-extra-light: var(--color-danger-extra-light);
    --color-danger-light: var(--color-danger-light);
    --color-danger: var(--color-danger);
    --color-danger-dark: var(--color-danger-dark);
    --color-danger-extra-dark: var(--color-danger-extra-dark);
    --color-danger-contrast: var(--color-danger-contrast);

    --color-neutral-extra-light: var(--color-neutral-extra-light);
    --color-neutral-light: var(--color-neutral-light);
    --color-neutral: var(--color-neutral);
    --color-neutral-dark: var(--color-neutral-dark);
    --color-neutral-extra-dark: var(--color-neutral-extra-dark);
    --color-neutral-contrast: var(--color-neutral-contrast);

    --color-text: var(--color-text);

    --color-body: var(--color-body-bg);
    --color-body-contrast: var(--color-body-bg-contrast);

    --color-surface-level-1: var(--color-surface-level-1);
    --color-surface-level-2: var(--color-surface-level-2);
    --color-surface-level-3: var(--color-surface-level-3);
    --color-surface-border: var(--color-surface-border);

    --text-base: 16px;
}

@utility elevation {
    box-shadow: var(--shadow-elevation, 0 0 #0000);
}

@utility elevation-1 {
    --shadow-elevation:
        0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

@utility elevation-2 {
    --shadow-elevation:
        0 20px 25px -5px rgba(0 0 0 / 0.1), 0 8px 10px -6px rgba(0 0 0 / 0.1);
}

@utility elevation-3 {
    --shadow-elevation:
        2px 5px 20px 5px rgba(0 0 0 / 0.1), -2px -2px 5px rgba(0 0 0 / 0.1);
    * {
        --shadow-elevation: 0 0 #0000;
    }
}

@utility surface-level-1 {
    --color-surface-level-1-border: color-mix(
        in oklch,
        color-mix(in oklch, var(--color-surface-level-1) 20%, white) 60%,
        transparent
    );
    --surface-level-1-highlight: color-mix(
        in oklch,
        color-mix(in oklch, var(--color-surface-level-1) 10%, white)
            var(--glass-hightlight-intensity, 50%),
        transparent
    );
    --surface-level-1-glow: color-mix(
        in oklch,
        color-mix(in oklch, var(--color-surface-level-1) 40%, white) 90%,
        transparent
    );
    --surface-level-1-glow-size: 0px;

    color: var(--surface-color, var(--color-text));

    background-color: color-mix(
        in oklch,
        var(--color-surface-level-1) 70%,
        transparent
    );
    border: 0px solid var(--color-surface-level-1-border);
    box-shadow:
        var(--shadow-elevation, 0 0 #0000),
        inset 0 0 var(--surface-level-1-glow-size) var(--surface-level-1-glow),
        inset 0px 0px 4px 2px var(--surface-level-1-highlight);

    backdrop-filter: blur(25px) saturate(1.8);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-radius: inherit;
        background: linear-gradient(
            to left top,
            color-mix(in oklch, var(--color-surface-level-1) 50%, transparent)
                0%,
            rgba(255, 255, 255, 0) 50%
        );
        z-index: 1;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-radius: inherit;
        background: linear-gradient(
            to bottom,
            color-mix(in oklch, var(--color-surface-level-1) 30%, transparent)
                0%,
            rgba(255, 255, 255, 0) 100%
        );
        z-index: 1;
    }
}

@utility surface-level-2 {
    --color-surface-level-2-border: color-mix(
        in oklch,
        var(--color-surface-level-2) 40%,
        white
    );
    --surface-level-2-highlight: color-mix(
        in oklch,
        color-mix(in oklch, var(--color-surface-level-2) 80%, white)
            var(--glass-hightlight-intensity, 40%),
        transparent
    );
    --surface-level-2-glow: color-mix(
        in oklch,
        color-mix(in oklch, var(--color-surface-level-2) 40%, white) 90%,
        transparent
    );

    color: var(--surface-color, var(--color-text));
    backdrop-filter: blur(8px) saturate(150%);
    background-color: color-mix(
        in oklch,
        var(--color-surface-level-2) 5%,
        transparent
    );
    border: 1px solid
        color-mix(
            in oklch,
            var(--color-surface-level-2-border) 20%,
            transparent
        );
    box-shadow:
        var(--shadow-elevation, 0 0 #0000),
        inset 0 0 var(--surface-level-2-glow-size, 20px)
        var(--surface-level-2-glow),
        inset 0px 0px 4px 2px var(--surface-level-2-highlight);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-radius: inherit;
        background: linear-gradient(
            to left top,
            color-mix(in oklch, var(--color-surface-level-2) 50%, transparent)
                0%,
            rgba(255, 255, 255, 0) 50%
        );
        z-index: 1;
    }
}

@utility surface-level-3 {
    color: var(--surface-color, var(--color-text));
    background-color: var(--color-surface-level-3);
}
