@import "tailwindcss";

@plugin "@tailwindcss/typography";
@plugin "tailwindcss-animate";
@config "../../../tailwind.config.js";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --breakpoint-phone: 390px;
    --breakpoint-xs: 768px;
    --breakpoint-tablet: 1024px;
    --breakpoint-sm: 1440px;
    --breakpoint-md: 1680px;
    --breakpoint-lg: 2100px;
    --breakpoint-xl: 2600px;
    --breakpoint-xxl: 2800px;

    --font-sans:
        "Inter Variable", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-serif:
        "Noto Serif HK Variable", ui-serif, Georgia, Cambria, "Times New Roman",
        Times, serif;
    --font-mono:
        "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;

    --color-primary-extra-light: var(--color-primary-extra-light);
    --color-primary-light: var(--color-primary-light);
    --color-primary: var(--color-primary);
    --color-primary-dark: var(--color-primary-dark);
    --color-primary-extra-dark: var(--color-primary-extra-dark);
    --color-primary-contrast: var(--color-primary-contrast);

    --color-info-extra-light: var(--color-info-extra-light);
    --color-info-light: var(--color-info-light);
    --color-info: var(--color-info);
    --color-info-dark: var(--color-info-dark);
    --color-info-extra-dark: var(--color-info-extra-dark);
    --color-info-contrast: var(--color-info-contrast);

    --color-success-extra-light: var(--color-success-extra-light);
    --color-success-light: var(--color-success-light);
    --color-success: var(--color-success);
    --color-success-dark: var(--color-success-dark);
    --color-success-extra-dark: var(--color-success-extra-dark);
    --color-success-contrast: var(--color-success-contrast);

    --color-danger-extra-light: var(--color-danger-extra-light);
    --color-danger-light: var(--color-danger-light);
    --color-danger: var(--color-danger);
    --color-danger-dark: var(--color-danger-dark);
    --color-danger-extra-dark: var(--color-danger-extra-dark);
    --color-danger-contrast: var(--color-danger-contrast);

    --color-subtle-extra-light: var(--color-subtle-extra-light);
    --color-subtle-light: var(--color-subtle-light);
    --color-subtle: var(--color-subtle);
    --color-subtle-dark: var(--color-subtle-dark);
    --color-subtle-extra-dark: var(--color-subtle-extra-dark);
    --color-subtle-contrast: var(--color-subtle-contrast);

    --color-text: var(--color-text);

    --color-body: var(--color-body-bg);
    --color-body-contrast: var(--color-body-bg-contrast);

    --color-surface-level-1: var(--color-surface-level-1);
    --color-surface-level-2: var(--color-surface-level-2);
}
