[data-design="default"] {
    --surface-box-shadow: 0 0 2px 1px var(--color-surface-border);

    body {
        @apply bg-body;
    }

    .alert {
        @apply p-3 rounded-3xl;
    }

    .btn {
        @apply rounded-3xl py-1 px-4;
    }

    .btn.sm {
        @apply gap-1 py-0.5 px-2 text-sm;
    }

    .input-field .input {
        @apply appearance-none bg-surface-level-1 border border-subtle-extra-light rounded-3xl ring ring-transparent;
        @apply hover:border-subtle-dark;
        @apply focus:ring-1 focus:outline-none focus:ring-primary-light;
        @apply dark:border-subtle-extra-dark;
    }

    .select {
        @apply rounded-3xl border border-subtle-extra-light px-3;
        @apply dark:border-subtle-dark;
    }

    .field-message {
        @apply rounded-2xl px-3 py-2;
    }

    .dialog {
        @apply rounded-t-2xl xs:rounded-2xl p-4;
    }

    .new-memo-editor .memo {
        @apply bg-surface-level-1 rounded-3xl p-2;
    }

    /* biome-ignore lint/style/noDescendingSpecificity: seems to be false positive */
    .memo {
        @apply bg-surface-level-1 rounded-2xl p-4;
        box-shadow: var(--surface-box-shadow);

        .show-more-btn {
            @apply backdrop-blur-sm;
            mask-image: linear-gradient(to bottom, transparent -10%, black 80%);
        }
    }

    .memo-list-filter {
        @apply bg-surface-level-1 rounded-2xl px-2;
        @apply tablet:pt-2 tablet:space-y-2;
        box-shadow: var(--surface-box-shadow);

        .search {
            @apply py-2;

            /* biome-ignore lint/style/noDescendingSpecificity: seems to be false positive */
            .input {
                @apply bg-surface-level-1;
            }
        }

        .state-filter {
            @apply bg-surface-level-2 rounded-3xl;

            .state-filter-item {
                @apply rounded-2xl border border-surface-level-2;

                &:hover {
                    @apply bg-surface-level-1 border-subtle-extra-light;
                }

                &[data-pressed] {
                    @apply bg-surface-level-1 border-subtle-extra-light;
                }
            }
        }
    }

    .memo-list-filter-search {
        &.collapsible {
            .input-field .input {
                @apply rounded-full! text-surface-level-1 border-subtle-dark bg-surface-level-1;
            }

            &:has(*:focus) {
                .input-field .input {
                    @apply text-text;
                }
            }
        }
    }

    .single-memo-screen,
    .edit-memo-screen {
        @apply bg-surface-level-1 rounded-2xl;
        box-shadow:
            var(--surface-box-shadow),
            0 5px 10px rgba(0 0 0 / 0.2);

        @media (min-width: 1440px) {
            /* biome-ignore lint/style/noDescendingSpecificity: false positive due to  nesting */
            .memo {
                box-shadow: none;
            }
        }
    }

    .content .tag-link {
        @apply bg-primary text-primary-contrast inline-block rounded-lg px-1 h-fit;
        transition: box-shadow 150ms;
        &:hover {
            @apply shadow-lg bg-primary-dark;
            text-decoration: none;
        }
    }
}
