.notifications-viewport {
    @apply flex-col gap-2.5 outline-hidden p-4;
    display: flex;
    width: 390px;
    max-width: 100vw;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;

    @media (min-width: 1024px) {
        top: inherit;
        bottom: 0;
    }
}

.notification {
    @apply border rounded-lg shadow-lg p-2 relative;

    &[data-state="open"] {
        @apply animate-in slide-in-from-right fade-in-95;
    }

    &[data-state="closed"] {
        @apply animate-out slide-out-to-right fade-out;
    }

    &[data-swipe="cancel"] {
        transition: transform 200ms ease-out;
        transform: translateX(0);
    }

    &[data-swipe="move"] {
        transform: translateX(var(--radix-toast-swipe-move-x));
    }

    &[data-swipe="end"] {
        @apply animate-out slide-out-to-right fade-out;
    }

    &.info {
        @apply border-subtle bg-surface-level-1;
    }

    &.error {
        @apply border-danger-dark bg-danger text-danger-contrast;
    }
}

.notification-title {
    @apply font-semibold flex items-center gap-2 mb-1 pr-6;
    .icon {
        @apply text-2xl;
    }
}

.notification-close {
    @apply absolute right-2 top-2 text-lg;
}

.notification-message {
    @apply text-sm;
}

.notification-buttons {
    @apply flex gap-2 items-center justify-end mt-2;
}
