.alert {
    @apply border-2 my-2 flex gap-2 items-start rounded-xl p-2 border-danger-extra-dark bg-danger-light text-danger-contrast;

    & > svg {
        @apply size-8;
        min-width: 28px;
    }

    .content {
        @apply mt-0.5 max-w-full;
        color: inherit;

        pre {
            @apply overflow-x-auto p-0 m-0 max-w-full me-8;
        }
    }
}
