:root {
    --font-monospace: "IBM Plex Mono", ui-monospace, SFMono-Regular, monospace;
    --editor-font-size: 16px;

    --text-color: 10 7 6;
    --body-bg: 255 255 255;
    --body-bg-contrast: 60 60 55;
    --surface-bg: 248 244 242;

    --navigation-bg: 60 60 55;
    --navigation-fg: 253 249 247;

    --color-primary-extra-light: 237 213 185;
    --color-primary-light: 222 174 138;
    --color-primary: 210 134 95;
    --color-primary-dark: 189 113 77;
    --color-primary-extra-dark: 156 84 53;
    --color-primary-contrast: 252 250 245;

    --color-success-extra-light: 151 188 174;
    --color-success-light: 119 162 146;
    --color-success: 104 142 128;
    --color-success-dark: 89 121 109;
    --color-success-extra-dark: 74 101 91;
    --color-success-contrast: 249 251 250;

    --color-danger-extra-light: 241 109 101;
    --color-danger-light: 226 69 60;
    --color-danger: 198 61 52;
    --color-danger-dark: 169 52 45;
    --color-danger-extra-dark: 140 43 37;
    --color-danger-contrast: 254 246 245;

    --color-subtle-extra-light: 224 221 218;
    --color-subtle-light: 205 201 199;
    --color-subtle: 216 212 209;
    --color-subtle-dark: 153 151 148;
    --color-subtle-extra-dark: 127 125 123;
    --color-subtle-contrast: 50 49 48;

    --modal-overlay-bg: 60 60 55;

    --btn-bg: 52 52 52;
    --btn-bg-hover: 70 70 70;
    --btn-bg-active: 32 32 32;
    --btn-border-color: 53 52 52;
    --btn-color: 255 255 255;

    --btn-regular-bg: 52 52 52;
    --btn-regular-bg-hover: 70 70 70;
    --btn-regular-bg-active: 32 32 32;
    --btn-regular-border-color: 53 52 52;
    --btn-regular-color: 255 255 255;

    --btn-primary-bg: var(--color-primary);
    --btn-primary-bg-hover: var(--color-primary-dark);
    --btn-primary-bg-active: var(--color-primary-extra-dark);
    --btn-primary-border-color: var(--color-primary-dark);
    --btn-primary-color: var(--color-primary-contrast);

    --btn-success-bg: var(--color-success);
    --btn-success-bg-hover: var(--color-success-dark);
    --btn-success-bg-active: var(--color-success-extra-dark);
    --btn-success-border-color: var(--color-success-dark);
    --btn-success-color: var(--color-primary-contrast);

    --btn-danger-bg: var(--color-danger);
    --btn-danger-bg-hover: var(--color-danger-dark);
    --btn-danger-bg-active: var(--color-danger-extra-dark);
    --btn-danger-border-color: var(--color-danger-dark);
    --btn-danger-color: var(--color-danger-contrast);
}

:root.dark {
    --text-color: 209 201 197;
    --body-bg: 26 25 26;
    --body-bg-contrast: 209 201 197;
    --surface-bg: 32 31 32;

    --navigation-bg: 22 22 22;
    --navigation-fg: 209 201 197;

    --color-primary-extra-light: 171 206 222;
    --color-primary-light: 127 175 201;
    --color-primary: 57 117 163;
    --color-primary-dark: 9 65 122;
    --color-primary-extra-dark: 7 56 110;
    --color-primary-contrast: 235 244 247;

    --color-success-extra-light: 231 244 239;
    --color-success-light: 165 207 188;
    --color-success: 74 137 92;
    --color-success-dark: 51 103 61;
    --color-success-extra-dark: 28 63 31;
    --color-success-contrast: 255 255 255;

    --color-danger-extra-light: 235 210 185;
    --color-danger-light: 222 178 145;
    --color-danger: 178 48 27;
    --color-danger-dark: 133 33 17;
    --color-danger-extra-dark: 107 25 12;
    --color-danger-contrast: 255 255 255;

    --color-subtle-extra-light: 177 177 177;
    --color-subtle-light: 150 150 150;
    --color-subtle: 131 131 131;
    --color-subtle-dark: 112 112 112;
    --color-subtle-extra-dark: 93 93 93;
    --color-subtle-contrast: 250 250 250;

    --modal-overlay-bg: 107 114 128;

    --btn-bg: 52 52 52;
    --btn-bg-hover: 70 70 70;
    --btn-bg-active: 32 32 32;
    --btn-border-color: 53 52 52;
    --btn-color: 255 255 255;

    --btn-regular-bg: 52 52 52;
    --btn-regular-bg-hover: 70 70 70;
    --btn-regular-bg-active: 32 32 32;
    --btn-regular-border-color: 53 52 52;
    --btn-regular-color: 255 255 255;

    --btn-primary-bg: var(--color-primary);
    --btn-primary-bg-hover: var(--color-primary-dark);
    --btn-primary-bg-active: var(--color-primary-extra-dark);
    --btn-primary-border-color: var(--color-primary-dark);
    --btn-primary-color: var(--color-primary-contrast);

    --btn-success-bg: var(--color-success);
    --btn-success-bg-hover: var(--color-success-dark);
    --btn-success-bg-active: var(--color-success-extra-dark);
    --btn-success-border-color: var(--color-success-dark);
    --btn-success-color: var(--color-primary-contrast);

    --btn-danger-bg: var(--color-danger);
    --btn-danger-bg-hover: var(--color-danger-dark);
    --btn-danger-bg-active: var(--color-danger-extra-dark);
    --btn-danger-border-color: var(--color-danger-dark);
    --btn-danger-color: var(--color-danger-contrast);
}

/* Code */
:root {
    --code-foreground: #333333;
    --code-background: rgb(var(--surface-bg));

    --code-selection-background: #4b69c6;
    --code-selection-foreground: rgb(var(--surface-bg));

    --code-keyword: #4b69c6;
    --code-url: var(--code-keyword);
    --code-escape: var(--code-keyword);

    --code-name: #7a3e9d;
    --code-deleted: var(--code-name);
    --code-character: var(--code-name);
    --code-separator: var(--code-name);
    --code-atom: var(--code-name);
    --code-bool: var(--code-name);

    --code-propertyName: #aa3731;
    --code-labelName: var(--code-propertyName);
    --code-className: var(--code-propertyName);
    --code-heading: #4b69c6;

    --code-string: #448c27;
    --code-inserted: var(---code-string);
    --code-processingInstruction: var(---code-string);

    --code-number: #9c5d27;
    --code-constant: var(--code-number);
    --code-color: var(--code-number);
    --code-changed: var(--code-number);
    --code-modifier: var(--code-number);
    --code-self: var(--code-number);
    --code-namespace: var(--code-number);

    --code-comment: #aaaaaa;

    --code-invalid: #cd3131;
}

:root.dark {
    --code-foreground: #787c99;
    --code-background: rgb(var(--surface-bg));

    --code-selection-background: #787c99;
    --code-selection-foreground: rgb(var(--surface-bg));

    --code-name: #c0caf5;
    --code-keyword: #bb9af7;
    --code-constant: var(--code-keyword);
    --code-deleted: var(--code-name);
    --code-character: var(--code-name);
    --code-separator: var(--code-name);
    --code-atom: var(--code-name);
    --code-bool: var(--code-name);
    --code-className: var(--code-name);

    --code-url: #b4f9f8;
    --code-escape: #b4f9f8;

    --code-propertyName: #7aa2f7;
    --code-labelName: var(--code-variableName);

    --code-typeName: #0db9d7;

    --code-string: #9ece6a;
    --code-inserted: var(---code-string);
    --code-processingInstruction: var(---code-string);

    --code-number: #ff9e64;
    --code-color: var(--code-number);
    --code-changed: var(--code-number);
    --code-modifier: var(--code-number);
    --code-self: var(--code-number);
    --code-namespace: var(--code-number);

    --code-comment: #444b6a;

    --code-invalid: #ff5370;
}
