.dialog {
    @apply fixed shadow-xl rounded-xl p-4 surface-level-3 elevation-2;
    @apply focus:outline-hidden;
    position-area: bottom center;
    color: var(--color-text);

    overflow: hidden;

    top: calc(5svh + var(--nested-dialogs) * -3dvh);

    width: 100%;
    max-width: none;
    max-height: none;
    height: 100svh;
    /* biome-ignore lint/complexity/noImportantStyles: required for reset later */
    padding-bottom: 5svh !important;

    --offset-top: calc(env(safe-area-inset-top, 0) / 2);
    --scale: calc(1 - 0.03 * var(--nested-dialogs));
    --backdrop-opacity: 1;

    transform: translateY(var(--offset-top)) scale(var(--scale));
    transition:
        opacity 150ms,
        transform 250ms,
        top 250ms;
    opacity: 1;

    @starting-style {
        --offset-top: 100%;
        --scale: 1;
    }

    &[data-state="closing"] {
        --offset-top: 100%;
        --scale: 1;
        --backdrop-opacity: 0;
    }

    @media (min-width: 768px) {
        @apply max-w-3xl;
        position-area: center;
        width: 80svw;
        max-height: 85svh;
        height: revert;
        /* biome-ignore lint/complexity/noImportantStyles: required for reset */
        padding-bottom: revert !important;
        top: 0;

        @starting-style {
            opacity: 0;
            --offset-top: 0;
        }

        &[data-state="closing"] {
            opacity: 0;
            --offset-top: 0;
            --backdrop-opacity: 0;
        }
    }

    .dialog-description {
        @apply text-neutral-extra-dark mb-2;
        font-size: var(--sm-font-size);
    }

    .dialog-title + .dialog-description {
        @apply -mt-2;
    }
}

.dialog .btn {
    isolation: isolate;
}

.dialog.is-modal .dialog {
    /* biome-ignore lint/complexity/noImportantStyles: required for reset */
    --backdrop-opacity: 0 !important;
}

.dialog::backdrop {
    @apply fixed inset-0;
    background-color: color-mix(
        in srgb,
        var(--color-modal-overlay-bg) 70%,
        transparent
    );
    transition: opacity 150ms;
    opacity: var(--backdrop-opacity, 1);

    @starting-style {
        --backdrop-opacity: 0;
    }
}

.dialog-close-btn {
    @apply absolute right-3 top-3 inline-flex size-8 items-center justify-center p-0 rounded-full;
    @apply aspect-square h-11 w-11;
    @apply focus:outline-hidden focus-visible:ring focus-visible:ring-primary focus-visible:ring-offset-2;
    z-index: 200;

    & > svg {
        @apply size-4;
    }
}

.dialog-title {
    @apply font-medium text-xl mb-2;
    font-size: var(--h3-font-size);
}

.dialog-btns {
    @apply flex gap-2 justify-end pt-6 pb-2;
}

.dialog-drag-handle {
    @apply xs:hidden text-3xl;
    position: absolute;
    left: 0;
    top: -0.5lh;
    width: 100%;
    height: 2.5lh;
    touch-action: none;
    z-index: 100;
}

:root:has(.dialog.is-modal) {
    /* biome-ignore lint/complexity/noImportantStyles: we really, really want this */
    overflow: hidden !important;
    /* biome-ignore lint/complexity/noImportantStyles: we really, really want this */
    overscroll-behavior: contain !important;
}
