.memo-list-items {
    width: 100%;
}

.memo-list-item-group {
    @apply mb-4;
    --gap-x: calc(var(--spacing) * 2);
    --gap-y: calc(var(--spacing) * 2);
    --item-max-height: 50cqh;
    display: grid;
    gap: var(--gap-y) var(--gap-x);
    width: 100%;

    @container (width >= 768px) {
        grid-auto-columns: 50%;
        --item-max-height: 40cqh;

        .memo-list-day,
        .memo-list-day-divider {
            grid-column: span 2;
        }
    }

    @container (width >= 1024px) {
        grid-auto-columns: 33.3%;
        --item-max-height: 50cqh;

        .memo-list-day,
        .memo-list-day-divider {
            grid-column: span 3;
        }
    }

    @container (width >= 1680px) {
        grid-auto-columns: 20%;
        --item-max-height: 45cqh;
        --gap-y: calc(var(--spacing) * 4);

        .memo-list-day,
        .memo-list-day-divider {
            grid-column: span 5;
        }
    }

    @container (width >= 2100px) {
        grid-auto-columns: 16.66%;
        --item-max-height: 40cqh;

        .memo-list-day,
        .memo-list-day-divider {
            grid-column: span 6;
        }
    }
}

.memo-list .memo-list-item {
    @apply p-2 flex-1 relative border-surface-border border-b;

    overflow: hidden;
    height: 100%;
    max-height: var(--item-max-height);
    container: memo / inline-size;

    @container (width >= 768px) {
        @apply border-b-0 border-s px-4;

        &:nth-of-type(1),
        &:nth-of-type(3n + 1) {
            @apply border-s-0;
        }
    }

    @container (width >= 1680px) {
        &:nth-of-type(3n + 1) {
            @apply border-s;
        }

        &:nth-of-type(5n + 1) {
            @apply border-s-0;
        }
    }

    @container (width >= 2100px) {
        &:nth-of-type(3n + 1),
        &:nth-of-type(5n + 1) {
            @apply border-s;
        }

        &:nth-of-type(6n + 1) {
            @apply border-s-0;
        }
    }

    .memo-header {
        @apply pt-0;
        display: block;
    }

    .memo-date {
        display: block;
    }

    .memo-header h1 {
        @apply flex-1 font-semibold;
        font-size: var(--h2-font-size);

        &::before {
            content: "";
            display: block;
            float: right;
            height: calc(var(--spacing) * 10);
            width: calc(var(--spacing) * 10);
        }

        &::after {
            content: "";
            display: block;
            clear: both;
        }
    }

    .memo-header a:has(time) {
        @apply hover:underline;
    }

    .memo-actions {
        @apply flex absolute top-3 right-2 z-10 w-10;

        .btn {
            @apply text-sm relative elevation-2;
            min-height: revert;
            top: -2px;
        }
    }

    .memo-header-meta {
        @apply flex justify-between;
    }

    .memo-content {
        @apply text-neutral!;

        p a {
            @apply text-primary/80;
        }
    }

    .show-more-blur-sizer {
        @apply absolute bottom-0 left-0 right-0 top-0 pointer-events-none;
        container: show-more-btn-sizer / size;
    }

    .show-more-blur {
        @apply absolute bottom-0 left-0 right-0 h-20 pb-1 flex justify-center items-end text-2xl;
        backdrop-filter: blur(2px);
        mask-image: linear-gradient(to bottom, transparent -10%, black 80%);
        background-image: linear-gradient(
            to bottom,
            transparent,
            var(--color-body-bg) 10%
        );
    }
}

.memo-list .memo-list-item.is-bookmark-form {
    .memo-header {
        @apply pb-0 -mb-2;
    }

    .memo-header h1 {
        @apply h-fit text-sm;

        a:hover {
            @apply underline;
        }
    }

    .show-more-blur-sizer {
        display: none;
    }

    p {
        display: none;
    }

    .link-preview + p {
        display: block;
    }

    .link-preview {
        @apply shadow-none bg-transparent p-0;
    }

    .link-preview-description {
        @apply p-0;
    }
}

:root {
    --memo-list-day-z-index: 200;
}

.memo-list-day {
    @apply sticky w-full flex items-center justify-center px-1;
    pointer-events: none;
    user-select: none;
    height: min-content;
    z-index: var(--memo-list-day-z-index);
    top: calc(
        var(--spacing) *
        2 +
        max(env(safe-area-inset-top, 0px), var(--spacing) * 2)
    );
    margin-top: calc(var(--spacing) * 1);

    .memo-list-day-date {
        @apply text-neutral-dark dark:text-neutral-light;
        font-size: var(--sm-font-size);
    }

    @media (min-width: 1024px) {
        @apply ml-2 p-0;
        top: calc(var(--spacing) * 3 + env(safe-area-inset-top, 0));

        .memo-list-day-date {
            @apply py-1 px-1.5 relative rounded-xl surface-level-2 elevation-2 w-fit;
            font-size: var(--sm-font-size);
            --color-surface-level-1: var(--btn-bg);
        }
    }
}

.memo-list-day-divider {
    @apply hidden;

    @media (min-width: 768px) {
        @apply relative block border-t border-surface-border mx-2 w-full;
        margin-top: calc(-1lh + 2px);
        pointer-events: none;
        user-select: none;
        z-index: calc(var(--memo-list-day-z-index) - 1);
    }
}

.memo-list-item-group:nth-of-type(1) .memo-list-day-divider {
    @apply hidden;
}

.memo-list-reload-btn {
    @apply sticky flex flex-col gap-1 justify-center items-center w-fit;
    top: calc(
        env(safe-area-inset-top, calc(var(--spacing) * 2)) +
        calc(var(--spacing))
    );
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;

    .description {
        @apply text-xs rounded-3xl py-1 px-2 select-none cursor-default shadow-md backdrop-blur;
        background-color: color-mix(
            in srgb,
            var(--color-surface-level-1) 50%,
            transparent
        );
    }
}
