.error-screen {
    @apply relative h-[100dvh] px-2 sm:px-4;

    .message {
        @apply absolute left-1/2 top-full -translate-y-full -translate-x-1/2 w-full px-2 pb-8;

        @media (min-width: 1440px) {
            @apply absolute left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 w-fit;
        }

        h1 {
            @apply text-5xl md:text-7xl mb-2 font-semibold;

            color: var(--color-body-bg);
            text-shadow:
                2px 2px 0 var(--color-body-bg-contrast),
                -1px -1px 0 var(--color-body-bg-contrast),
                1px -1px 0 var(--color-body-bg-contrast),
                -1px 1px 0 var(--color-body-bg-contrast),
                1px 1px 0 var(--color-body-bg-contrast),
                4px 4px 0px var(--color-body-bg);
        }

        p {
            @apply text-subtle-dark text-xl dark:text-text;
        }
    }
}

.error-code {
    top: -50vh;
    left: -20vw;

    @media (min-width: 768px) {
        top: -10vh;
        left: -50vw;
    }
}
