:root {
    --navigation-height: calc(var(--spacing) * 10);
}

.navigation {
    @apply hidden tablet:flex w-full items-center p-2;

    -webkit-app-region: drag;
    min-height: env(titlebar-area-height);
    height: var(--navigation-height);
    width: env(titlebar-area-width, 100%);

    &[data-active="settings"] {
        @apply flex;

        .navigation-theme-selector {
            @apply hidden;
        }
    }
}

.navigation-theme-selector {
    @apply hidden lg:flex flex-1 gap-2 justify-end;

    .input {
        @apply w-fit;
    }
}

body.platform-macos .navigation {
    @apply pe-4;

    & > .btn:first-child {
        @apply mt-6;
    }
}
