@import "./Toolbar.css";
@import "./TextEditor.css";

.editor-buttons {
    @apply p-1 flex items-center justify-between gap-2 w-full relative -top-0.5;
    height: 1.5lh;

    &:has(button:only-child) {
        @apply justify-end;
    }
}

.editor {
    @apply flex flex-col bg-body;
    @apply dark:border-subtle-extra-dark;

    @media (min-width: 768px) {
        position: relative;

        .editor-toolbar {
            order: 1;
        }

        .editor-buttons {
            order: 2;
        }

        .text-editor {
            order: 3;
        }
    }
}

.placeholder-btn {
    @apply appearance-none cursor-text;
    @apply flex items-start w-full min-h-full text-left p-3 grow;
    @apply text-subtle-dark font-mono text-[13px];
}
