.editor-toolbar {
    @apply fixed! elevation-2 left-4 right-4 rounded-full!;
    z-index: 100;
    bottom: max(env(safe-area-inset-bottom, 0px), calc(var(--spacing) * 4));

    @media (min-width: 768px) {
        @apply bottom-2;
        right: unset;
        left: unset;
    }
}

.editor:has(:focus) .editor-toolbar {
    --correction-factor-scroll-down: 12px;
    --correction-factor-scroll-up: env(safe-area-inset-bottom, 0px);
    top: var(--offset-top, 0px);

    @media (min-width: 768px) {
        animation: none;
        bottom: max(env(safe-area-inset-top, 0px), calc(var(--spacing) * 2));
    }
}
