@import "./EditorToolbar.css";
@import "./TextEditor.css";

.editor-buttons {
    @apply p-1 pt-2 flex items-center justify-between gap-2 w-full;
    /* margin-top: env(safe-area-inset-top, 0px); */

    .btn {
        @apply aspect-square rounded-full  h-11;
        isolation: isolate;

        &::before {
            @apply rounded-full;
        }

        @media (min-width: 768px) {
            @apply rounded-2xl;
            aspect-ratio: unset;

            &::before {
                @apply rounded-2xl;
            }
        }
    }

    &:has(button:only-child) {
        @apply justify-end;
    }

    @container (width >= 700px) {
        @apply absolute left-2 right-2 top-2;
        width: auto;
        margin-top: 0;
    }
}

.editor {
    @apply flex flex-col flex-1;
}
