.text-editor {
    @apply flex-1 overflow-auto;
    width: 100%;
    max-width: var(--editor-width, var(--memo-width, 100%));
    --code-foreground: var(--color-text);
}

.cm-editor {
    @apply overflow-hidden;
    background: transparent;
    color: var(--code-foreground);
    font-size: var(--editor-font-size);
    height: 100%;
}

.cm-editor.cm-focused {
    /* biome-ignore lint/complexity/noImportantStyles: required to work with codemirror */
    outline: none !important;
}

.cm-content,
.cm-line {
    /* biome-ignore lint/complexity/noImportantStyles: required to work with codemirror */
    padding: 0 !important;
    text-wrap: pretty;
}

.cm-scroller {
    @apply grow font-sans!;
    /* biome-ignore lint/complexity/noImportantStyles: required to work with codemirror */
    overflow: visible !important;
    height: 100%;

    padding-bottom: calc(100dvh - var(--vvp-h));
}

.vim-enabled .cm-cursor {
    width: 10px;
    height: 15px;
    background: color-mix(
        in srgb,
        var(--color-primary) 60%,
        transparent
        /* biome-ignore lint/complexity/noImportantStyles: required */
    ) !important;
    /* biome-ignore lint/complexity/noImportantStyles: required */
    outline: 1px solid color-mix(in srgb, var(--color-primary) 60%, transparent) !important;
    /* biome-ignore lint/complexity/noImportantStyles: required */
    border-left-color: transparent !important;
}

.cm-focused .cm-fat-cursor {
    /* biome-ignore lint/complexity/noImportantStyles: required */
    background: var(--color-primary) !important;
    /* biome-ignore lint/complexity/noImportantStyles: required */
    outline: 1px solid var(--color-primary) !important;
}

:not(.cm-focused) .cm-fat-cursor {
    /* biome-ignore lint/complexity/noImportantStyles: required */
    outline-color: var(--color-primary) !important;
}

.cm-placeholder {
    /* biome-ignore lint/complexity/noImportantStyles: required */
    color: var(--color-neutral-dark) !important;
}

.cm-line:has(.cm-heading-1),
.cm-line:has(.cm-heading-2),
.cm-line:has(.cm-heading-3),
.cm-line:has(.cm-heading-4),
.cm-line:has(.cm-heading-5),
.cm-line:has(.cm-heading-6) {
    @apply font-semibold text-text!;
    text-wrap: pretty;
    /* biome-ignore lint/complexity/noImportantStyles: required */
    padding-top: 1lh !important;
}

.cm-heading-1,
.cm-heading-2,
.cm-heading-3,
.cm-heading-4,
.cm-heading-5,
.cm-heading-6 {
    @apply text-text!;
}

.cm-line:has(.cm-heading-1) {
    font-size: var(--h1-font-size);
    /* biome-ignore lint/complexity/noImportantStyles: required */
    padding-top: 0 !important;
}

.cm-line:has(.cm-heading-2) {
    font-size: var(--h2-font-size);
}

.cm-line:has(.cm-heading-3) {
    font-size: var(--h3-font-size);
}

.cm-line:has(.cm-heading-4) {
    font-size: var(--h4-font-size);
}

.cm-heading-5 {
    @apply font-bold;
}

.cm-heading-6 {
    @apply font-semibold underline;
}

.tok-monospace {
    @apply font-mono bg-surface-level-1;
}

.tok-blockquote {
    @apply font-serif italic text-neutral;
}

.cm-line:has(.tok-blockquote) {
    @apply border-l border-neutral-dark ps-4!;
    text-indent: -3px;
    margin-top: 0.5lh;
    margin-bottom: 0.5lh;
}

.cm-hide-token {
    .tok-meta {
        font-size: 0px;
    }
}
.cm-hide-token .cm-heading-1 {
    margin-right: -0.5rem;
}

.cm-hide-token .cm-heading-2,
.cm-hide-token .cm-heading-3 {
    margin-right: -0.4rem;
}

.cm-hide-token .cm-heading-4 {
    margin-right: -0.3rem;
}

.cm-hide-token .cm-heading-5,
.cm-hide-token .cm-heading-6 {
    margin-right: -0.2rem;
}

.cm-hide-token.md-link {
    .tok-url {
        font-size: 0px;
    }
}

.cm-line.tok-fenced-code {
    @apply px-4! font-mono;
    background-color: var(--code-background);
    color: var(--code-foreground);
}

.cm-line.tok-fenced-code-mark {
    @apply rounded-t font-mono pt-4!;
    background-color: var(--code-background);
    color: var(--code-foreground);
}

.cm-line.tok-fenced-code-end-mark {
    @apply rounded-b font-mono pb-4!;
    background-color: var(--code-background);
    color: var(--code-foreground);
}

.cm-img {
    @apply ml-1.5 rounded-lg;
    max-height: 50dvh;
}

.cm-anchor {
    @apply text-primary;
    display: inline-flex;
    align-items: center;
    height: 1lh;
    width: 0.7lh;
    padding-left: 2px;
    padding-right: 2px;
}

.tok-link {
    @apply text-primary hover:underline;
}

.cm-line:has(.tok-heading) + .cm-line.tok-paragraph {
    /* biome-ignore lint/complexity/noImportantStyles: required */
    padding-top: 0.5lh !important;
}

.cm-line.tok-list-mark {
    /* biome-ignore lint/complexity/noImportantStyles: required */
    display: list-item !important;
    list-style-type: disc;
    margin-inline-start: 1.5714286em;
}

.cm-line.tok-list-mark.tok-list-numeric {
    margin-inline-start: 1.5714286em;
}

.tok-list-mark .tok-meta:first-child {
    font-size: 0;
}

.cm-padding {
    @apply block h-0 w-0 pointer-events-none;
}

.cm-line.tok-horizontalrule {
    @apply relative;
    height: 1px;
    /* biome-ignore lint/complexity/noImportantStyles: required */
    padding-top: 2.8571429em !important;
    /* biome-ignore lint/complexity/noImportantStyles: required */
    padding-bottom: 2.8571429em !important;
    color: var(--code-background);

    &::after {
        @apply bg-neutral-dark;
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
    }
}

.tok-custom-block-delim {
    @apply font-mono;
    color: var(--code-keyword);
}

.tok-custom-block-args {
    @apply font-mono;
    color: var(--code-string);
}

.tok-custom-block-name {
    @apply font-mono;
    color: var(--code-name);
}
