.popover {
    @apply bg-surface rounded-lg shadow-md relative px-2 flex;
    width: fit-content;
    max-width: max(
        calc(var(--radix-popper-anchor-width) * 4),
        var(--radix-popper-available-width)
    );
    max-height: calc(var(--radix-popper-available-height) - 100px);
    z-index: 9999;
}

.popover-close {
    @apply absolute right-1 top-1;
}

.popover-content {
    @apply relative overflow-auto max-h-full w-full pe-6;
}

.popover-arrow {
    @apply fill-surface drop-shadow-md;
}
