.settings-page {
    @apply container mx-auto max-w-4xl px-2 tablet:px-4;

    h1 {
        @apply text-4xl mb-4 px-2 font-serif;
    }
}

.settings-section {
    @apply rounded-lg shadow-lg overflow-hidden relative z-10;
    @apply pb-4 -mb-8;

    &:last-child {
        @apply mb-0;
    }

    &[data-state="open"] .settings-heading h2 {
        @apply font-semibold;
    }
}

.settings-heading {
    @apply w-full text-left p-4 -outline-offset-4 outline-primary relative;

    &:focus-visible {
        outline-style: solid;
        outline-width: 2px;
    }

    h2 {
        @apply text-xl;
    }

    .icon {
        @apply absolute right-4 top-4 size-12 opacity-30;
    }
}

.settings-section-content {
    @apply p-4 pb-8;

    .checkbox-field {
        @apply flex flex-row-reverse justify-between items-center p-2 gap-2 rounded-lg shadow-lg h-fit;
        @apply bg-surface text-text;

        label {
            @apply flex-1;
        }

        &:hover {
            @apply shadow-xl;
        }

        .checkbox {
            @apply rounded-full;
        }
    }

    h2,
    h3,
    h4 {
        @apply font-semibold mb-2;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    h3:has(+ small) {
        @apply mb-0;
    }
}

.settings-sub-section {
    @apply mt-8 pb-8 border-b border-b-current;

    &:first-child {
        @apply mt-0 pb-4;
    }

    &:last-child {
        @apply border-none pb-0;
    }
}

.settings-system-tab {
    .api-tokens-list {
        @apply space-y-2;

        .api-token-name {
            @apply text-lg font-semibold w-full;
        }

        .api-token {
            @apply p-2 border border-subtle-dark rounded shadow-md;
        }

        dt {
            @apply block;
        }

        .api-token-expires-at {
            @apply flex gap-2 text-sm;
        }

        .api-token-created-at {
            @apply flex gap-2 text-xs;
        }
    }
}

.icon-select-option {
    @apply flex gap-2 items-center;

    img {
        @apply size-6;
    }
}
