:root.warm {
    --text-color: 43 27 54;
    --body-bg: 242 238 236;
    --body-bg-contrast: 43 27 54;
    --surface-bg: 245 241 240;

    --navigation-bg: 60 60 55;
    --navigation-fg: 253 249 247;

    --color-primary-extra-light: 190 173 196;
    --color-primary-light: 144 122 153;
    --color-primary: 99 78 110;
    --color-primary-dark: 86 64 99;
    --color-primary-extra-dark: 65 43 82;
    --color-primary-contrast: 247 245 247;

    --color-success-extra-light: 211 222 177;
    --color-success-light: 177 196 130;
    --color-success: 142 170 87;
    --color-success-dark: 123 153 70;
    --color-success-extra-dark: 95 128 48;
    --color-success-contrast: 249 250 245;

    --color-danger-extra-light: 240 161 187;
    --color-danger-light: 230 96 123;
    --color-danger: 220 37 46;
    --color-danger-dark: 196 29 38;
    --color-danger-extra-dark: 163 21 28;
    --color-danger-contrast: 252 242 247;

    --color-subtle-extra-light: 245 243 242;
    --color-subtle-light: 237 233 232;
    --color-subtle: 229 223 223;
    --color-subtle-dark: 207 180 180;
    --color-subtle-extra-dark: 171 125 125;
    --color-subtle-contrast: 252 252 252;

    --modal-overlay-bg: 60 60 55;

    --btn-bg: 52 52 52;
    --btn-bg-hover: 70 70 70;
    --btn-bg-active: 32 32 32;
    --btn-border-color: 53 52 52;
    --btn-color: 255 255 255;

    --btn-regular-bg: 52 52 52;
    --btn-regular-bg-hover: 70 70 70;
    --btn-regular-bg-active: 32 32 32;
    --btn-regular-border-color: 53 52 52;
    --btn-regular-color: 255 255 255;

    --btn-primary-bg: var(--color-primary);
    --btn-primary-bg-hover: var(--color-primary-dark);
    --btn-primary-bg-active: var(--color-primary-extra-dark);
    --btn-primary-border-color: var(--color-primary-dark);
    --btn-primary-color: var(--color-primary-contrast);

    --btn-success-bg: var(--color-success);
    --btn-success-bg-hover: var(--color-success-dark);
    --btn-success-bg-active: var(--color-success-extra-dark);
    --btn-success-border-color: var(--color-success-dark);
    --btn-success-color: var(--color-primary-contrast);

    --btn-danger-bg: var(--color-danger);
    --btn-danger-bg-hover: var(--color-danger-dark);
    --btn-danger-bg-active: var(--color-danger-extra-dark);
    --btn-danger-border-color: var(--color-danger-dark);
    --btn-danger-color: var(--color-danger-contrast);

    .markdown a {
        text-decoration: underline;
    }
}

:root.warm.dark {
    --text-color: 211 214 207;
    --body-bg: 36 53 56;
    --body-bg-contrast: 211 214 207;
    --surface-bg: 39 60 62;

    --navigation-bg: 39 60 62;
    --navigation-fg: 211 214 207;

    --color-primary-extra-light: 224 175 191;
    --color-primary-light: 201 125 138;
    --color-primary: 178 81 83;
    --color-primary-dark: 161 66 67;
    --color-primary-extra-dark: 133 45 47;
    --color-primary-contrast: 252 245 249;

    --color-success-extra-light: 211 222 177;
    --color-success-light: 177 196 130;
    --color-success: 142 170 87;
    --color-success-dark: 123 153 70;
    --color-success-extra-dark: 95 128 48;
    --color-success-contrast: 249 250 245;

    --color-danger-extra-light: 240 161 187;
    --color-danger-light: 230 96 123;
    --color-danger: 220 37 46;
    --color-danger-dark: 196 29 38;
    --color-danger-extra-dark: 163 21 28;
    --color-danger-contrast: 252 242 247;

    --color-subtle-extra-light: 165 201 201;
    --color-subtle-light: 111 159 161;
    --color-subtle: 66 119 121;
    --color-subtle-dark: 54 103 107;
    --color-subtle-extra-dark: 37 81 89;
    --color-subtle-contrast: 242 247 247;

    --modal-overlay-bg: 107 114 128;

    --btn-bg: 89 118 120;
    --btn-bg-hover: 152 177 179;
    --btn-bg-active: 32 53 56;
    --btn-border-color: 32 53 56;
    --btn-color: 211 214 207;

    --btn-regular-bg: 89 118 120;
    --btn-regular-bg-hover: 152 177 179;
    --btn-regular-bg-active: 22 41 46;
    --btn-regular-border-color: 32 53 56;
    --btn-regular-color: 211 214 207;

    --btn-primary-bg: var(--color-primary);
    --btn-primary-bg-hover: var(--color-primary-dark);
    --btn-primary-bg-active: var(--color-primary-extra-dark);
    --btn-primary-border-color: var(--color-primary-dark);
    --btn-primary-color: var(--color-primary-contrast);

    --btn-success-bg: var(--color-success);
    --btn-success-bg-hover: var(--color-success-dark);
    --btn-success-bg-active: var(--color-success-extra-dark);
    --btn-success-border-color: var(--color-success-dark);
    --btn-success-color: var(--color-primary-contrast);

    --btn-danger-bg: var(--color-danger);
    --btn-danger-bg-hover: var(--color-danger-dark);
    --btn-danger-bg-active: var(--color-danger-extra-dark);
    --btn-danger-border-color: var(--color-danger-dark);
    --btn-danger-color: var(--color-danger-contrast);
}

/* Code */
:root {
    --code-keyword: #b25153;
    --code-url: var(--code-keyword);
    --code-escape: var(--code-keyword);

    --code-deleted: #E6607B;
    --code-character: #E6607B;
    --code-separator: #E6607B;
    --code-atom: #E6607B;
    --code-bool: #E6607B;

    --code-propertyName: #564063;
    --code-labelName: var(--code-propertyName);
    --code-className: var(--code-propertyName);
    --code-heading: var(--color-primary);

    --code-string: #8eaa57;
    --code-inserted: var(--code-string);
    --code-processingInstruction: var(--code-string);

    --code-number: #3b7476;
    --code-constant: var(--code-number);
    --code-color: var(--code-number);
    --code-changed: var(--code-number);
    --code-modifier: var(--code-number);
    --code-self: var(--code-number);
    --code-namespace: var(--code-number);

    --code-comment: #A5C9C9;

    --code-invalid: #dc252e;
}

:root.dark {
    --code-name: #c0caf5;
    --code-keyword: var(--color-primary);
    --code-constant: var(--code-keyword);
    --code-deleted: var(--code-name);
    --code-character: var(--code-name);
    --code-separator: var(--code-name);
    --code-atom: var(--code-name);
    --code-bool: var(--code-name);
    --code-className: var(--code-name);

    --code-url: #b4f9f8;
    --code-escape: #b4f9f8;

    --code-propertyName: #7aa2f7;
    --code-labelName: var(--code-variableName);

    --code-typeName: #0db9d7;

    --code-string: #9ece6a;
    --code-inserted: var(---code-string);
    --code-processingInstruction: var(---code-string);

    --code-number: #ff9e64;
    --code-color: var(--code-number);
    --code-changed: var(--code-number);
    --code-modifier: var(--code-number);
    --code-self: var(--code-number);
    --code-namespace: var(--code-number);

    --code-comment: #444b6a;

    --code-invalid: #ff5370;
}

