:root {
    --appfooter-height: 2lh;
}

.main {
    @apply sm:flex-1;
    padding-bottom: calc(var(--appfooter-height) + var(--spacing) * 14);

    @media (min-width: 1024px) {
        padding-bottom: calc(var(--appfooter-height) + var(--spacing) * 4);
    }
}

.dialog-open-scroll-lock .main {
    height: var(--vvp-h, 100dvh);
    overflow: hidden;
}

.app-footer {
    @apply px-2 py-4 flex justify-end items-center absolute left-0 right-0;
    height: var(--appfooter-height);
}

.unlock-page-bg {
    @apply fixed inset-0 pointer-events-none;
    isolation: isolate;
    z-index: -1;
    background-color: var(--color-body-bg);

    .noise {
        @apply fixed inset-0;
        filter: contrast(100%);
        mix-blend-mode: hard-light;
        background: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.62' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E")
            repeat;
        background-size: 400px;
        backdrop-filter: blur(25px);
    }

    .spot-1,
    .spot-2,
    .spot-3 {
        position: fixed;
        height: 80vh;
        width: 80vh;
    }

    .spot-1 {
        background-image: radial-gradient(
            circle,
            var(--color-primary),
            transparent 30%
        );

        top: -40%;
        left: -60%;
        @media (min-width: 768px) {
            background-image: radial-gradient(
                circle,
                var(--color-primary) 1,
                transparent 70%
            );
            top: -18%;
            left: -2%;
        }
    }

    .spot-2 {
        background-image: radial-gradient(
            circle,
            var(--color-danger),
            transparent 40%
        );
        width: 100vh;

        top: -25%;
        left: -90%;
        @media (min-width: 768px) {
            background-image: radial-gradient(
                circle,
                var(--color-danger),
                transparent 60%
            );
            top: -5%;
            left: -16%;
        }
    }

    .spot-3 {
        height: 100vh;
        background-image: radial-gradient(
            circle,
            var(--color-success),
            transparent 30%
        );

        top: -45%;
        left: -16%;
        @media (min-width: 768px) {
            background-image: radial-gradient(
                circle,
                var(--color-success),
                transparent 60%
            );
            top: -35%;
            left: 5%;
        }
    }
}

:root.dark .unlock-page-bg .noise {
    mix-blend-mode: overlay;
}

.autounlock-transition {
    view-transition-name: autounlock-transition;
}

:root::view-transition-new(autounlock-transition) {
    animation: autounlock-transition 250ms linear !important;
    animation-delay: 10ms;
    animation-fill-mode: both;
    pointer-events: none;
    mask:
        linear-gradient(#000 0 0),
        linear-gradient(90deg, #000 50.1%, #0000 0) content-box 50% 0% / 200%
        100% no-repeat,
        linear-gradient(270deg, #000 50.1%, #0000 0) content-box 50% 0% / 200%
        100% no-repeat;
    mask-composite: exclude, add;
    transform: scale(0.98);
}

@keyframes autounlock-transition {
    100% {
        transform: scale(1);
        mask-position:
            0% 0%,
            100% 0;
    }
}
