.memo {
    @apply overflow-x-auto flex flex-col;

    &.is-editing {
        @apply p-0;
    }

    .show-more-btn {
        @apply hidden;
    }

    &.is-collapsed {
        @apply relative;
    }

    &.is-collapsed .show-more-btn {
        @apply flex;
    }

    &.expanded,
    &.is-editing {
        max-height: max-content !important;
        overflow: auto !important;
    }
}

.memo-header {
    h1 {
        @apply mb-1 text-balance;
    }

    &:not(:has(h1)) {
        @apply mb-1;
        .memo-date {
            @apply w-fit order-1;
        }
        .memo-actions {
            order: 2;
        }
    }

    h1::after {
        clear: both;
    }
}

.memo-actions {
    @apply float-right flex items-center;
    height: 1lh;
}

.memo-date {
    @apply flex items-center w-fit text-subtle-dark italic text-xs @sm:text-sm;

    &.sm {
        @apply @md:hidden col-span-3;
    }

    &.md {
        @apply hidden @md:flex order-3 w-full;
    }
}

.show-more-btn {
    @apply absolute bottom-0 left-0 right-0 h-16 pb-1 flex justify-center items-end text-2xl;
    background: linear-gradient(
        180deg,
        rgba(var(--surface-bg) / 0),
        rgba(var(--surface-bg) / 1) 80%
    );
}
