.edit-memo-screen {
    @apply container mx-auto max-w-[80rem] h-full w-full px-2 lg:p-4 relative;
    min-height: 100dvh;
    margin-top: calc(env(safe-area-inset-top, 0) - var(--appheader-height));

    .memo {
        @apply shadow-md px-0!;
        min-height: calc(
            100dvh -
            (env(safe-area-inset-bottom, 0) + var(--spacing) * 4) -
            2lh
        );

        .text-editor {
            @apply px-4;
        }
    }

    .memo .editor {
        min-height: 100%;
    }

    &.is-subscreen {
        @apply p-0;
        @media (min-width: 768px) {
            margin-top: calc(var(--appheader-height) * -1 + var(--spacing) * 2);
        }
    }
}
