.editor {
    @apply flex flex-col bg-surface;
    @apply dark:border-subtle-extra-dark;
}

.placeholder-btn {
    @apply appearance-none cursor-text;
    @apply flex items-start w-full min-h-full text-left p-3 flex-grow;
    @apply text-subtle-dark font-mono text-[13px];
}

.editor-buttons {
    @apply p-2 flex items-center justify-between gap-2;

    &:has(button:only-child) {
        @apply justify-end;
    }

    &.position-top {
        order: 1;
    }
}

.text-editor {
    @apply w-full flex-grow flex flex-col p-2;
    max-height: calc(100% - 5ch);
}

.cm-editor {
    @apply w-full h-full flex-grow flex flex-col;
}

.cm-editor.cm-focused {
    outline: none !important;
}

.cm-scroller {
    @apply flex-grow flex-col overscroll-contain;
    overflow: auto;
}

.cm-content {
    @apply flex-grow min-w-full;
}

.vim-enabled .cm-cursor {
    width: 10px;
    height: 15px;
    background: rgb(var(--color-primary) / 0.6) !important;
    outline: 1px solid rgb(var(--color-primary) / 0.6) !important;
    border-left-color: transparent !important;
}

.cm-focused .cm-fat-cursor {
    background: rgb(var(--color-primary)) !important;
    outline: 1px solid rgb(var(--color-primary)) !important;
}

:not(.cm-focused) .cm-fat-cursor {
    outline-color: rgb(var(--color-primary)) !important;
}

.cm-placeholder {
    color: rgb(var(--color-subtle-dark)) !important;
}
