.btn {
    @apply gap-2 cursor-pointer;

    background-color: var(--btn-bg);
    color: var(--btn-color);
    border: 1px solid var(--btn-border-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .icon {
        @apply size-4 flex items-center;
    }

    &:hover {
        background-color: var(--btn-bg-hover);
    }

    &:focus,
    &:focus-visible {
        outline-style: solid;
        outline-color: var(--btn-bg-active);
        outline-width: 1px;
    }

    &:active {
        background-color: var(--btn-bg-active);
    }

    &:disabled {
        background-color: color-mix(in srgb, var(--btn-bg) 80%, transparent);
        color: color-mix(in srgb, var(--btn-color) 80%, transparent);
        border-color: color-mix(
            in srgb,
            var(--btn-border-color) 70%,
            transparent
        );
    }
}

.btn.primary {
    --btn-bg: var(--btn-primary-bg);
    --btn-color: var(--btn-primary-color);
    --btn-border-color: var(--btn-primary-border-color);
    --btn-bg-hover: var(--btn-primary-bg-hover);
    --btn-bg-active: var(--btn-primary-bg-active);

    &.plain {
        --btn-bg-hover: var(--color-primary-light);
        --btn-bg-active: var(--color-primary);
        --btn-color: var(--color-primary-contrast);

        &:active {
            --btn-color: var(--color-primary-contrast);
        }
    }
}

.btn.success {
    --btn-bg: var(--btn-success-bg);
    --btn-color: var(--btn-success-color);
    --btn-border-color: var(--btn-success-border-color);
    --btn-bg-hover: var(--btn-success-bg-hover);
    --btn-bg-active: var(--btn-success-bg-active);

    &.plain {
        --btn-bg-hover: var(--color-success-light);
        --btn-bg-active: var(--color-success);
        --btn-color: var(--color-success-contrast);

        &:active {
            --btn-color: var(--color-success-contrast);
        }
    }
}

.btn.danger {
    --btn-bg: var(--btn-danger-bg);
    --btn-color: var(--btn-danger-color);
    --btn-border-color: var(--btn-danger-border-color);
    --btn-bg-hover: var(--btn-danger-bg-hover);
    --btn-bg-active: var(--btn-danger-bg-active);

    &.plain {
        --btn-bg-hover: var(--color-danger-light);
        --btn-bg-active: var(--color-danger);
        --btn-color: var(--color-danger-contrast);

        &:active {
            --btn-color: var(--color-danger-contrast);
        }
    }
}

.btn.outline-btn {
    background-color: transparent;
    color: var(--btn-bg);
    border: 1px solid var(--btn-border-color);

    &:has(svg) {
        @apply ps-2! pe-1! gap-1;
    }

    .icon {
        @apply rounded-full p-1 size-6;
        border: 1px solid var(--btn-border-color);
    }

    &:hover {
        background-color: var(--btn-bg);
        color: var(--btn-color);
        border-color: var(--btn-border-color);

        .icon {
            background-color: var(--btn-color);
            color: var(--btn-bg);
            svg {
                @apply animate-in slide-in-from-left;
            }
        }
    }

    &:active {
        background-color: var(--btn-bg-active);
    }

    &:disabled {
        background-color: transparent !important;
        color: color-mix(in srgb, var(--btn-border-color) 50%, transparent);
        border-color: color-mix(
            in srgb,
            var(--btn-border-color) 30%,
            transparent
        );
    }
}

.dark .btn.regular.outline-btn {
    --btn-border-color: var(--color-text);
    --btn-bg: var(--color-text);

    &:hover {
        --btn-bg: var(--btn-regular-bg);
    }
}

.btn.plain {
    --btn-bg-hover: var(--color-subtle);
    --btn-color: var(--color-text);
    --btn-bg-active: var(--color-subtle-dark);
    background-color: transparent;
    border-color: transparent;
    color: inherit;

    &:hover {
        background-color: var(--btn-bg-hover);
        color: var(--btn-regular-color);
    }

    &:active {
        background-color: var(--btn-bg-active);
    }

    &:disabled {
        background-color: transparent !important;
        color: inherit;
        opacity: 0.5;
    }
}

.btn.icon-only {
    min-height: 2rem;
}

.btn.sm {
    @apply gap-1 py-0.5 px-2 text-sm;

    & > svg {
        @apply size-3;
    }

    &.icon-only {
        min-height: 1.5rem;
    }
}

.btn.lg {
    @apply text-lg font-semibold;

    & > svg {
        @apply size-6;
    }

    &.icon-only {
        min-height: 2.2rem;
    }
}
