.btn {
    @apply flex items-center justify-center gap-2 py-1 px-2.5 relative rounded-2xl;
    color: var(--btn-color);
    user-select: none;

    &::before {
        @apply block absolute content-[""] inset-0 rounded-2xl surface-level-1 elevation-2;
        transition:
            border-radius 150ms cubic-bezier(0.175, 0.885, 0.32, 2.2),
            inset 150ms cubic-bezier(0.175, 0.885, 0.32, 2.2),
            box-shadow 150ms linear;
        pointer-events: none;
        z-index: -1;
        --color-surface-level-1: var(--btn-bg);
        --surface-color: var(--btn-color);
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        border-radius: inherit;
        backdrop-filter: blur(48px) saturate(3000%);
        mask: radial-gradient(
            ellipse closest-corner,
            transparent 50%,
            white 180%
        );
    }

    .icon {
        transition: scale 150ms cubic-bezier(0.175, 0.885, 0.32, 2.2);
    }

    &:hover {
        &::before {
            @apply -inset-0.5 rounded-2xl;
            --surface-level-1-glow-size: 10px;
            --shadow-elevation: 2px 2px 12px 0 rgba(0, 0, 0, 0.2);
        }

        .icon {
            scale: 1.15;
        }
    }

    &:focus-visible {
        @apply rounded-xl;
        outline-style: solid;
        outline-color: var(--btn-bg-active);
        outline-width: 2px;
        outline-offset: 2px;
    }

    &:active {
        &::before {
            background-color: color-mix(
                in srgb,
                var(--btn-bg-active, var(--btn-bg)) 80%,
                transparent
            );
            @apply -inset-1 rounded-2xl;
        }
    }

    &.icon-only,
    &.icon-only::before {
        @apply aspect-square rounded-full;
    }

    &:disabled {
        background-color: color-mix(in srgb, var(--btn-bg) 20%, transparent);
        color: color-mix(in srgb, var(--btn-color) 60%, transparent);
        border: 1px solid
            color-mix(in srgb, var(--btn-border-color) 30%, transparent);

        &::before {
            @apply hidden;
        }

        &:hover {
            .icon {
                scale: unset;
            }
        }
    }
}

.btn.primary {
    --btn-bg: var(--btn-primary-bg);
    --btn-color: var(--btn-primary-color);
    --btn-border-color: var(--btn-primary-border-color);
    --btn-bg-hover: var(--btn-primary-bg-hover);
    --btn-bg-active: var(--btn-primary-bg-active);
}

.btn.danger {
    --btn-bg: var(--btn-danger-bg);
    --btn-color: var(--btn-danger-color);
    --btn-border-color: var(--btn-danger-border-color);
    --btn-bg-hover: var(--btn-danger-bg-hover);
    --btn-bg-active: var(--btn-danger-bg-active);
}

.btn-grp {
    @apply flex items-center justify-center gap-2 py-1 px-2.5 rounded-2xl surface-level-2;

    .btn::before {
        display: none;
    }

    .btn:hover {
        background-color: var(--btn-bg-hover);
        color: var(--btn-color);
    }

    .btn:active {
        background-color: var(--btn-bg-active);
        color: var(--color-body-bg);
    }

    .btn.danger {
        --btn-color: var(--btn-danger-bg);
    }
}

.tooltip {
    @apply py-1 px-2 select-none rounded-xl text-xs elevation-3 surface-level-2;

    margin: unset;
    inset: unset;
    top: 5px;
    justify-self: anchor-center;
    min-width: anchor-size(width);
    width: max-content;
    position-area: bottom center;

    transition:
        opacity 150ms cubic-bezier(0, 0.72, 0.74, 1),
        transform 150ms cubic-bezier(0, 0.72, 0.74, 1);

    &:popover-open {
        opacity: 1;
        transform: scale(1);
    }

    @starting-style {
        &:popover-open {
            opacity: 0.95;
            transform: scale(0.95);
        }
    }
}
