.link-preview {
    @apply inline-block rounded-2xl p-2 bg-surface-level-1 shadow-lg h-min w-full;
    transition: box-shadow 200ms;

    .preview-img {
        @apply rounded-xl block overflow-hidden relative mb-2;

        &:not(:has(.is-loading))::after {
            @apply block inset-0 absolute;
            content: "";
            box-shadow:
                0px 1px 8px 4px rgba(255 255 255 / 0.3) inset,
                0px -1px 8px 2px rgba(0 0 0 / 0.1) inset;
            pointer-events: none;
        }

        img {
            @apply w-full min-h-[2lh];
        }
    }

    &:has(*:focus-visible) {
        @apply outline-primary outline-2 outline-offset-2;
    }

    @media (hover: hover) {
        &:hover {
            @apply shadow-xl;
        }
    }

    .link-preview-title {
        @apply font-semibold text-xl text-inherit py-2 mt-0 block w-full px-4;

        &:focus-visible {
            @apply outline-none;
        }
    }

    .link-preview-description {
        @apply pb-2 px-4;
    }
}

.dark .link-preview {
    .preview-img {
        &:not(:has(.is-loading))::after {
            box-shadow:
                0px 1px 8px 2px rgba(255 255 255 / 0.2) inset,
                0px -2px 8px 2px rgba(0 0 0 / 0.6) inset;
        }
    }
}
