.link-preview {
    @apply inline-block rounded-2xl p-2 bg-surface-level-1 shadow-lg h-min;
    transition:
        transform 200ms,
        box-shadow 200ms;

    .preview-img {
        @apply rounded-xl block overflow-hidden relative;

        &:not(:has(.is-loading))::after {
            @apply block inset-0 absolute;
            content: "";
            box-shadow:
                0px 1px 8px 4px rgba(255 255 255 / 0.3) inset,
                0px -1px 8px 2px rgba(0 0 0 / 0.1) inset;
            pointer-events: none;
        }

        img {
            @apply w-full min-h-[2lh];
        }
    }

    &:has(*:focus-visible) {
        @apply outline-primary outline-2 outline-offset-2;
    }

    @media (hover: hover) {
        &:hover {
            @apply shadow-xl;
            transform: translateY(calc(var(--spacing) * -0.5));
        }
    }

    .link-preview-title {
        @apply font-semibold text-xl text-inherit pt-2 block w-full px-4;

        &:focus-visible {
            @apply outline-none;
        }
    }

    .link-preview-description {
        @apply pb-2 px-4;
    }
}

.dark .link-preview {
    .preview-img {
        &:not(:has(.is-loading))::after {
            box-shadow:
                0px 1px 8px 2px rgba(255 255 255 / 0.2) inset,
                0px -2px 8px 2px rgba(0 0 0 / 0.6) inset;
        }
    }
}

._link-preview {
    @apply relative rounded-lg overflow-hidden top-0 left-0 drop-shadow-md @container;
    @apply w-full h-min my-2;
    transition: transform 300ms ease-out;

    &:has(:focus-visible) {
        @apply outline-3 outline-primary outline-offset-2;
    }

    @media (hover: hover) {
        &:hover {
            @apply drop-shadow-xl;
            transform: translateY(calc(var(--spacing) * -1));
        }
    }

    &:has(.preview-img) {
        @apply min-h-16 @3xl:max-w-1/2;
    }

    .preview-img {
        @apply block relative;

        --r: calc(var(--spacing) * 6); /* radius */
        --s: calc(var(--spacing) * 12); /* size of the inner curve */
        --_m:
            / calc(2 * var(--r)) calc(2 * var(--r))
            radial-gradient(#000 70%, #0000 72%) no-repeat;
        mask:
            right 0 bottom calc(var(--s) + var(--r)) var(--_m),
            right calc(var(--s) + var(--r)) bottom 0 var(--_m),
            radial-gradient(
                var(--s) at 100% 100%,
                #0000 99%,
                #000 calc(100% + 1px)
            )
            calc(-1 * var(--r)) calc(-1 * var(--r)) no-repeat,
            conic-gradient(
                from 90deg at calc(100% - var(--s) - 2 * var(--r))
                    calc(100% - var(--s) - 2 * var(--r)),
                #0000 25%,
                #000 0
            );

        @container (width <= 23.9rem) {
            /* biome-ignore lint/suspicious/noDuplicateCustomProperties: false positive due to nesting */
            --r: calc(var(--spacing) * 4); /* radius */
            --s: calc(var(--spacing) * 7); /* size of the inner curve */
        }

        img {
            @apply w-full min-h-[2lh];
        }
    }

    .description-container {
        @apply absolute bottom-0 left-0 right-0 rounded-xl h-min;
        @apply py-2 px-4 mr-14 @sm:mr-24 ml-2 mb-2;
        @apply bg-surface-level-1/50;
        backdrop-filter: blur(4px);

        span {
            @apply text-xs @sm:text-base;
        }

        p {
            @apply hidden @sm:block;
        }
    }

    span {
        @apply font-bold;
    }

    .arrow {
        @apply text-lg p-4 bg-surface-level-1 items-center justify-center rounded-full text-text shadow-sm;
        @apply absolute right-2 bottom-2;
        @apply flex;

        &:hover {
            @apply bg-primary text-primary-contrast;
        }

        @container (width <= 23.9rem) {
            @apply text-base p-2 right-1 bottom-1;
        }
    }
}

._list-layout-masonry {
    @apply float-none max-w-full;
}

._link-preview-hover-card {
    @apply rounded-lg bg-surface-level-1 p-4 w-fit max-w-[300px];
    filter: drop-shadow(1px 1px 10px rgba(0 0 0 / 0.1));

    &[data-state="open"] {
        @apply animate-in fade-in-80 slide-in-from-bottom-2;
    }

    &[data-state="closed"] {
        @apply animate-out fade-out zoom-out-95;
    }
}

._link-preview-hover-card-arrow {
    @apply fill-surface-level-1 h-2 w-4;
}
