.single-memo-screen {
    @apply h-fit w-full p-2 lg:p-4 flex justify-center relative;
    container: single-memo-screen / inline-size;
    margin-top: calc(var(--appheader-height) * -1 - var(--spacing));
    max-width: none;

    @media (min-width: 768px) {
        margin-top: 0;
    }

    &.is-subscreen {
        @apply p-0;
    }

    .memo {
        @apply max-w-[120rem] w-full;
        overflow: visible;
        min-height: calc(
            100dvh -
            (env(safe-area-inset-bottom, 0) + var(--spacing) * 4)
        );
    }

    .memo-header {
        @apply mb-0 relative tablet:static;

        h1 {
            @apply w-fit tablet:mt-7 tablet:pt-2;
            order: 3;
        }

        .memo-header-actions {
            @apply z-10;

            @container (width > 80rem) {
                @apply left-0 top-2 px-6 py-2;
                position: absolute;
                width: 100cqw;
            }
        }

        &:has(.memo-date) {
            h1 {
                @apply mt-0 pt-0;
            }

            .memo-header-actions {
                @apply absolute;
            }
        }

        .memo-date {
            @apply pl-9 tablet:pl-8 h-10;
            order: 2;

            @container (width > 80rem) {
                @apply -mt-1;
                order: 2;
                padding-left: 0;
            }
        }
    }

    .back-btn {
        @apply relative -left-2 tablet:-left-4;
        @apply size-10 px-0! py-0! aspect-square;
        --btn-border-color: var(--color-subtle-extra-light);

        .icon,
        svg {
            @apply block size-4;
        }

        &:hover {
            @apply bg-subtle;
        }
    }

    @media (max-width: 1023px) {
        @apply animate-in slide-in-from-bottom-20;
    }
}
