.single-memo-screen {
    @apply container mx-auto max-w-[80rem] h-full w-full p-2 lg:p-4 relative;
    margin-top: calc(env(safe-area-inset-top, 0) - var(--appheader-height));

    &.is-subscreen {
        @apply p-0;

        @media (min-width: 768px) {
            margin-top: calc(var(--appheader-height) * -1 + var(--spacing) * 2);
        }
    }

    .memo {
        @apply shadow-md;
        min-height: calc(
            100dvh -
            (env(safe-area-inset-bottom, 0) + var(--spacing) * 4)
        );
    }

    .back-btn {
        @apply absolute z-10 top-3 mt-0.5 left-1 tablet:mt-0 tablet:top-4 lg:top-6;
        @apply size-10 px-0! py-0! aspect-square;
        --btn-border-color: var(--color-subtle-extra-light);

        .icon,
        svg {
            @apply block size-4;
        }

        &:hover {
            @apply bg-subtle;
        }
    }

    &:has(.back-btn) .memo-header h1 {
        text-indent: 2.25rem;
    }

    &:has(.back-btn) .memo-header:not(:has(h1)) {
        @apply flex justify-between items-center pt-1.5;
        text-indent: 2.25rem;
    }

    @media (max-width: 1023px) {
        @apply animate-in slide-in-from-bottom-20;
    }
}
