@import "tailwindcss";
@import "../styles/tailwind.css";

.devtools {
    @apply hidden inset-0 overscroll-contain pointer-events-none flex items-center justify-center tablet:justify-end;
    z-index: 100000;

    &.is-open {
        .devtools-open-btn {
            display: none;
        }
    }
}

.devtools-fps-meter {
    @apply absolute bottom-2 right-2;
    @apply text-xs py-1! px-2! select-none pointer-events-none flex items-center gap-2 rounded-lg;

    background: var(--btn-bg-hover);
    color: var(--btn-color);

    .fps-meter-barchart {
        @apply flex justify-end items-end h-[1lh] w-10;
    }

    .fps-meter-bar {
        @apply w-1 first:rounded-l-sm last:rounded-r-sm;
        background: var(--btn-color);
    }
}

/* biome-ignore lint/style/noDescendingSpecificity: false positive */
.devtools-open-btn {
    @apply absolute top-2 right-2 px-1 rounded-lg flex items-center justify-center size-8 shadow-lg;
    cursor: pointer;
    pointer-events: auto;
    background: color-mix(in srgb, var(--btn-bg) 70%, transparent);
    color: var(--btn-color);

    &:hover {
        background: var(--btn-bg);
    }
}

.devtools-close-btn {
    @apply p-1 border border-surface-border rounded-lg;
    cursor: pointer;
    pointer-events: auto;
    justify-self: end;
    box-shadow: var(--surface-box-shadow);

    &:hover {
        @apply bg-surface-level-1 border-neutral-light shadow;
    }
}

.devtools-panels-positioner {
    @apply h-full w-[40dvw] p-4;
    min-width: 380px;
}

.devtools-panels {
    @apply border border-surface-border rounded-xl bg-body flex flex-col h-full shadow-xl relative overflow-hidden;
    pointer-events: auto;
}

.devtools-panels-resizer {
    @apply absolute left-0 w-[1px] top-0 bottom-0 bg-surface-border cursor-ew-resize rounded-l-lg;
    z-index: 100000;
}

.devtools-panel {
    @apply flex-1 overflow-hidden;
}

.devtools-panel-list {
    @apply flex p-2 gap-1 w-full bg-surface-level-2 rounded-t-lg;
}

.devtools-panel-list-item {
    @apply px-2 py-1 text-sm flex items-center gap-1 rounded-lg border border-transparent;
    cursor: pointer;
    pointer-events: auto;

    &.active,
    &:hover {
        @apply border-surface-border bg-surface-level-1;
        box-shadow: var(--surface-box-shadow);
    }
}

.devtools-entry-list-detail-wrapper {
    @apply h-full w-full relative flex gap-2 p-2 bg-surface-level-1;
}

.devtools-entry-list {
    @apply bg-surface-level-2 rounded-xl overflow-auto overscroll-contain h-full p-2 space-y-2;
    width: 400px;

    .devtools-entry-list {
        width: 100%;
    }
}

.devtools-entry-list-header {
    @apply p-2 flex gap-2 items-center justify-end border border-surface-border rounded-lg bg-surface-level-1/80 sticky top-0 backdrop-blur-sm shadow h-12;

    input {
        @apply border border-neutral rounded-lg flex-1 py-1 px-2 bg-surface-level-1;
    }
}

.devtools-entry-list-item {
    @apply p-2 border border-surface-border rounded-lg bg-surface-level-1;
    box-shadow: var(--surface-box-shadow);

    &.active {
        background-color: color-mix(
            in srgb,
            var(--color-surface-level-1) 94%,
            black
        );

        .devtools-entry-list-item-title {
            @apply font-semibold;
        }
    }
}

/* biome-ignore lint/style/noDescendingSpecificity: false positive */
.devtools-entry-list-item-title {
    @apply flex items-center justify-between w-full font-mono;
}

.devtools-entry-list-item-timing {
    @apply flex items-center justify-between w-full font-mono text-xs text-neutral-extra-dark;
}

.devtools-entry-list-item-additional-info {
    @apply flex items-center justify-between w-full font-mono text-xs text-neutral-extra-dark;
}

.devtools-entry-list-item-details {
    @apply bg-surface-level-2 rounded-xl overflow-auto overscroll-contain h-full p-2 flex-1;
}

.devtools-span-gantt {
    @apply mt-2 p-2 bg-surface-level-1 rounded-lg;
    width: 100%;
    overflow-x: auto;
}

.devtools-span-gantt-item {
    @apply flex gap-2;
}

.devtools-span-gantt-item-name {
    @apply pr-2 border-r border-neutral text-sm font-mono py-2 cursor-pointer;
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;

    &:hover {
        @apply underline;
    }

    &[disabled]:hover {
        text-decoration-line: none;
        cursor: default;
    }
}

.devtools-span-gantt-item-span {
    @apply flex-1 relative;
    height: 1lh;

    &:hover {
        .devtools-span-gantt-item-bar {
            @apply shadow-lg;
        }

        .devtools-span-gantt-item-duration {
            @apply shadow;
        }
    }
}

/* biome-ignore lint/style/noDescendingSpecificity: false positive */
.devtools-span-gantt-item-bar {
    @apply bg-primary border border-primary-dark rounded-lg absolute h-7 top-0;
    text-align: center;
}

/* biome-ignore lint/style/noDescendingSpecificity: false positive */
.devtools-span-gantt-item-duration {
    @apply text-black text-xs font-mono py-0.5 px-1 rounded;
    background: rgba(255, 255, 255, 0.4);
}

.devtools-store-value > ul {
    @apply rounded-lg p-2! font-mono! text-sm!;
}

.devtools-stack-trace {
    @apply space-y-6;
}

.devtools-stack-trace-location {
    @apply font-mono text-xs flex flex-col;
}

.devtools-stack-trace-location-file {
    @apply text-neutral-extra-dark;
}

.jsondiffpatch-delta {
    @apply font-mono text-xs pl-2 inline-block;
}

.jsondiffpatch-delta pre {
    @apply font-mono text-xs m-0 p-0 inline-block;
}

ul.jsondiffpatch-delta {
    @apply pl-4;
}

.jsondiffpatch-delta ul {
    @apply pl-4;
}

.jsondiffpatch-added .jsondiffpatch-property-name,
.jsondiffpatch-added .jsondiffpatch-value pre,
.jsondiffpatch-modified .jsondiffpatch-right-value pre,
.jsondiffpatch-textdiff-added {
    background-color: green;
    color: white;
}

.jsondiffpatch-deleted .jsondiffpatch-property-name,
.jsondiffpatch-deleted pre,
.jsondiffpatch-modified .jsondiffpatch-left-value pre,
.jsondiffpatch-textdiff-deleted {
    @apply bg-danger text-danger-contrast;
    text-decoration: line-through;
}

.jsondiffpatch-unchanged {
    @apply text-neutral-light hidden;
}

.jsondiffpatch-unchanged {
    overflow-y: hidden;
}

.jsondiffpatch-unchanged-showing .jsondiffpatch-unchanged {
    max-height: 100px;
}

.jsondiffpatch-unchanged-hidden .jsondiffpatch-unchanged {
    max-height: 0;
}

.jsondiffpatch-unchanged-hiding {
    display: block;
}

.jsondiffpatch-unchanged-visible .jsondiffpatch-unchanged {
    max-height: 100px;
}

.jsondiffpatch-unchanged-hiding .jsondiffpatch-unchanged {
    max-height: 0;
}

.jsondiffpatch-unchanged-showing .jsondiffpatch-arrow,
.jsondiffpatch-unchanged-hiding .jsondiffpatch-arrow {
    display: none;
}

.jsondiffpatch-value {
    display: inline-block;
}

/* biome-ignore lint/style/noDescendingSpecificity: false positive */
.jsondiffpatch-property-name {
    @apply inline-block pr-1;
    vertical-align: top;
}

.jsondiffpatch-property-name:after {
    content: ": ";
}

.jsondiffpatch-child-node-type-array > .jsondiffpatch-property-name:after {
    content: ": [";
}

.jsondiffpatch-child-node-type-array:after {
    content: "],";
}

div.jsondiffpatch-child-node-type-array:before {
    content: "[";
}

div.jsondiffpatch-child-node-type-array:after {
    content: "]";
}

.jsondiffpatch-child-node-type-object > .jsondiffpatch-property-name:after {
    content: ": {";
}

.jsondiffpatch-child-node-type-object:after {
    content: "},";
}

div.jsondiffpatch-child-node-type-object:before {
    content: "{";
}

div.jsondiffpatch-child-node-type-object:after {
    content: "}";
}

.jsondiffpatch-value pre:after {
    content: ",";
}

li:last-child > .jsondiffpatch-value pre:after,
.jsondiffpatch-modified > .jsondiffpatch-left-value pre:after {
    content: "";
}

.jsondiffpatch-modified .jsondiffpatch-value {
    display: inline-block;
}

.jsondiffpatch-modified .jsondiffpatch-right-value {
    margin-left: 5px;
}

ul.jsondiffpatch-textdiff {
    padding: 0;
}

.jsondiffpatch-textdiff-location {
    color: #bbb;
    display: inline-block;
    min-width: 60px;
}

.jsondiffpatch-textdiff-line {
    display: inline-block;
}

.jsondiffpatch-textdiff-line-number:after {
    content: ",";
}

.jsondiffpatch-node-type-object > .jsondiffpatch-unchanged .jsondiffpatch-value,
.jsondiffpatch-node-type-object > .jsondiffpatch-added .jsondiffpatch-value {
    display: inline;
    pre {
        display: inline;
    }
}
