.unlock-screen {
    @apply relative h-[100dvh] px-2 sm:px-4 flex flex-col items-center tablet:justify-center;

    .checkbox-field {
        @apply flex-row-reverse;
    }
}

.unlock-screen .lock {
    width: 90%;
    max-width: 400px;

    h1 {
        @apply ps-4 text-7xl mb-4 font-semibold text-center font-serif;
        @apply animate-in fade-in slide-in-from-bottom-20 duration-500 delay-500 fill-mode-backwards;
    }

    .icon-wrapper {
        @apply relative p-8 mb-2 text-primary-extra-light;
        aspect-ratio: 1 / 1;
        animation: 500ms unlock-anim-show-icon ease-out;

        &::before {
            @apply rounded-full bg-primary border-8 border-primary-extra-dark inset-12;
            transition: 2s;
            z-index: -1;
            position: absolute;
            display: block;
            content: "";
        }
    }

    .icon-bar {
        transition: 0.2s;
    }

    .icon-wrapper .lock-bar,
    .icon-wrapper .lock-body {
        animation: 500ms 50ms unlock-anim-show-trace-lines ease-out both;
    }

    .when-unlocking {
        @apply p-8 text-primary-extra-dark;
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        width: 100%;
        transform: translate(-50%, -50%);
        /* biome-ignore lint/style/noDescendingSpecificity: seems to be false positive */
        .lock-body {
            display: none;
        }
    }

    &.unlocking {
        /* biome-ignore lint/style/noDescendingSpecificity: seems to be false positive */
        .when-unlocking {
            display: block;

            /* biome-ignore lint/style/noDescendingSpecificity: seems to be false positive */
            .lock-bar,
            .lock-keyhole {
                display: block;
                animation: 2s unlock-anim-show-trace-lines;
                animation-direction: alternate;
                animation-iteration-count: infinite;
            }

            .lock-keyhole {
                stroke-linecap: butt;
            }
        }
    }

    &.unlocked {
        /* biome-ignore lint/style/noDescendingSpecificity: seems to be false positive */
        .icon-wrapper .lock-bar {
            animation: 500ms unlock-anim-bar;
            animation-timing-function: linear(
                0,
                0.013 0.6%,
                0.05 1.2%,
                0.199 2.5%,
                0.395 3.7%,
                0.948 6.7%,
                1.201 8.4%,
                1.289 9.2%,
                1.354 10%,
                1.396 10.8%,
                1.416 11.6%,
                1.418 12.2%,
                1.405 12.9%,
                1.345 14.3%,
                1.258 15.6%,
                1.012 18.8%,
                0.909 20.5%,
                0.851 22%,
                0.826 23.6%,
                0.83 24.8%,
                0.854 26.2%,
                0.996 30.8%,
                1.039 32.5%,
                1.063 34%,
                1.073 35.5%,
                1.061 38.2%,
                0.984 44.4%,
                0.97 47.4%,
                0.973 49.8%,
                1.004 55.8%,
                1.013 59.2%,
                0.995 71%,
                1.002 82.8%,
                1
            );
            transform: translateY(-1px) scale(0.8);
            transform-origin: center center;
            d: path("M88,88V56a40,40,0,0,1,40-40c19.35,0,36.29,13.74,40,32");
        }

        /* biome-ignore lint/style/noDescendingSpecificity: seems to be false positive */
        .icon-wrapper .lock-body {
            animation: 500ms unlock-anim-body;
            animation-timing-function: linear(
                0,
                0.013 0.6%,
                0.05 1.2%,
                0.199 2.5%,
                0.395 3.7%,
                0.948 6.7%,
                1.201 8.4%,
                1.289 9.2%,
                1.354 10%,
                1.396 10.8%,
                1.416 11.6%,
                1.418 12.2%,
                1.405 12.9%,
                1.345 14.3%,
                1.258 15.6%,
                1.012 18.8%,
                0.909 20.5%,
                0.851 22%,
                0.826 23.6%,
                0.83 24.8%,
                0.854 26.2%,
                0.996 30.8%,
                1.039 32.5%,
                1.063 34%,
                1.073 35.5%,
                1.061 38.2%,
                0.984 44.4%,
                0.97 47.4%,
                0.973 49.8%,
                1.004 55.8%,
                1.013 59.2%,
                0.995 71%,
                1.002 82.8%,
                1
            );
            transform: translateY(2px) scale(0.8);
            transform-origin: center center;
        }

        /* biome-ignore lint/style/noDescendingSpecificity: seems to be false positive */
        .icon-wrapper {
            &::before {
                @apply rounded-full bg-primary border-8 border-primary-extra-dark;
                z-index: 10;
                aspect-ratio: 1 / 1;
                left: -1000%;
                right: -1000%;
                top: -1000%;
                bottom: -1000%;
            }
        }
    }
}

.unlock-form {
    @apply flex-col w-full max-w-[500px] tablet:min-w-[500px] mt-4;
    @apply animate-in fade-in duration-500 slide-in-from-bottom-20 delay-500 fill-mode-backwards;

    .btn.primary {
        --btn-border-color: var(--color-body-bg-contrast);
        @apply border-2;
    }

    .input-field {
        label {
            @apply sr-only;
        }
    }
}

.unlock-footer {
    @apply p-2 flex justify-between items-center fixed bottom-0 left-0 right-0;
}

@keyframes unlock-anim-show-icon {
    0% {
        transform: translateY(50%) scale(1.2);
        opacity: 0;
    }
    50% {
        opacity: 0.4;
        transform: translateY(50%) scale(1.2);
    }
    100% {
        transform: translateY(0px) scale(1);
    }
}

@keyframes unlock-anim-show-trace-lines {
    0% {
        stroke-dasharray: 0px 1px;
    }
    100% {
        stroke-dasharray: 1px 1px;
    }
}

@keyframes unlock-anim-bar {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-1px) scale(1.2);
    }
    100% {
        transform: translateY(-2px) scale(0.8);
    }
}

@keyframes unlock-anim-body {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(1px) scale(1.2);
    }
    100% {
        transform: translateY(2px) scale(0.8);
    }
}

@keyframes unlock-anim-unlocking {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
