.unlock-screen {
    @apply relative h-[100dvh] px-2 sm:px-4;
}

.unlock-screen-bg {
    @apply fixed inset-0 pointer-events-none;
    isolation: isolate;
    z-index: -1;
    background-color: rgb(var(--body-bg));

    .noise {
        @apply fixed inset-0;
        filter: contrast(100%);
        mix-blend-mode: hard-light;
        background: url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.62' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E")
            repeat;
        background-size: 400px;
        backdrop-filter: blur(25px);
    }

    .spot-1,
    .spot-2,
    .spot-3 {
        position: fixed;
        height: 80vh;
        width: 80vh;
    }

    .spot-1 {
        background-image: radial-gradient(
            circle,
            rgba(var(--color-primary) / 1),
            rgba(var(--color-primary) / 0) 30%
        );

        top: -40%;
        left: -60%;
        @media (min-width: 768px) {
            background-image: radial-gradient(
                circle,
                rgba(var(--color-primary) / 1),
                rgba(var(--color-primary) / 0) 70%
            );
            top: -18%;
            left: -2%;
        }
    }

    .spot-2 {
        background-image: radial-gradient(
            circle,
            rgba(var(--color-danger) / 1),
            rgba(var(--color-danger) / 0) 40%
        );
        width: 100vh;

        top: -25%;
        left: -90%;
        @media (min-width: 768px) {
            background-image: radial-gradient(
                circle,
                rgba(var(--color-danger) / 1),
                rgba(var(--color-danger) / 0) 60%
            );
            top: -5%;
            left: -16%;
        }
    }

    .spot-3 {
        height: 100vh;
        background-image: radial-gradient(
            circle,
            rgba(var(--color-success) / 1),
            rgba(var(--color-success) / 0) 30%
        );

        top: -45%;
        left: -16%;
        @media (min-width: 768px) {
            background-image: radial-gradient(
                circle,
                rgba(var(--color-success) / 1),
                rgba(var(--color-success) / 0) 60%
            );
            top: -35%;
            left: 5%;
        }
    }
}

:root.dark .unlock-screen-bg .noise {
    mix-blend-mode: overlay;
}

.unlock-screen-header {
    @apply fixed right-2 top-2 lg:right-4;

    .mode-select {
        @apply w-36;
    }
}

.logo {
    top: -50vh;
    left: -20vw;

    @media (min-width: 768px) {
        top: -10vh;
        left: -50vw;
    }
}

.unlock-window-positioner {
    @apply fixed bottom-10 left-2 right-2;

    @media (min-width: 768px) {
        @apply right-2;
        left: unset;
    }

    @media (min-width: 2100px) {
        @apply right-0 left-1/2 top-1/2 -translate-y-1/2 -translate-x-1/2 flex items-center justify-center;
    }
}

.unlock-window {
    @apply flex-col w-full max-w-[500px] tablet:min-w-[500px];
    @apply animate-in fade-in-50 duration-500 slide-in-from-bottom-32;

    h1 {
        @apply ps-4 text-7xl mb-4 font-serif font-semibold;

        color: rgb(var(--body-bg));
        text-shadow:
            2px 2px 0 rgb(var(--body-bg-contrast)),
            -1px -1px 0 rgb(var(--body-bg-contrast)),
            1px -1px 0 rgb(var(--body-bg-contrast)),
            -1px 1px 0 rgb(var(--body-bg-contrast)),
            1px 1px 0 rgb(var(--body-bg-contrast)),
            4px 4px 0px rgb(var(--body-bg));
    }

    .btn.primary {
        --btn-border-color: var(--body-bg-contrast);
        @apply border-2;
    }

    .input-field {
        label {
            @apply sr-only;
        }
    }
}

:root.dark {
    .logo {
        color: rgb(var(--body-bg-contrast));
        text-shadow:
            3px 3px 0 rgb(var(--body-bg)),
            -1px -1px 0 rgb(var(--body-bg)),
            1px -1px 0 rgb(var(--body-bg)),
            -1px 1px 0 rgb(var(--body-bg)),
            1px 1px 0 rgb(var(--body-bg));
    }

    .unlock-window h1 {
        color: rgb(var(--body-bg-contrast));
        text-shadow:
            3px 3px 0 rgb(var(--body-bg)),
            -1px -1px 0 rgb(var(--body-bg)),
            1px -1px 0 rgb(var(--body-bg)),
            -1px 1px 0 rgb(var(--body-bg)),
            1px 1px 0 rgb(var(--body-bg));
    }
}

.unlock-footer {
    @apply p-2 flex justify-between items-center fixed bottom-0 left-0 right-0;
}
