.memo {
    @apply overflow-x-auto flex flex-col;
}

.memo.is-editing {
    /* biome-ignore lint/complexity/noImportantStyles: required to work with codemirror */
    max-height: max-content !important;
    /* biome-ignore lint/complexity/noImportantStyles: required to work with codemirror */
    overflow: auto !important;
}

.show-more-btn-sizer {
    @apply absolute bottom-0 left-0 right-0 top-0 pointer-events-none hidden;
    container: show-more-btn-sizer / size;
}

.show-more-btn {
    @apply absolute bottom-0 left-0 right-0 h-16 pb-1 flex justify-center items-end text-2xl cursor-pointer pointer-events-auto;

    @container (height < 79svh) {
        display: none;
    }
}

.memo.collapsible {
    @apply overflow-hidden h-fit relative;
    max-height: 80svh;

    .show-more-btn-sizer {
        @apply block;
    }

    &.is-expanded {
        max-height: none;
        /* biome-ignore lint/complexity/noImportantStyles: required */
        overflow: auto !important;

        .show-more-btn-sizer {
            @apply hidden;
        }
    }
}

.memo-header {
    @apply flex flex-wrap items-baseline mb-2 gap-x-2 gap-y-0 px-1;

    h1 {
        @apply flex-1 font-semibold text-3xl mb-2;

        time {
            font-size: inherit;
        }

        @container (width < 25rem) {
            @apply text-xl;
        }

        @container (width < 15rem) {
            @apply text-lg;
        }

        @container (width < 10rem) {
            @apply text-base;
        }

        @media (min-width: 768px) {
            @container (width < 20rem) {
                @apply text-2xl;
            }
        }
    }

    a:hover {
        @apply underline;
    }
}

.memo-header-actions {
    @apply flex flex-row-reverse w-full justify-between items-center h-10;
}

.memo-actions {
    @apply float-right flex items-center;
    height: 1lh;
}

.memo-header .memo-date {
    @apply w-full flex items-center;

    button {
        display: contents;
    }

    time {
        @apply w-fit text-subtle-dark italic text-xs @sm:text-sm;

        &.sm {
            @apply @md:hidden col-span-3;
        }

        &.md {
            @apply hidden @md:flex order-3 w-full;
        }
    }
}
