.memo {
    @apply overflow-x-auto flex flex-col;

    .show-more-btn {
        @apply hidden;
    }

    &.is-collapsed {
        @apply relative;
    }

    &.is-collapsed .show-more-btn {
        @apply flex;
    }

    &.expanded,
    &.is-editing {
        max-height: max-content !important;
        overflow: auto !important;
    }
}

.memo-header {
    @apply flex flex-wrap items-baseline mb-2 gap-x-2 gap-y-0 px-1;

    h1 {
        @apply flex-1 font-semibold text-3xl;

        time {
            @apply text-2xl;
        }

        @container (width < 30rem) {
            @apply text-2xl;
        }

        @media (min-width: 768px) {
            @container (width < 20rem) {
                @apply text-2xl;
            }
        }
    }

    .memo-date {
        @apply block w-full;
    }

    a:hover {
        @apply underline;
    }
}

.memo-header-actions {
    @apply flex flex-row-reverse w-full justify-between items-center;
}

.memo-actions {
    @apply float-right flex items-center;
    height: 1lh;
}

.memo-date time {
    @apply flex items-center w-fit text-subtle-dark italic text-xs @sm:text-sm;

    &.sm {
        @apply @md:hidden col-span-3;
    }

    &.md {
        @apply hidden @md:flex order-3 w-full;
    }
}

/* biome-ignore lint/style/noDescendingSpecificity: false positive */
.show-more-btn {
    @apply absolute bottom-0 left-0 right-0 h-16 pb-1 flex justify-center items-end text-2xl cursor-pointer;
}
