:root {
    /* @link https://utopia.fyi/type/calculator/?c=360,16,1.2,1680,16,1.25,4,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
    --xxs-font-size: clamp(0.512rem, 0.5969rem + -0.0809vw, 0.5787rem);
    --xs-font-size: clamp(0.64rem, 0.7093rem + -0.066cqi, 0.6944rem);
    --sm-font-size: clamp(0.8rem, 0.8424rem + -0.0404cqi, 0.8333rem);

    --base-font-size: 16px;

    --h4-font-size: clamp(1.2rem, 1.1864rem + 0.0606cqi, 1.25rem);
    --h3-font-size: clamp(1.44rem, 1.4066rem + 0.1485cqi, 1.5625rem);
    --h2-font-size: clamp(1.728rem, 1.6666rem + 0.2729cqi, 1.9531rem);
    --h1-font-size: clamp(2.0736rem, 1.9733rem + 0.4458cqi, 2.4414rem);
}

.memo {
    --max-content-width: auto;
    @apply flex flex-col h-fit;
    max-width: var(--max-content-width);
}

.memo .memo-header {
    @apply flex flex-wrap py-2 px-1;

    .btn {
        @apply rounded-full aspect-square;
    }

    .memo-tab-panel-close-btn {
        @apply aspect-square;
        order: 1;
    }

    .memo-actions {
        order: 3;
    }

    .memo-title {
        @apply ml-1;
        order: 4;
        width: 100%;
    }

    .memo-date {
        @apply flex-1 flex items-center;
        order: 2;
    }

    @container (width >= 1224px) {
        @apply justify-start;

        .memo-actions {
            @apply fixed right-3;
        }

        .memo-title {
            @apply ml-0;
            order: 3;
            width: fit-content;
            flex: 1;
        }

        .memo-date {
            flex: unset;
            display: block;
            order: 4;
        }
    }
}

.memo.is-editing {
    min-height: 100%;
    overflow: hidden;
}

.memo .memo-date {
    @apply w-full flex items-center;

    time {
        @apply w-fit text-neutral-dark dark:text-neutral-extra-light italic;
        font-size: var(--sm-font-size);
    }
}

.memo.no-title .memo-date {
    time {
        @apply text-inherit not-italic font-semibold;
        font-size: var(--h4-font-size);
    }
}

.memo-title {
    @apply font-semibold;
    text-wrap: pretty;
    margin-top: 0;

    a {
        @apply text-primary-extra-dark dark:text-primary-light;
    }

    font-size: var(--h1-font-size);
}

.memo-content {
    text-wrap: pretty;
    overflow-wrap: break-word;
    font-size: var(--base-font-size);

    a {
        @apply text-primary hover:underline cursor-pointer;
    }

    .tag-link {
        @apply text-neutral-light cursor-pointer;
        @apply hover:text-primary hover:underline;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-semibold;
        text-wrap: pretty;
        margin-top: 1lh;

        a {
            @apply text-primary-extra-dark dark:text-primary-light;
        }
    }

    h1 {
        font-size: var(--h1-font-size);
        margin-top: 0;
    }

    h2 {
        font-size: var(--h2-font-size);
    }

    h3 {
        font-size: var(--h3-font-size);
    }

    h4 {
        font-size: var(--h4-font-size);
    }

    h5 {
        @apply font-bold;
    }

    h6 {
        @apply font-semibold underline;
    }

    ul {
        list-style-type: disc;
        margin-bottom: 1.1428571em;
        padding-inline-start: 1.5714286em;
    }

    li {
        margin-top: 0.2857143em;
        margin-bottom: 0.2857143em;

        & > p {
            @apply my-0;
        }

        li > figure {
            @apply my-0 inline-block;
            vertical-align: text-top;

            figcaption {
                @apply py-0 my-0;
            }
        }
    }

    li.task-list-item {
        list-style-type: none;
        margin-inline-start: -1em;
        .checkbox {
            @apply inline-flex size-5 relative top-1 me-1 -ms-1;

            &[aria-checked="true"] {
                svg path {
                    stroke-dashoffset: 0;
                }
            }
        }
    }

    ol {
        list-style-type: decimal;
        margin-bottom: 1.1428571em;
        padding-inline-start: 1.5714286em;
    }

    li ul,
    li ol {
        margin-bottom: 0;
    }

    blockquote {
        @apply font-serif italic text-neutral-extra-dark border-l border-neutral-dark ps-4;
        margin-top: 0.5lh;
        margin-bottom: 0.5lh;
    }

    & > img,
    .zoomable-image,
    & > figure img {
        max-height: 50dvh;
    }

    p {
        margin-top: 0.5lh;
        margin-bottom: 0.5lh;
    }

    hr {
        margin-top: 2.8571429em;
        margin-bottom: 2.8571429em;
    }

    .tag-link {
        @apply cursor-pointer;
    }

    .table-wrapper {
        @apply border border-neutral rounded-lg overflow-x-auto mt-4 mb-6 w-full;
        @apply border-neutral-extra-dark;
        table {
            margin: 0;
            width: 100%;
        }
    }

    table {
        @apply border-collapse;
    }

    thead {
        @apply font-semibold border-b border-neutral;
    }

    td {
        @apply p-2 border-x border-neutral;
        @apply border-neutral-extra-dark;

        &:first-child {
            @apply border-l-0;
        }

        &:last-child {
            @apply border-r-0;
        }
    }

    pre,
    .code-block {
        @apply overflow-x-auto p-4 rounded-lg shadow-sm;
        margin-top: 0.5lh;
        margin-bottom: 1lh;

        font-size: inherit;
        code {
            font-size: inherit;
        }
    }

    :where(code):not(pre > code) {
        @apply bg-surface-level-1;
    }

    .tag-link {
        @apply cursor-pointer;
    }

    .footnotes {
        @apply mt-4 border-t border-t-neutral;
        clear: both;
    }

    sup {
        font-size: var(--sm-font-size);
    }
}

.memo-actions {
    .memo-actions-lg {
        @apply hidden;
    }

    .memo-actions-md {
        @apply hidden;
        @apply h-11;
        .btn {
            @apply py-0;
        }
    }

    .dropdown-menu-btn {
        isolation: isolate;
    }

    @container (width >= 700px) {
        .memo-actions-lg {
            @apply flex;
        }

        .memo-actions-md {
            @apply hidden;
        }

        .memo-actions-sm {
            @apply hidden;
        }
    }
}
