:root {
    --appheader-height: calc(var(--spacing) * 15);
}

.appheader {
    @apply flex tablet:items-baseline gap-2 px-1 tablet:px-4 py-2;

    padding-top: max(env(safe-area-inset-top, 0), calc(var(--spacing) * 2));

    -webkit-app-region: drag;
    min-height: max(env(titlebar-area-height), var(--appheader-height));
    width: env(titlebar-area-width, 100%);
}

.appheader .settings-nav-button {
    @apply relative z-[1000];
    @apply size-10 px-0! py-0! text-lg aspect-square;
    --btn-border-color: var(--color-subtle-dark);
    @apply focus-visible:outline-2 focus-visible:outline-subtle-dark;
}

:root.dark .appheader .settings-nav-button {
    border-color: var(--color-subtle) !important;
}

body.platform-macos .appheader {
    @apply pe-4;

    & > .btn:first-child {
        @apply mt-6;
    }
}
