:root {
    /* --appheader-height: calc(var(--spacing) * 12); */
    --appheader-height: 0;

    @media (min-width: 768px) {
        --appheader-height: 0px;
    }
}

.appheader {
    @apply flex items-center gap-2 tablet:gap-4 p-2 pt-0;

    z-index: 1000;

    margin-top: max(env(safe-area-inset-top, 0), calc(var(--spacing) * 2));

    @media (min-width: 768px) {
        @apply hidden fixed mt-0 top-7 pt-0 left-1;
    }

    -webkit-app-region: drag;
    height: max(
        env(titlebar-area-height, var(--appheader-height)),
        var(--appheader-height)
    );
    width: env(titlebar-area-width, 100%);
}

.appheader .sidebar-offset {
    @apply -me-2;
    width: var(--sidebar-width);
}

.appheader .btn.outline-btn {
    @apply focus-visible:outline-2 focus-visible:outline-neutral-dark;
    --btn-border-color: var(--color-neutral-extra-light);
    --btn-bg: var(--color-neutral);

    &:hover {
        @apply shadow-sm;
        --btn-bg: transparent;
        --btn-color: var(--color-neutral-extra-dark);
        --btn-border-color: var(--color-neutral-light);
    }
}

.appheader .settings-nav-button {
    @apply relative z-[1000] px-1! py-0! text-lg size-10 tablet:size-8.5;

    svg {
        @apply size-4;
    }
}

:root.dark .appheader .settings-nav-button {
    /* biome-ignore lint/complexity/noImportantStyles: must be overriden */
    border-color: var(--color-neutral) !important;
}

body.platform-macos .appheader {
    @apply pe-4;

    & > .btn:first-child {
        @apply mt-6;
    }
}

@media (width < 1024px) {
    :root:has(.main-screen.has-subscreen),
    :root:has(.new-memo-screen) {
        .appheader {
            height: max(
                env(titlebar-area-height, var(--appheader-height)),
                var(--appheader-height)
                /* biome-ignore lint/complexity/noImportantStyles: must be overriden */
            ) !important;
        }

        .appheader > * {
            display: none;
        }
    }
}

@media (max-width: 1439px) {
    :root:has(.has-memo-list-sidebar) {
        .appheader {
            @apply top-10;
        }
    }
}
