.alert-dialog {
    @apply fixed bg-surface-level-1 border shadow-lg text-text;
    @apply max-w-3xl;
    @apply border-subtle-extra-light dark:border-subtle-extra-dark;
    @apply focus:outline-hidden;

    overflow: hidden;

    top: 50%;
    left: 50%;

    width: 100%;
    max-height: 85svh;
    height: fit-content;

    --scale: 1;
    --backdrop-opacity: 1;

    transform: translateX(-50%) translateY(-50%) scale(var(--scale));
    transition:
        opacity 150ms,
        transform 250ms;
    opacity: 1;

    @starting-style {
        /* biome-ignore lint/suspicious/noDuplicateCustomProperties: false positive due to nesting */
        --scale: 0.97;
        /* biome-ignore lint/suspicious/noDuplicateProperties: false positive due to nesting */
        opacity: 0;
    }
}

.alert-dialog-description {
    @apply text-sm text-subtle-extra-dark mb-2;
}

.alert-dialog-title + .alert-dialog-description {
    @apply -mt-2;
}

.alert-dialog-title {
    @apply font-medium text-xl mb-2;
}

.alert-dialog-btns {
    @apply flex gap-2 justify-end mt-6;
}

.alert-dialog::backdrop {
    @apply fixed inset-0;
    background-color: color-mix(
        in srgb,
        var(--color-modal-overlay-bg) 70%,
        transparent
    );
    transition: opacity 150ms;
    opacity: 1;

    @starting-style {
        /* biome-ignore lint/suspicious/noDuplicateProperties: false positive due to nesting */
        opacity: 0;
    }
}

.alert-dialog-icon {
    @apply text-danger pe-4;
    > svg {
        @apply size-10;
    }
}

.alert-dialog:has(.alert-dialog-icon) {
    @apply flex flex-wrap;

    .alert-dialog-title {
        width: 100%;
    }

    .alert-dialog-description {
        @apply flex-1;
        width: 100%;
    }

    .alert-dialog-btns {
        width: 100%;
    }
}

:root:has(.alert-dialog) {
    overflow: hidden !important;
    overscroll-behavior: contain !important;
}
