.alert-dialog {
    @apply fixed shadow-lg rounded-xl p-4;
    @apply max-w-3xl;
    @apply focus:outline-hidden;

    overflow: hidden;

    border: calc(var(--spacing) * 1) solid
        color-mix(in oklch, var(--color-surface-level-3) 20%, transparent);
    backdrop-filter: blur(6px) saturate(2.8) brightness(1.25);
    background: linear-gradient(var(--color-surface-level-1) 0 100%) padding-box;
    color: var(--surface-color);

    position-area: center;

    width: 85svw;
    max-height: 85svh;
    height: fit-content;

    --scale: 1;
    --backdrop-opacity: 1;

    transform: scale(var(--scale));
    transition:
        opacity 150ms,
        transform 250ms;
    opacity: 1;

    @starting-style {
        --scale: 0.97;
        opacity: 0;
    }
}

.alert-dialog-description {
    @apply text-sm mb-2;
}

.alert-dialog-title + .alert-dialog-description {
    @apply -mt-2;
}

.alert-dialog-title {
    @apply font-medium text-xl mb-2;
}

.alert-dialog-btns {
    @apply flex gap-2 justify-end mt-6;
}

.alert-dialog::backdrop {
    @apply fixed inset-0;
    background-color: color-mix(
        in srgb,
        var(--color-modal-overlay-bg) 70%,
        transparent
    );
    transition: opacity 150ms;
    opacity: 1;

    @starting-style {
        opacity: 0;
    }
}

.alert-dialog-icon {
    @apply text-danger pe-4;
    > svg {
        @apply size-10;
    }
}

.alert-dialog:has(.alert-dialog-icon) {
    @apply flex flex-wrap;

    .alert-dialog-title {
        width: 100%;
    }

    .alert-dialog-description {
        @apply flex-1;
        width: 100%;
    }

    .alert-dialog-btns {
        width: 100%;
    }
}

:root:has(.alert-dialog[open]) {
    /* biome-ignore lint/complexity/noImportantStyles: we really, really want this */
    overflow: hidden !important;
    /* biome-ignore lint/complexity/noImportantStyles: we really, really want this */
    overscroll-behavior: contain !important;
}
