:root {
    --font-monospace: "IBM Plex Mono", ui-monospace, SFMono-Regular, monospace;
    --editor-font-size: 16px;

    --color-body-bg: oklch(0.98 0.0034 247.86);
    --color-body-bg-contrast: oklch(0 0 0);
    --color-surface-level-1: oklch(1 0 0);
    --color-surface-level-2: oklch(0.98 0.0034 247.86);
    --color-modal-overlay-bg: oklch(29.28% 0.006 179.28);
    --color-text: oklch(0 0 0);

    --color-primary-extra-light: oklch(84.75% 0.075 224.9);
    --color-primary-light: oklch(78.22% 0.106 226.2);
    --color-primary: oklch(70.33% 0.135 231.62);
    --color-primary-dark: oklch(65.48% 0.128 232.07);
    --color-primary-extra-dark: oklch(60.19% 0.117 231.67);
    --color-primary-contrast: oklch(97.92% 0.01 219.59);

    --color-success-extra-light: oklch(84.94% 0.078 160.9);
    --color-success-light: oklch(79.31% 0.108 159.5);
    --color-success: oklch(71.6% 0.147 156.23);
    --color-success-dark: oklch(66.25% 0.135 156);
    --color-success-extra-dark: oklch(60.78% 0.123 156.31);
    --color-success-contrast: oklch(97.6% 0.013 159.92);

    --color-danger-extra-light: oklch(86.03% 0.04 12.11);
    --color-danger-light: oklch(80.54% 0.057 14.31);
    --color-danger: oklch(73.87% 0.08 15.19);
    --color-danger-dark: oklch(68.75% 0.098 15.85);
    --color-danger-extra-dark: oklch(62.58% 0.121 17.22);
    --color-danger-contrast: oklch(98.22% 0.004 17.23);

    --color-subtle-extra-light: oklch(89.09% 0.002 247.84);
    --color-subtle-light: oklch(78.79% 0.004 247.87);
    --color-subtle: oklch(67.24% 0.005 258.33);
    --color-subtle-dark: oklch(55.39% 0.006 247.93);
    --color-subtle-extra-dark: oklch(43.38% 0.004 247.92);
    --color-subtle-contrast: oklch(94.64% 0.001 286.37);

    --btn-regular-bg: var(--color-body-bg-contrast);
    --btn-regular-bg-hover: color-mix(in srgb, var(--btn-regular-bg) 90%, white);
    --btn-regular-bg-active: color-mix(
        in srgb,
        var(--btn-regular-bg) 70%,
        black
    );
    --btn-regular-border-color: color-mix(
        in srgb,
        var(--btn-regular-bg) 50%,
        black
    );
    --btn-regular-color: var(--color-body);

    --btn-bg: var(--btn-regular-bg);
    --btn-bg-hover: var(--btn-regular-bg-hover);
    --btn-bg-active: var(--btn-regular-bg-active);
    --btn-border-color: var(--btn-regular-border-color);
    --btn-color: var(--btn-regular-color);

    --btn-primary-bg: var(--color-primary);
    --btn-primary-bg-hover: var(--color-primary-dark);
    --btn-primary-bg-active: var(--color-primary-extra-dark);
    --btn-primary-border-color: var(--color-primary-dark);
    --btn-primary-color: var(--color-primary-contrast);

    --btn-success-bg: var(--color-success);
    --btn-success-bg-hover: var(--color-success-dark);
    --btn-success-bg-active: var(--color-success-extra-dark);
    --btn-success-border-color: var(--color-success-dark);
    --btn-success-color: var(--color-primary-contrast);

    --btn-danger-bg: var(--color-danger);
    --btn-danger-bg-hover: var(--color-danger-dark);
    --btn-danger-bg-active: var(--color-danger-extra-dark);
    --btn-danger-border-color: var(--color-danger-dark);
    --btn-danger-color: var(--color-danger-contrast);
}

.dark {
    --color-body-bg: oklch(
        0.21496131510656213 0.00246486817084567 325.66230610029424
    );
    --color-body-bg-contrast: oklch(
        0.8412168070067974 0.01053439356547655 48.59939637964099
    );
    --color-surface-level-1: oklch(
        0.24078573834312628 0.002395819327105188 325.6510174324751
    );
    --color-surface-level-2: oklch(
        0.26741243524915265 0.004668609801611464 325.70677584527596
    );
    --color-modal-overlay-bg: oklch(
        0.5510191039708331 0.023360896938901827 264.36374217448434
    );
    --color-text: oklch(
        0.8412168070067974 0.01053439356547655 48.59939637964099
    );

    --color-primary-contrast: oklch(
        0.9527282384202309 0.012412344195710728 240.53521393718086
    );
    --color-primary-extra-light: oklch(
        0.7298763532298476 0.0731183257479106 241.9703125949297
    );
    --color-primary-light: oklch(
        0.6350372266366745 0.09926748962029328 243.4014722697798
    );
    --color-primary: oklch(
        0.542765369786785 0.09540354763269283 244.06182899015465
    );
    --color-primary-dark: oklch(
        0.4592585825497692 0.07872530883484917 243.90476828296136
    );
    --color-primary-extra-dark: oklch(
        0.3826078038468626 0.06328737681309866 243.6971179910903
    );

    --color-success-contrast: oklch(
        0.9592862050858469 0.012973930588903677 155.03585607328037
    );
    --color-success-extra-light: oklch(
        0.7613436079296806 0.07809306850767608 153.2097090912914
    );
    --color-success-light: oklch(
        0.6801075488547674 0.10500694839707424 151.93978673741705
    );
    --color-success: oklch(
        0.5755540746066997 0.09569014632106197 151.61765090270674
    );
    --color-success-dark: oklch(
        0.48991777536290826 0.07961127111822909 151.7212343538657
    );
    --color-success-extra-dark: oklch(
        0.40473161536172886 0.06349381082033521 151.87352168251755
    );

    --color-danger-contrast: oklch(
        0.9440468755134146 0.02182954830624405 27.98666280939348
    );
    --color-danger-extra-light: oklch(
        0.6840575529144924 0.14930321054523146 30.29758795190429
    );
    --color-danger-light: oklch(
        0.6051914243701205 0.1970988426461886 31.584912776049137
    );
    --color-danger: oklch(
        0.5072560106034903 0.17089497553741922 31.62249447744992
    );
    --color-danger-dark: oklch(
        0.43116678079867105 0.14247731234816444 31.60564158970195
    );
    --color-danger-extra-dark: oklch(
        0.35369975969178524 0.1131868866344024 31.552308541958485
    );

    --color-subtle-contrast: oklch(0.9619021132615317 0 none);
    --color-subtle-extra-light: oklch(0.7732629065963612 0 none);
    --color-subtle-light: oklch(0.6912821545289294 0 none);
    --color-subtle: oklch(0.6102219741528873 0 none);
    --color-subtle-dark: oklch(0.5192307348537452 0 none);
    --color-subtle-extra-dark: oklch(0.4277916673693246 0 none);

    --btn-primary-bg: var(--color-primary);
    --btn-primary-bg-hover: var(--color-primary-dark);
    --btn-primary-bg-active: var(--color-primary-extra-dark);
    --btn-primary-border-color: var(--color-primary-dark);
    --btn-primary-color: var(--color-primary-contrast);

    --btn-success-bg: var(--color-success);
    --btn-success-bg-hover: var(--color-success-dark);
    --btn-success-bg-active: var(--color-success-extra-dark);
    --btn-success-border-color: var(--color-success-dark);
    --btn-success-color: var(--color-primary-contrast);

    --btn-danger-bg: var(--color-danger);
    --btn-danger-bg-hover: var(--color-danger-dark);
    --btn-danger-bg-active: var(--color-danger-extra-dark);
    --btn-danger-border-color: var(--color-danger-dark);
    --btn-danger-color: var(--color-danger-contrast);
}

/* Code */
:root {
    --code-foreground: #333333;
    --code-background: var(--color-surface-level-1);

    --code-selection-background: #4b69c6;
    --code-selection-foreground: var(--color-surface-level-1);

    --code-keyword: #4b69c6;
    --code-url: var(--code-keyword);
    --code-escape: var(--code-keyword);

    --code-name: #7a3e9d;
    --code-deleted: var(--code-name);
    --code-character: var(--code-name);
    --code-separator: var(--code-name);
    --code-atom: var(--code-name);
    --code-bool: var(--code-name);

    --code-propertyName: #aa3731;
    --code-labelName: var(--code-propertyName);
    --code-className: var(--code-propertyName);
    --code-heading: #4b69c6;

    --code-string: #448c27;
    --code-inserted: var(---code-string);
    --code-processingInstruction: var(---code-string);

    --code-number: #9c5d27;
    --code-constant: var(--code-number);
    --code-color: var(--code-number);
    --code-changed: var(--code-number);
    --code-modifier: var(--code-number);
    --code-self: var(--code-number);
    --code-namespace: var(--code-number);

    --code-comment: #aaaaaa;

    --code-invalid: #cd3131;
}

.dark {
    --code-foreground: #787c99;
    --code-background: var(--color-surface-level-1);

    --code-selection-background: #787c99;
    --code-selection-foreground: var(--color-surface-level-1);

    --code-name: #c0caf5;
    --code-keyword: #bb9af7;
    --code-constant: var(--code-keyword);
    --code-deleted: var(--code-name);
    --code-character: var(--code-name);
    --code-separator: var(--code-name);
    --code-atom: var(--code-name);
    --code-bool: var(--code-name);
    --code-className: var(--code-name);

    --code-url: #b4f9f8;
    --code-escape: #b4f9f8;

    --code-propertyName: #7aa2f7;
    --code-labelName: var(--code-variableName);

    --code-typeName: #0db9d7;

    --code-string: #9ece6a;
    --code-inserted: var(---code-string);
    --code-processingInstruction: var(---code-string);

    --code-number: #ff9e64;
    --code-color: var(--code-number);
    --code-changed: var(--code-number);
    --code-modifier: var(--code-number);
    --code-self: var(--code-number);
    --code-namespace: var(--code-number);

    --code-comment: #444b6a;

    --code-invalid: #ff5370;
}
