:root {
    --font-monospace: "IBM Plex Mono", ui-monospace, SFMono-Regular, monospace;
    --editor-font-size: 16px;

    /* LIGHT */
    --color-body-bg: oklch(1 0 none);
    --color-body-bg-contrast: oklch(
        0.8121176004264726 0.0055486795366074875 286.2754413828527
    );
    --color-surface-level-1: oklch(0.9791 0 0);
    --color-surface-level-2: oklch(0.9761 0 0);
    --color-surface-level-3: oklch(1 0 none);
    --color-surface-border: oklch(0.934 0 0);
    --color-text: oklch(
        0.33376242597354233 0.03149811465277374 287.10370894961204
    );
    --color-modal-overlay-bg: oklch(
        0.3493298443199242 0.027958668146576125 279.2651679991495
    );

    --color-primary-contrast: oklch(
        0.9593079735398351 0.017804360692627454 264.3189179592029
    );
    --color-primary-extra-light: oklch(
        0.9186153146225648 0.036148915536707925 264.21903726138873
    );
    --color-primary-light: oklch(
        0.699181349096122 0.1451570696686665 262.91773619069244
    );
    --color-primary: oklch(
        0.625327782244207 0.18578338847760956 262.2836910594871
    );
    --color-primary-dark: oklch(
        0.5307868277551019 0.23985862825831172 262.34786863465075
    );
    --color-primary-extra-dark: oklch(
        0.32772643951712527 0.13762660148524883 262.0305956787787
    );

    --color-success-contrast: oklch(
        0.9775503329706731 0.01789535319469093 136.90043342287814
    );
    --color-success-extra-light: oklch(
        0.9553209246547556 0.03593795181449032 136.95529365114348
    );
    --color-success-light: oklch(
        0.8235417716805035 0.14725983337469545 137.54445599229405
    );
    --color-success: oklch(
        0.7813406736780216 0.18122965235243765 137.9878632653638
    );
    --color-success-dark: oklch(
        0.7113236021780287 0.19626186316336916 138.63169231308737
    );
    --color-success-extra-dark: oklch(
        0.4266752075067108 0.11173822730776106 138.38132472712897
    );

    --color-danger-contrast: oklch(
        0.9514761292073936 0.01862944957095012 23.048424972168515
    );
    --color-danger-extra-light: oklch(
        0.9033682647596444 0.03830189485273601 23.327855041347483
    );
    --color-danger-light: oklch(
        0.629573511206021 0.1800710874555857 27.929740628458894
    );
    --color-danger: oklch(
        0.5627424772103355 0.19967593399714956 29.481544297798123
    );
    --color-danger-dark: oklch(
        0.47784972218479466 0.16704086118803413 29.378309628453206
    );
    --color-danger-extra-dark: oklch(
        0.29742957065359416 0.09621651199542848 28.809620744149292
    );

    --color-neutral-contrast: oklch(
        0.9529244319390684 0.0024576818828963764 261.3495634464626
    );
    --color-neutral-extra-light: oklch(
        0.9132536644486704 0.004556686470444329 261.34906281405074
    );
    --color-neutral-light: oklch(
        0.6304028019150232 0.02056738168333245 261.31301259165616
    );
    --color-neutral: oklch(
        0.5291941012967329 0.020696331000106195 261.2976631359558
    );
    --color-neutral-dark: oklch(
        0.4560965693859672 0.01735983607247956 261.30029507434676
    );
    --color-neutral-extra-dark: oklch(
        0.2856602835945519 0.009470984066512492 261.31184646774017
    );

    --btn-bg: var(--color-surface-level-1);
    --btn-bg-hover: var(--color-neutral-extra-light);
    --btn-bg-active: var(--color-neutral-extra-light);
    --btn-border-color: var(--color-neutral-extra-light);
    --btn-color: var(--color-text);

    --btn-primary-bg: var(--color-primary-dark);
    --btn-primary-bg-hover: var(--color-primary);
    --btn-primary-bg-active: var(--color-primary-dark);
    --btn-primary-border-color: var(--color-primary-extra-light);
    --btn-primary-color: var(--color-primary-contrast);

    --btn-danger-bg: var(--color-danger);
    --btn-danger-bg-hover: var(--color-danger-extra-light);
    --btn-danger-bg-active: var(--color-danger-dark);
    --btn-danger-border-color: var(--color-danger-light);
    --btn-danger-color: var(--color-danger-contrast);

    --glass-hightlight-intensity: 50%;
}

.dark {
    --color-body-bg: oklch(0 0 none);
    --color-body-bg-contrast: oklch(
        0.23991459451341274 0.007752981964964102 274.6164943534163
    );
    --color-surface-level-1: oklch(0.1913 0 0);
    --color-surface-level-2: oklch(0.2269 0.0019 286.25);
    --color-surface-level-3: oklch(0.2903 0.0054 286.06);
    --color-surface-border: oklch(0.3293 0.0017 286.3);
    --color-text: oklch(1.0000000000000002 0 none);
    --color-modal-overlay-bg: oklch(
        0.23991459451341274 0.007752981964964102 274.6164943534163
    );

    --color-primary-contrast: oklch(
        0.9567699023017434 0.006947286903899158 215.94121834431942
    );
    --color-primary-extra-light: oklch(
        0.9131872968310151 0.013969687127081597 215.98203254423328
    );
    --color-primary-light: oklch(
        0.6369074605660534 0.05741904950218202 216.9524729111565
    );
    --color-primary: oklch(
        0.5264919748535194 0.047871868449329336 216.97065977247507
    );
    --color-primary-dark: oklch(
        0.44848927367180447 0.0397474583116829 216.9172369659108
    );
    --color-primary-extra-dark: oklch(
        0.29166467236429006 0.023151235194830033 216.72238158938848
    );

    --color-success-contrast: oklch(
        0.9764403987561733 0.017899958843892904 140.14550272504582
    );
    --color-success-extra-light: oklch(
        0.9531171818425724 0.03595785572151465 140.12445262473696
    );
    --color-success-light: oklch(
        0.8152276871628413 0.1477321045134907 140.0661294243009
    );
    --color-success: oklch(
        0.7723701055273537 0.18131817613700818 140.17383927180066
    );
    --color-success-dark: oklch(
        0.700814368037119 0.19728877539269774 140.45108726042812
    );
    --color-success-extra-dark: oklch(
        0.4206495788575725 0.11229982816301451 140.3343026240954
    );

    --color-danger-contrast: oklch(
        0.9514761292073936 0.01862944957095012 23.048424972168515
    );
    --color-danger-extra-light: oklch(
        0.9033682647596444 0.03830189485273601 23.327855041347483
    );
    --color-danger-light: oklch(
        0.629573511206021 0.1800710874555857 27.929740628458894
    );
    --color-danger: oklch(
        0.5627424772103355 0.19967593399714956 29.481544297798123
    );
    --color-danger-dark: oklch(
        0.47784972218479466 0.16704086118803413 29.378309628453206
    );
    --color-danger-extra-dark: oklch(
        0.29742957065359416 0.09621651199542848 28.809620744149292
    );

    --color-neutral-contrast: oklch(
        0.9533769981791013 0.0009364860271697715 286.38183601049474
    );
    --color-neutral-extra-light: oklch(
        0.9140859067755436 0.0017354811170507119 286.36523280010283
    );
    --color-neutral-light: oklch(
        0.6251430187998572 0.008002459416565348 286.16592160628215
    );
    --color-neutral: oklch(
        0.5290581789799875 0.007784533284869123 286.1306119922891
    );
    --color-neutral-dark: oklch(
        0.4498542694954821 0.006424204552064013 286.1386190876261
    );
    --color-neutral-extra-dark: oklch(
        0.28722767612010475 0.003591889158692337 286.17136941953794
    );

    --glass-hightlight-intensity: 10%;
    --surface-level-2-glow-size: 3px;
}

/* Code */
:root {
    --code-foreground: #333333;
    --code-background: var(--color-surface-level-1);

    --code-selection-background: #4b69c6;
    --code-selection-foreground: var(--color-surface-level-1);

    --code-keyword: #4b69c6;
    --code-url: var(--code-keyword);
    --code-escape: var(--code-keyword);

    --code-name: #7a3e9d;
    --code-deleted: var(--code-name);
    --code-character: var(--code-name);
    --code-separator: var(--code-name);
    --code-atom: var(--code-name);
    --code-bool: var(--code-name);

    --code-propertyName: #aa3731;
    --code-labelName: var(--code-propertyName);
    --code-className: var(--code-propertyName);
    --code-heading: #4b69c6;

    --code-string: #448c27;
    --code-inserted: var(---code-string);
    --code-processingInstruction: var(---code-string);

    --code-number: #9c5d27;
    --code-constant: var(--code-number);
    --code-color: var(--code-number);
    --code-changed: var(--code-number);
    --code-modifier: var(--code-number);
    --code-self: var(--code-number);
    --code-namespace: var(--code-number);

    --code-comment: #aaaaaa;

    --code-invalid: #cd3131;
}

.dark {
    --code-foreground: #787c99;
    --code-background: var(--color-surface-level-1);

    --code-selection-background: #787c99;
    --code-selection-foreground: var(--color-surface-level-1);

    --code-name: #c0caf5;
    --code-keyword: #bb9af7;
    --code-constant: var(--code-keyword);
    --code-deleted: var(--code-name);
    --code-character: var(--code-name);
    --code-separator: var(--code-name);
    --code-atom: var(--code-name);
    --code-bool: var(--code-name);
    --code-className: var(--code-name);

    --code-url: #b4f9f8;
    --code-escape: #b4f9f8;

    --code-propertyName: #7aa2f7;
    --code-labelName: var(--code-variableName);

    --code-typeName: #0db9d7;

    --code-string: #9ece6a;
    --code-inserted: var(---code-string);
    --code-processingInstruction: var(---code-string);

    --code-number: #ff9e64;
    --code-color: var(--code-number);
    --code-changed: var(--code-number);
    --code-modifier: var(--code-number);
    --code-self: var(--code-number);
    --code-namespace: var(--code-number);

    --code-comment: #444b6a;

    --code-invalid: #ff5370;
}
