.rosepine {
    --color-body-bg: oklch(0.97 0.0103 67.7);
    --color-body-bg-contrast: oklch(0.21 0.0235 291.91);
    --color-surface-level-1: oklch(0.99 0.0096 72.66);
    --color-surface-level-2: oklch(0.94 0.0136 60.57);
    --color-modal-overlay-bg: oklch(0.21 0.0235 291.91);
    --color-text: oklch(0.46 0.0598 290.02);

    --color-primary-extra-light: oklch(71.74% 0.083 225.13);
    --color-primary-light: oklch(61.96% 0.095 228.02);
    --color-primary: oklch(49.14% 0.073 227.07);
    --color-primary-dark: oklch(41.82% 0.061 228.27);
    --color-primary-extra-dark: oklch(34.39% 0.048 226.23);
    --color-primary-contrast: oklch(94.99% 0.015 222.68);

    --color-success-extra-light: oklch(78% 0.041 210.39);
    --color-success-light: oklch(70.91% 0.054 209.91);
    --color-success: oklch(63% 0.063 209.42);
    --color-success-dark: oklch(53.87% 0.053 209.43);
    --color-success-extra-dark: oklch(43.67% 0.042 211.68);
    --color-success-contrast: oklch(96.59% 0.007 208.78);

    --color-danger-contrast: oklch(95.59% 0.009 0.13);
    --color-danger-extra-light: oklch(76.11% 0.056 1.19);
    --color-danger-light: oklch(68.24% 0.078 2.17);
    --color-danger: oklch(59.96% 0.102 3.09);
    --color-danger-dark: oklch(51.1% 0.102 4.44);
    --color-danger-extra-dark: oklch(41.71% 0.081 4.13);

    --color-subtle-extra-light: oklch(75.43% 0.023 291.59);
    --color-subtle-light: oklch(66.44% 0.034 293.43);
    --color-subtle: oklch(57.6% 0.043 291.54);
    --color-subtle-dark: oklch(48.98% 0.037 290.96);
    --color-subtle-extra-dark: oklch(40.42% 0.03 292.64);
    --color-subtle-contrast: oklch(95.9% 0.004 286.32);

    --btn-primary-bg: var(--color-primary);
    --btn-primary-bg-hover: var(--color-primary-dark);
    --btn-primary-bg-active: var(--color-primary-extra-dark);
    --btn-primary-border-color: var(--color-primary-dark);
    --btn-primary-color: var(--color-primary-contrast);

    --btn-success-bg: var(--color-success);
    --btn-success-bg-hover: var(--color-success-dark);
    --btn-success-bg-active: var(--color-success-extra-dark);
    --btn-success-border-color: var(--color-success-dark);
    --btn-success-color: var(--color-primary-contrast);

    --btn-danger-bg: var(--color-danger);
    --btn-danger-bg-hover: var(--color-danger-dark);
    --btn-danger-bg-active: var(--color-danger-extra-dark);
    --btn-danger-border-color: var(--color-danger-dark);
    --btn-danger-color: var(--color-danger-contrast);
}

.rosepine.dark {
    --color-body-bg: oklch(0.21335496492220637 0.02546580818173689 291.13101604497456);
    --color-body-bg-contrast: oklch(0.9087872066537407 0.029850444474483703 289.9690146849295);
    --color-surface-level-1: oklch(0.24133392623321412 0.032223763680210606 289.1358615543482);
    --color-surface-level-2: oklch(0.2695944507143881 0.038705359632183814 290.09583664731065);
    --color-modal-overlay-bg: oklch(0.5510191039708331 0.023360896938901827 264.36374217448434);
    --color-text: oklch(0.9087872066537407 0.029850444474483703 289.9690146849295);

    --color-primary-contrast: oklch(0.9570627230969588 0.012767408223020077 223.7039528555545);
    --color-primary-extra-light: oklch(0.7365434047280354 0.07724990800020226 225.5776511966092);
    --color-primary-light: oklch(0.6476645842718313 0.09942586647173776 227.9344731319646);
    --color-primary: oklch(0.5272444125849125 0.07924291197260142 227.72040534798577);
    --color-primary-dark: oklch(0.44999341238679524 0.06620148745094312 227.51947020433238);
    --color-primary-extra-dark: oklch(0.3758103096497641 0.05356340803898685 227.2465868752055);

    --color-success-contrast: oklch(0.9801727725768333 0.006153811187318994 209.45179435590953);
    --color-success-extra-light: oklch(0.8943767396854586 0.032632839943031254 209.43771497602503);
    --color-success-light: oklch(0.8549718009109023 0.04457029567244955 209.48165133565848);
    --color-success: oklch(0.8216635735655101 0.05443283709586522 209.5598367604076);
    --color-success-dark: oklch(0.7260747415942953 0.0803776573383437 210.16873414371636);
    --color-success-extra-dark: oklch(0.616140960908905 0.08240465762805707 210.8783863002462);

    --color-danger-contrast: oklch(0.9697922150935224 0.01312940953596815 358.1689529684512);
    --color-danger-extra-light: oklch(0.8133073848208572 0.08957731061019883 0.8029022557514274);
    --color-danger-light: oklch(0.7495176437162799 0.1254122156547627 2.4179950793723806);
    --color-danger: oklch(0.6973575651363175 0.15665211330683798 4.237553927745942);
    --color-danger-dark: oklch(0.605441990293792 0.21180601256470916 10.501504911787725);
    --color-danger-extra-dark: oklch(0.5077053562752977 0.1890325202026138 12.739071284762895);

    --color-subtle-contrast: oklch(0.9591327656330187 0.0033776004425749803 293.6965457530442);
    --color-subtle-extra-light: oklch(0.747728819291994 0.021652997872317534 293.21674432746033);
    --color-subtle-light: oklch(0.6591760247469329 0.02984383464567235 292.90444347004944);
    --color-subtle: oklch(0.5714446888664121 0.038398229308737736 292.4775617750913);
    --color-subtle-dark: oklch(0.48490812703127467 0.03226331763680332 292.4905534948708);
    --color-subtle-extra-dark: oklch(0.3983724375981032 0.025413846926459795 292.5443993767239);

    --btn-primary-bg: var(--color-primary);
    --btn-primary-bg-hover: var(--color-primary-dark);
    --btn-primary-bg-active: var(--color-primary-extra-dark);
    --btn-primary-border-color: var(--color-primary-dark);
    --btn-primary-color: var(--color-primary-contrast);

    --btn-success-bg: var(--color-success);
    --btn-success-bg-hover: var(--color-success-dark);
    --btn-success-bg-active: var(--color-success-extra-dark);
    --btn-success-border-color: var(--color-success-dark);
    --btn-success-color: var(--color-primary-contrast);

    --btn-danger-bg: var(--color-danger);
    --btn-danger-bg-hover: var(--color-danger-dark);
    --btn-danger-bg-active: var(--color-danger-extra-dark);
    --btn-danger-border-color: var(--color-danger-dark);
    --btn-danger-color: var(--color-danger-contrast);
}

/* Code */
.rosepine {
    --code-foreground: #575279;
    --code-background: #faf4ed;

    --code-selection-background: #575279;
    --code-selection-foreground: #faf4ed;

    --code-keyword: #d7827e;
    --code-url: var(--code-keyword);
    --code-escape: var(--code-keyword);

    --code-name: #907aa9;
    --code-deleted: var(--code-name);
    --code-character: var(--code-name);
    --code-separator: var(--code-name);
    --code-atom: var(--code-name);
    --code-bool: var(--code-name);

    --code-propertyName: #575279;
    --code-labelName: var(--code-propertyName);
    --code-className: var(--code-propertyName);

    --code-heading: #9893a5;

    --code-string: #ea9d34;
    --code-inserted: var(---code-string);
    --code-processingInstruction: var(---code-string);

    --code-number: #d7827e;
    --code-constant: var(--code-number);
    --code-color: var(--code-number);
    --code-changed: var(--code-number);
    --code-modifier: var(--code-number);
    --code-self: var(--code-number);
    --code-namespace: var(--code-number);

    --code-comment: #797593;

    --code-invalid: #d7827e;
}

.rosepine.dark {
    --code-foreground: #e0def4;
    --code-background: #191724;

    --code-selection-background: #e0def4;
    --code-selection-foreground: #191724;

    --code-keyword: #ebbcba;
    --code-url: var(--code-keyword);
    --code-escape: var(--code-keyword);

    --code-name: #c4a7e7;
    --code-deleted: var(--code-name);
    --code-character: var(--code-name);
    --code-separator: var(--code-name);
    --code-atom: var(--code-name);
    --code-bool: var(--code-name);

    --code-propertyName: #e0def4;
    --code-labelName: var(--code-propertyName);
    --code-className: var(--code-propertyName);

    --code-heading: #6e6a86;

    --code-string: #f6c177;
    --code-inserted: var(---code-string);
    --code-processingInstruction: var(---code-string);

    --code-number: #ebbcba;
    --code-constant: var(--code-number);
    --code-color: var(--code-number);
    --code-changed: var(--code-number);
    --code-modifier: var(--code-number);
    --code-self: var(--code-number);
    --code-namespace: var(--code-number);

    --code-comment: #908caa;

    --code-invalid: #ebbcba;
}
