.select-input {
    @apply flex items-center gap-2 justify-between px-2 py-1 bg-surface text-body-contrast min-w-fit;
}

.select-label {
    @apply flex mb-2 text-sm font-medium;
}

.select-list {
    @apply p-1 overflow-auto rounded-md bg-surface shadow-lg space-y-1;
    @apply ring-1 ring-black/50;
    @apply dark:border dark:border-subtle-extra-dark;

    min-width: var(--trigger-width);
    z-index: 9999;

    &[data-state="open"] {
        @apply animate-in fade-in zoom-in-95;
    }

    &[data-state="closed"] {
        @apply animate-out fade-out zoom-out-95;
    }
}

.select-group {
    @apply mt-2;
}

.select-item {
    @apply w-full rounded-md px-2 py-1 box-border outline-hidden;
    @apply cursor-pointer;

    min-width: max-content;

    &:hover,
    &:focus,
    &[data-focused] {
        @apply bg-subtle text-text;
    }

    &:active {
        @apply bg-primary text-primary-contrast;
    }

    &[data-disabled] {
        @apply opacity-40 cursor-default;

        &:hover {
            @apply bg-transparent;
        }

        &:active {
            @apply text-text bg-transparent;
        }
    }
}
