.select {
    @apply ps-2 pe-4 py-2 w-full rounded-2xl -me-8;
    appearance: none;

    &:hover {
        @apply border-primary-light;
    }

    &:focus-visible {
        @apply outline-offset-2 outline-2 outline-primary-light;
    }

    &:focus:not(:focus-visible) {
        @apply outline-none;
    }

    &[disabled] {
        @apply text-neutral-dark bg-surface-level-2 cursor-default;

        &:hover {
            @apply border-neutral;
        }
    }
}

.select-wrapper {
    @apply w-fit rounded-2xl flex items-center bg-surface-level-1 border border-neutral-extra-light;
    @apply hover:border-neutral-dark;

    .select-arrow {
        justify-self: end;
        pointer-events: none;
    }

    &:focus-visible {
        @apply elevation-2;
    }
}

.select-label {
    @apply mb-2 text-sm font-medium;
}
