.select {
    @apply px-2 py-1 bg-surface-level-1 min-w-fit cursor-pointer;
    appearance: none;

    &:hover {
        @apply border-primary-light;
    }

    &:focus-visible {
        @apply outline-offset-2 outline-2 outline-primary-light;
    }

    &:focus:not(:focus-visible) {
        @apply outline-none;
    }

    &[disabled] {
        @apply text-subtle-dark bg-surface-level-2 cursor-default;

        &:hover {
            @apply border-subtle;
        }
    }
}

.select-wrapper {
    @apply w-fit;
    display: grid;
    grid-template-areas: "select";
    grid-area: select;
    align-items: center;

    select {
        grid-area: select;
    }

    .select-arrow {
        @apply me-2;
        grid-area: select;
        justify-self: end;
    }
}

.select-label {
    @apply mb-2 text-sm font-medium;
}
