.input-field label {
    @apply flex mb-2 text-sm font-medium;

    .required-icon {
        @apply text-danger size-3;
    }
}

.input {
    @apply appearance-none bg-surface-level-1 border border-neutral-extra-light rounded-2xl ring ring-transparent text-text p-2;
    @apply hover:border-neutral-dark;
    @apply focus:ring-1 focus:outline-none focus:ring-primary-light;
    @apply dark:border-neutral-extra-dark;

    width: 100%;

    &[data-invalid] {
        @apply border-danger focus:ring-danger;
    }

    &.has-icon {
        @apply pl-8;
    }
}

.input-field .icon {
    @apply text-neutral absolute inset-y-0 left-0 flex items-center p-1 pl-2;
}

.input-field:has(input[data-invalid]) .icon {
    @apply text-danger;
}

.input-field .description {
    @apply mt-2;
}

.field-message {
    @apply block border border-danger-dark bg-danger text-danger-contrast rounded-2xl p-2;
}

.checkbox {
    @apply flex size-6 appearance-none items-center justify-center rounded-sm bg-surface-level-1 border border-neutral outline-hidden text-primary;

    svg path {
        stroke: currentColor;
        fill: transparent;
        stroke-dasharray: 590;
        stroke-dashoffset: 590;
        transition: stroke-dashoffset 0.2s;
    }
}

.checkbox-field {
    @apply flex items-center gap-2 cursor-pointer w-fit text-sm font-medium;
    @apply focus-visible:outline-primary focus-visible:outline-offset-0;

    &:has(:focus-visible) {
        @apply outline outline-primary outline-offset-2 rounded-sm;
    }

    &:hover {
        .checkbox {
            @apply border-primary;
        }
    }

    &:has(:checked) {
        .checkbox {
            svg path {
                stroke-dashoffset: 0;
            }
        }
    }
}

.radio-group {
    @apply flex flex-col items-start gap-2;
}

.radio-item {
    @apply flex items-center gap-2 cursor-pointer;

    & > button {
        @apply flex size-5 items-center justify-center;
        @apply rounded-full border outline-none;
        @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary;

        &[data-unchecked] {
            @apply border-neutral;
        }

        &[data-checked] {
            @apply bg-primary;
        }
    }
}

.radio-indicator {
    @apply flex before:size-2 before:rounded-full before:bg-gray-50;

    /* biome-ignore lint/style/noDescendingSpecificity: false positive due to container query */
    &[data-unchecked] {
        @apply hidden;
    }
}
