.info-popover-trigger {
    @apply cursor-pointer border border-neutral-light rounded-lg p-1;
    transition:
        background 150ms,
        color 150ms;

    &:hover {
        @apply border-neutral-dark bg-surface-level-2;
    }

    &:active,
    &.is-open {
        @apply bg-primary border-primary-dark text-primary-contrast shadow-md;
    }
}

.info-popover {
    @apply absolute p-1 overflow-visible rounded-md surface-level-2 elevation-2;
    margin: 0;
    inset: auto;
    top: calc(anchor(bottom) + 5px);
    justify-self: anchor-center;
    min-width: anchor-size(width);

    transition:
        opacity 150ms cubic-bezier(0, 0.72, 0.74, 1),
        transform 150ms cubic-bezier(0, 0.72, 0.74, 1);

    &:popover-open {
        opacity: 1;
        transform: scale(1);
    }

    @starting-style {
        &:popover-open {
            opacity: 0.95;
            transform: scale(0.95);
        }
    }

    .info-popover-content {
        @apply py-1 px-3 w-fit max-w-[90dvw] xs:max-w-xl;
    }
}
