.info-popover-trigger {
    @apply cursor-pointer border border-transparent rounded-lg p-2 text-lg;
    transition:
        background 150ms,
        border-color 150ms,
        color 150ms;

    &:hover {
        @apply border-subtle-light bg-surface-level-1;
    }

    &:active,
    &[data-pressed] {
        @apply border-subtle-extra-dark bg-subtle-dark text-subtle-contrast;
    }
}

.info-popover {
    @apply drop-shadow-lg;

    .info-popover-content {
        @apply py-1 px-3 w-fit max-w-[90dvw] xs:max-w-xl relative;
        @apply rounded-lg;
        @apply text-text;

        --arrow-angle: 90deg;
        --arrow-height: 1em;

        --arrow-left: 50%;
        --border-width: 1px;

        background: var(--color-subtle-light);

        &::before {
            content: "";
            position: absolute;
            z-index: -1;
            inset: 0;
            padding: var(--border-width);
            border-radius: inherit;
        }
    }

    &[data-placement="bottom"] {
        .info-popover-content {
            clip-path: polygon(
                0 0,
                0 100%,
                100% 100%,
                100% 0,
                min(
                        100%,
                        var(--arrow-left) +
                        var(--arrow-height) *
                        tan(var(--arrow-angle) / 2)
                    )
                    0,
                var(--arrow-left) calc(-1 * var(--arrow-height)),
                max(
                        0%,
                        var(--arrow-left) -
                        var(--arrow-height) *
                        tan(var(--arrow-angle) / 2)
                    )
                    0
            );
            border-image:
                conic-gradient(var(--color-subtle-light) 0 0) fill 0 / 0
                max(
                    0%,
                    100% -
                    var(--arrow-left) -
                    var(--arrow-height) *
                    tan(var(--arrow-angle) / 2)
                )
                var(--radius-lg)
                max(
                    0%,
                    var(--arrow-left) -
                    var(--arrow-height) *
                    tan(var(--arrow-angle) / 2)
                )
                / var(--arrow-height) 0 0 0;

            &::before {
                clip-path: polygon(
                    0 0,
                    0 100%,
                    100% 100%,
                    100% 0,
                    min(
                            100% -
                            var(--border-width),
                            var(--arrow-left) +
                            var(--arrow-height) *
                            tan(var(--arrow-angle) / 2) -
                            var(--border-width) *
                            tan(45deg - var(--arrow-angle) / 4)
                        )
                        var(--border-width),
                    var(--arrow-left)
                        calc(
                            var(--border-width) /
                            sin(var(--arrow-angle) / 2) -
                            var(--arrow-height)
                        ),
                    max(
                            var(--border-width),
                            var(--arrow-left) -
                            var(--arrow-height) *
                            tan(var(--arrow-angle) / 2) +
                            var(--border-width) *
                            tan(45deg - var(--arrow-angle) / 4)
                        )
                        var(--border-width)
                );
                background: var(--color-surface-level-1) content-box;
                border-image:
                    conic-gradient(var(--color-surface-level-1) 0 0) fill 0 / 0
                    max(
                        var(--border-width),
                        100% -
                        var(--arrow-left) -
                        var(--arrow-height) *
                        tan(var(--arrow-angle) / 2)
                    )
                    var(--radius-lg)
                    max(
                        var(--border-width),
                        var(--arrow-left) -
                        var(--arrow-height) *
                        tan(var(--arrow-angle) / 2)
                    )
                    / var(--arrow-height) 0 0 0;
            }
        }
        &[data-entering] .info-popover-content {
            @apply animate-in fade-in slide-in-from-top-1;
        }

        &[data-exiting] .info-popover-content {
            @apply animate-out fade-out slide-out-to-top-1;
        }
    }

    &[data-placement="top"] {
        .info-popover-content {
            clip-path: polygon(
                0 100%,
                0 0,
                100% 0,
                100% 100%,
                min(
                        100%,
                        var(--arrow-left) +
                        var(--arrow-height) *
                        tan(var(--arrow-angle) / 2)
                    )
                    100%,
                var(--arrow-left) calc(100% + var(--arrow-height)),
                max(
                        0%,
                        var(--arrow-left) -
                        var(--arrow-height) *
                        tan(var(--arrow-angle) / 2)
                    )
                    100%
            );
            border-image:
                conic-gradient(var(--color-subtle-light) 0 0) fill 0 /
                var(--radius-lg)
                max(
                    0%,
                    100% -
                    var(--arrow-left) -
                    var(--arrow-height) *
                    tan(var(--arrow-angle) / 2)
                )
                0
                max(
                    0%,
                    var(--arrow-left) -
                    var(--arrow-height) *
                    tan(var(--arrow-angle) / 2)
                )
                / 0 0 var(--arrow-height) 0;

            &::before {
                clip-path: polygon(
                    0 100%,
                    0 0,
                    100% 0,
                    100% 100%,
                    min(
                            100% -
                            var(--border-width),
                            var(--arrow-left) +
                            var(--arrow-height) *
                            tan(var(--arrow-angle) / 2) -
                            var(--border-width) *
                            tan(45deg - var(--arrow-angle) / 4)
                        )
                        calc(100% - var(--border-width)),
                    var(--arrow-left)
                        calc(
                            100% +
                            var(--arrow-height) -
                            var(--border-width) /
                            sin(var(--arrow-angle) / 2)
                        ),
                    max(
                            var(--border-width),
                            var(--arrow-left) -
                            var(--arrow-height) *
                            tan(var(--arrow-angle) / 2) +
                            var(--border-width) *
                            tan(45deg - var(--arrow-angle) / 4)
                        )
                        calc(100% - var(--border-width))
                );
                background: var(--color-surface-level-1) content-box;
                border-image:
                    conic-gradient(var(--color-surface-level-1) 0 0) fill 0 /
                    var(--radius-lg)
                    max(
                        var(--border-width),
                        100% -
                        var(--arrow-left) -
                        var(--arrow-height) *
                        tan(var(--arrow-angle) / 2)
                    )
                    0
                    max(
                        var(--border-width),
                        var(--arrow-left) -
                        var(--arrow-height) *
                        tan(var(--arrow-angle) / 2)
                    )
                    / 0 0 var(--arrow-height) 0;
            }
        }

        &[data-entering] .info-popover-content {
            @apply animate-in fade-in slide-in-from-bottom-1;
        }

        &[data-exiting] .info-popover-content {
            @apply animate-out fade-out slide-out-to-bottom-1;
        }
    }

    &[data-placement="right"] {
        .info-popover-content {
            clip-path: polygon(
                0 0,
                100% 0,
                100% 100%,
                0 100%,
                0
                    min(
                        100%,
                        var(--arrow-left) +
                        var(--arrow-height) *
                        tan(var(--arrow-angle) / 2)
                    ),
                calc(-1 * var(--arrow-height)) var(--arrow-left),
                0
                    max(
                        0%,
                        var(--arrow-left) -
                        var(--arrow-height) *
                        tan(var(--arrow-angle) / 2)
                    )
            );
            border-image:
                conic-gradient(var(--color-subtle-light) 0 0) fill 0 /
                max(
                    0%,
                    var(--arrow-left) -
                    var(--arrow-height) *
                    tan(var(--arrow-angle) / 2)
                )
                var(--radius-lg)
                max(
                    0%,
                    100% -
                    var(--arrow-left) -
                    var(--arrow-height) *
                    tan(var(--arrow-angle) / 2)
                )
                0 / 0 0 0 var(--arrow-height);

            &::before {
                clip-path: polygon(
                    0 0,
                    100% 0,
                    100% 100%,
                    0 100%,
                    var(--border-width)
                        min(
                            100% -
                            var(--border-width),
                            var(--arrow-left) +
                            var(--arrow-height) *
                            tan(var(--arrow-angle) / 2) -
                            var(--border-width) *
                            tan(45deg - var(--arrow-angle) / 4)
                        ),
                    calc(
                            var(--border-width) /
                            sin(var(--arrow-angle) / 2) -
                            var(--arrow-height)
                        )
                        var(--arrow-left),
                    var(--border-width)
                        max(
                            var(--border-width),
                            var(--arrow-left) -
                            var(--arrow-height) *
                            tan(var(--arrow-angle) / 2) +
                            var(--border-width) *
                            tan(45deg - var(--arrow-angle) / 4)
                        )
                );
                background: var(--color-surface-level-1) content-box;
                border-image:
                    conic-gradient(var(--color-surface-level-1) 0 0) fill 0 /
                    max(
                        var(--border-width),
                        var(--arrow-left) -
                        var(--arrow-height) *
                        tan(var(--arrow-angle) / 2)
                    )
                    var(--radius-lg)
                    max(
                        var(--border-width),
                        100% -
                        var(--arrow-left) -
                        var(--arrow-height) *
                        tan(var(--arrow-angle) / 2)
                    )
                    0 / 0 0 0 var(--arrow-height);
            }
        }

        &[data-entering] .info-popover-content {
            @apply animate-in fade-in slide-in-from-right-1;
        }

        &[data-exiting] .info-popover-content {
            @apply animate-out fade-out slide-out-to-right-1;
        }
    }

    &[data-placement="left"] {
        .info-popover-content {
            clip-path: polygon(
                100% 0,
                0 0,
                0 100%,
                100% 100%,
                100%
                    min(
                        100%,
                        var(--arrow-left) +
                        var(--arrow-height) *
                        tan(var(--arrow-angle) / 2)
                    ),
                calc(100% + var(--arrow-height)) var(--arrow-left),
                100%
                    max(
                        0%,
                        var(--arrow-left) -
                        var(--arrow-height) *
                        tan(var(--arrow-angle) / 2)
                    )
            );
            border-image:
                conic-gradient(var(--color-subtle-light) 0 0) fill 0 /
                max(
                    0%,
                    var(--arrow-left) -
                    var(--arrow-height) *
                    tan(var(--arrow-angle) / 2)
                )
                0
                max(
                    0%,
                    100% -
                    var(--arrow-left) -
                    var(--arrow-height) *
                    tan(var(--arrow-angle) / 2)
                )
                var(--radius-lg) / 0 var(--arrow-height) 0 0;

            &::before {
                clip-path: polygon(
                    100% 0,
                    0 0,
                    0 100%,
                    100% 100%,
                    calc(100% - var(--border-width))
                        min(
                            100% -
                            var(--border-width),
                            var(--arrow-left) +
                            var(--arrow-height) *
                            tan(var(--arrow-angle) / 2) -
                            var(--border-width) *
                            tan(45deg - var(--arrow-angle) / 4)
                        ),
                    calc(
                            100% +
                            var(--arrow-height) -
                            var(--border-width) /
                            sin(var(--arrow-angle) / 2)
                        )
                        var(--arrow-left),
                    calc(100% - var(--border-width))
                        max(
                            var(--border-width),
                            var(--arrow-left) -
                            var(--arrow-height) *
                            tan(var(--arrow-angle) / 2) +
                            var(--border-width) *
                            tan(45deg - var(--arrow-angle) / 4)
                        )
                );
                background: var(--color-surface-level-1) content-box;
                border-image:
                    conic-gradient(var(--color-surface-level-1) 0 0) fill 0 /
                    max(
                        var(--border-width),
                        var(--arrow-left) -
                        var(--arrow-height) *
                        tan(var(--arrow-angle) / 2)
                    )
                    0
                    max(
                        var(--border-width),
                        100% -
                        var(--arrow-left) -
                        var(--arrow-height) *
                        tan(var(--arrow-angle) / 2)
                    )
                    var(--radius-lg) / 0 var(--arrow-height) 0 0;
            }
        }

        &[data-entering] .info-popover-content {
            @apply animate-in fade-in slide-in-from-left-1;
        }

        &[data-exiting] .info-popover-content {
            @apply animate-out fade-out slide-out-to-left-1;
        }
    }
}
