.loader {
    @apply size-12;
    position: relative;

    aspect-ratio: 1;
    border-radius: 45%;
    background: var(--color-primary);
    box-shadow: 0 0 0 0
        color-mix(in oklch, var(--color-primary) 40%, transparent);
    animation: loading 1.5s infinite linear;

    &::before,
    &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 45%;
        box-shadow: 0 0 0 0
            color-mix(in oklch, var(--color-primary) 40%, transparent);
        animation: inherit;
        animation-delay: -0.5s;
    }

    &::after {
        animation-delay: -1s;
    }
}

@keyframes loading {
    100% {
        box-shadow: 0 0 0 40px #0000;
    }
}
